<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  width="5300px" height="5300px" viewBox="0 0 5300 5300" style="enable-background:new 0 0 5300 5300;"
  xml:space="preserve">
  <style type="text/css">
    .st1 {
      fill: none;
      stroke: #00BED7;
      stroke-width: 7;
      stroke-miterlimit: 10;
    }
  </style>
  <defs>
    <mask class="about-logo-mask" id="logoMask">
      <path class="st2 logo-mask js-logo-mask" fill="none" style="stroke:none; fill: #ffffff" d="M2745.91,2724.256c-0.147-43.63-11.856-156.033-14.25-174.078c-5.729-43.188-42.306-72.274-81.659-72.177l0,0
          c0,0-0.001,0-0.001,0s-0.001,0-0.001,0l0,0c-39.353-0.097-75.93,28.99-81.659,72.177c-2.394,18.045-14.103,130.448-14.25,174.078
          c2.057,54.5,41.278,97.517,95.908,97.518l0,0c0,0,0.001,0,0.001,0s0.001,0,0.001,0l0,0
          C2704.632,2821.772,2743.853,2778.755,2745.91,2724.256z" />
    </mask>
    <clipPath id="logoMaskClip" clipPathUnits="userSpaceOnUse">
      <path class="st2 logo-mask js-logo-clip-mask" fill="none" style="stroke:none; fill: #ffffff" d="M2745.91,2724.256c-0.147-43.63-11.856-156.033-14.25-174.078c-5.729-43.188-42.306-72.274-81.659-72.177l0,0
      c0,0-0.001,0-0.001,0s-0.001,0-0.001,0l0,0c-39.353-0.097-75.93,28.99-81.659,72.177c-2.394,18.045-14.103,130.448-14.25,174.078
      c2.057,54.5,41.278,97.517,95.908,97.518l0,0c0,0,0.001,0,0.001,0s0.001,0,0.001,0l0,0
      C2704.632,2821.772,2743.853,2778.755,2745.91,2724.256z" />
    </clipPath>
  </defs>
  <g class="about-logo-bg js-about-hero-bg" style="opacity: 0">
    <polyline fill="#BEC328" points="5162.2,-2.1 5267.1,102.9 5267.1,121.9 5267.1,140.9 5267.1,159.9 5259.1,170.9 134.4,5295.6 
		121.9,5302.1 -7.1,5302.2 -7.1,-2.1 	" />
  </g>
  <g mask="url(#logoMask)">
    <g id="lines">
      <g class="js-logo-lines">
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="117" x2="2653.981"
          y2="2775.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="136" x2="2644.481"
          y2="2785.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="155" x2="2634.981"
          y2="2794.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="174" x2="2625.481"
          y2="2804.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="193" x2="2615.981"
          y2="2813.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="212" x2="2606.481"
          y2="2823.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="231" x2="2596.981"
          y2="2832.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="250" x2="2587.481"
          y2="2842.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="269" x2="2577.981"
          y2="2851.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="288" x2="2568.481"
          y2="2861.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="307" x2="2558.981"
          y2="2870.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="326" x2="2549.481"
          y2="2880.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="345" x2="2539.981"
          y2="2889.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="364" x2="2530.481"
          y2="2899.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="383" x2="2520.981"
          y2="2908.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="402" x2="2511.481"
          y2="2918.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="421" x2="2501.981"
          y2="2927.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="440" x2="2492.481"
          y2="2937.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="459" x2="2482.981"
          y2="2946.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="478" x2="2473.481"
          y2="2956.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="497" x2="2463.981"
          y2="2965.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="516" x2="2454.481"
          y2="2975.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="535" x2="2444.981"
          y2="2984.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="554" x2="2435.481"
          y2="2994.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="573" x2="2425.981"
          y2="3003.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="592" x2="2416.481"
          y2="3013.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="611" x2="2406.981"
          y2="3022.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="630" x2="2397.481"
          y2="3032.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="649" x2="2387.981"
          y2="3041.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="668" x2="2378.481"
          y2="3051.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="687" x2="2368.981"
          y2="3060.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="706" x2="2359.481"
          y2="3070.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="725" x2="2349.981"
          y2="3079.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="744" x2="2340.481"
          y2="3089.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="763" x2="2330.981"
          y2="3098.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="782" x2="2321.481"
          y2="3108.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="801" x2="2311.981"
          y2="3117.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="820" x2="2302.481"
          y2="3127.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="839" x2="2292.981"
          y2="3136.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="858" x2="2283.481"
          y2="3146.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="877" x2="2273.981"
          y2="3155.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="896" x2="2264.481"
          y2="3165.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="915" x2="2254.981"
          y2="3174.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="934" x2="2245.481"
          y2="3184.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="953" x2="2235.981"
          y2="3193.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="972" x2="2226.481"
          y2="3203.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="991" x2="2216.981"
          y2="3212.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1010" x2="2207.481"
          y2="3222.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1029" x2="2197.981"
          y2="3231.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1048" x2="2188.481"
          y2="3241.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1067" x2="2178.981"
          y2="3250.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1086" x2="2169.481"
          y2="3260.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1105" x2="2159.981"
          y2="3269.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1124" x2="2150.481"
          y2="3279.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1143" x2="2140.981"
          y2="3288.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1162" x2="2131.481"
          y2="3298.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1181" x2="2121.981"
          y2="3307.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1200" x2="2112.481"
          y2="3317.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1219" x2="2102.981"
          y2="3326.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1238" x2="2093.481"
          y2="3336.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1257" x2="2083.981"
          y2="3345.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1276" x2="2074.481"
          y2="3355.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1295" x2="2064.981"
          y2="3364.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1314" x2="2055.481"
          y2="3374.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1333" x2="2045.981"
          y2="3383.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1352" x2="2036.481"
          y2="3393.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1371" x2="2026.981"
          y2="3402.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1390" x2="2017.481"
          y2="3412.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1409" x2="2007.981"
          y2="3421.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1428" x2="1998.481"
          y2="3431.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1447" x2="1988.981"
          y2="3440.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1466" x2="1979.481"
          y2="3450.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1485" x2="1969.981"
          y2="3459.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1504" x2="1960.481"
          y2="3469.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1523" x2="1950.981"
          y2="3478.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1542" x2="1941.481"
          y2="3488.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1561" x2="1931.981"
          y2="3497.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1580" x2="1922.481"
          y2="3507.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1599" x2="1912.981"
          y2="3516.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1618" x2="1903.481"
          y2="3526.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1637" x2="1893.981"
          y2="3535.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1656" x2="1884.481"
          y2="3545.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1675" x2="1874.981"
          y2="3554.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1694" x2="1865.481"
          y2="3564.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1713" x2="1855.981"
          y2="3573.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1732" x2="1846.481"
          y2="3583.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1751" x2="1836.981"
          y2="3592.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1770" x2="1827.481"
          y2="3602.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1789" x2="1817.981"
          y2="3611.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1808" x2="1808.481"
          y2="3621.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1827" x2="1798.981"
          y2="3630.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1846" x2="1789.481"
          y2="3640.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1865" x2="1779.981"
          y2="3649.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1884" x2="1770.481"
          y2="3659.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1903" x2="1760.981"
          y2="3668.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1922" x2="1751.481"
          y2="3678.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1941" x2="1741.981"
          y2="3687.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1960" x2="1732.481"
          y2="3697.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1979" x2="1722.981"
          y2="3706.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="1998" x2="1713.481"
          y2="3716.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2017" x2="1703.981"
          y2="3725.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2036" x2="1694.481"
          y2="3735.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2055" x2="1684.981"
          y2="3744.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2074" x2="1675.481"
          y2="3754.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2093" x2="1665.981"
          y2="3763.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2112" x2="1656.481"
          y2="3773.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2131" x2="1646.981"
          y2="3782.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2150" x2="1637.481"
          y2="3792.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2169" x2="1627.981"
          y2="3801.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2188" x2="1618.481"
          y2="3811.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2207" x2="1608.981"
          y2="3820.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2226" x2="1599.481"
          y2="3830.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2245" x2="1589.981"
          y2="3839.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2264" x2="1580.481"
          y2="3849.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2283" x2="1570.981"
          y2="3858.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2302" x2="1561.481"
          y2="3868.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2321" x2="1551.981"
          y2="3877.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2340" x2="1542.481"
          y2="3887.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2359" x2="1532.981"
          y2="3896.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2378" x2="1523.481"
          y2="3906.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2397" x2="1513.981"
          y2="3915.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2416" x2="1504.481"
          y2="3925.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2435" x2="1494.981"
          y2="3934.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2454" x2="1485.481"
          y2="3944.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2473" x2="1475.981"
          y2="3953.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2492" x2="1466.481"
          y2="3963.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2511" x2="1456.981"
          y2="3972.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2530" x2="1447.481"
          y2="3982.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2549" x2="1437.981"
          y2="3991.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2568" x2="1428.481"
          y2="4001.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2587" x2="1418.981"
          y2="4010.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2606" x2="1409.481"
          y2="4020.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2625" x2="1399.981"
          y2="4029.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2644" x2="1390.481"
          y2="4039.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2663" x2="1380.981"
          y2="4048.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2682" x2="1371.481"
          y2="4058.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2701" x2="1361.981"
          y2="4067.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2720" x2="1352.481"
          y2="4077.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2739" x2="1342.981"
          y2="4086.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2758" x2="1333.481"
          y2="4096.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2777" x2="1323.981"
          y2="4105.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2796" x2="1314.481"
          y2="4115.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2815" x2="1304.981"
          y2="4124.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2834" x2="1295.481"
          y2="4134.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2853" x2="1285.981"
          y2="4143.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2872" x2="1276.481"
          y2="4153.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2891" x2="1266.981"
          y2="4162.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2910" x2="1257.481"
          y2="4172.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2929" x2="1247.981"
          y2="4181.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2948" x2="1238.481"
          y2="4191.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2967" x2="1228.981"
          y2="4200.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="2986" x2="1219.481"
          y2="4210.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3005" x2="1209.981"
          y2="4219.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3024" x2="1200.481"
          y2="4229.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3043" x2="1190.981"
          y2="4238.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3062" x2="1181.481"
          y2="4248.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3081" x2="1171.981"
          y2="4257.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3100" x2="1162.481"
          y2="4267.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3119" x2="1152.981"
          y2="4276.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3138" x2="1143.481"
          y2="4286.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3157" x2="1133.981"
          y2="4295.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3176" x2="1124.481"
          y2="4305.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3195" x2="1114.981"
          y2="4314.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3214" x2="1105.481"
          y2="4324.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3233" x2="1095.981"
          y2="4333.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3252" x2="1086.481"
          y2="4343.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3271" x2="1076.981"
          y2="4352.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3290" x2="1067.481"
          y2="4362.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3309" x2="1057.981"
          y2="4371.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3328" x2="1048.481"
          y2="4381.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3347" x2="1038.981"
          y2="4390.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3366" x2="1029.481"
          y2="4400.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3385" x2="1019.981"
          y2="4409.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3404" x2="1010.481"
          y2="4419.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3423" x2="1000.981"
          y2="4428.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3442" x2="991.481"
          y2="4438.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3461" x2="981.981"
          y2="4447.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3480" x2="972.481"
          y2="4457.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3499" x2="962.981"
          y2="4466.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3518" x2="953.481"
          y2="4476.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3537" x2="943.981"
          y2="4485.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3556" x2="934.481"
          y2="4495.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3575" x2="924.981"
          y2="4504.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3594" x2="915.481"
          y2="4514.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3613" x2="905.981"
          y2="4523.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3632" x2="896.481"
          y2="4533.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3651" x2="886.981"
          y2="4542.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3670" x2="877.481"
          y2="4552.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3689" x2="867.981"
          y2="4561.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3708" x2="858.481"
          y2="4571.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3727" x2="848.981"
          y2="4580.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3746" x2="839.481"
          y2="4590.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3765" x2="829.981"
          y2="4599.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3784" x2="820.481"
          y2="4609.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3803" x2="810.981"
          y2="4618.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3822" x2="801.481"
          y2="4628.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3841" x2="791.981"
          y2="4637.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3860" x2="782.481"
          y2="4647.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3879" x2="772.981"
          y2="4656.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3898" x2="763.481"
          y2="4666.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3917" x2="753.981"
          y2="4675.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3936" x2="744.481"
          y2="4685.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3955" x2="734.981"
          y2="4694.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3974" x2="725.481"
          y2="4704.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3993" x2="715.981"
          y2="4713.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4012" x2="706.481"
          y2="4723.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4031" x2="696.981"
          y2="4732.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4050" x2="687.481"
          y2="4742.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4069" x2="677.981"
          y2="4751.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4088" x2="668.481"
          y2="4761.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4107" x2="658.981"
          y2="4770.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4126" x2="649.481"
          y2="4780.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4145" x2="639.981"
          y2="4789.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4164" x2="630.481"
          y2="4799.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4183" x2="620.981"
          y2="4808.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4202" x2="611.481"
          y2="4818.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4221" x2="601.981"
          y2="4827.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4240" x2="592.481"
          y2="4837.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4259" x2="582.981"
          y2="4846.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4278" x2="573.481"
          y2="4856.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4297" x2="563.981"
          y2="4865.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4316" x2="554.481"
          y2="4875.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4335" x2="544.981"
          y2="4884.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4354" x2="535.481"
          y2="4894.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4373" x2="525.981"
          y2="4903.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4392" x2="516.481"
          y2="4913.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4411" x2="506.981"
          y2="4922.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4430" x2="497.481"
          y2="4932.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4449" x2="487.981"
          y2="4941.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4468" x2="478.481"
          y2="4951.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4487" x2="468.981"
          y2="4960.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4506" x2="459.481"
          y2="4970.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4525" x2="449.981"
          y2="4979.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4544" x2="440.481"
          y2="4989.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4563" x2="430.981"
          y2="4998.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4582" x2="421.481"
          y2="5008.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4601" x2="411.981"
          y2="5017.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4620" x2="402.481"
          y2="5027.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4639" x2="392.981"
          y2="5036.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4658" x2="383.481"
          y2="5046.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4677" x2="373.981"
          y2="5055.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4696" x2="364.481"
          y2="5065.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4715" x2="354.981"
          y2="5074.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4734" x2="345.481"
          y2="5084.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4753" x2="335.981"
          y2="5093.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4772" x2="326.481"
          y2="5103.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4791" x2="316.981"
          y2="5112.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4810" x2="307.481"
          y2="5122.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4829" x2="297.981"
          y2="5131.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4848" x2="288.481"
          y2="5141.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4867" x2="278.981"
          y2="5150.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4886" x2="269.481"
          y2="5160.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4905" x2="259.981"
          y2="5169.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4924" x2="250.481"
          y2="5179.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4943" x2="240.981"
          y2="5188.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4962" x2="231.481"
          y2="5198.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="4981" x2="221.981"
          y2="5207.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="5000" x2="212.481"
          y2="5217.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="5019" x2="202.981"
          y2="5226.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="5038" x2="193.481"
          y2="5236.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="5057" x2="183.981"
          y2="5245.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="5076" x2="174.481"
          y2="5255.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="5095" x2="164.981"
          y2="5264.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="5114" x2="155.481"
          y2="5274.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="5133" x2="145.981"
          y2="5283.98" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="5152" x2="136.481"
          y2="5293.48" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="5171" x2="124.026"
          y2="5300.025" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="5190" x2="105.039"
          y2="5300.039" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="5209" x2="86.052"
          y2="5300.052" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="5228" x2="67.065"
          y2="5300.064" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="5247" x2="48.078"
          y2="5300.078" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="5266" x2="29.091"
          y2="5300.091" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="5285" x2="10.104"
          y2="5300.104" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3546.981" y1="1882.981"
          x2="1664.253" y2="0.252" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1645.254" y1="0.254"
          x2="3537.481" y2="1892.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3556.481" y1="1873.481"
          x2="1683.251" y2="0.251" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3565.981" y1="1863.981"
          x2="1702.25" y2="0.25" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3518.481" y1="1911.481"
          x2="1607.256" y2="0.256" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1588.257" y1="0.257"
          x2="3508.981" y2="1920.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1569.259" y1="0.259"
          x2="3499.481" y2="1930.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1626.255" y1="0.255"
          x2="3527.981" y2="1901.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3575.481" y1="1854.481"
          x2="1721.249" y2="0.249" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3632.481" y1="1797.481"
          x2="1835.242" y2="0.242" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1816.243" y1="0.243"
          x2="3622.981" y2="1806.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3641.981" y1="1787.981"
          x2="1854.24" y2="0.241" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1797.244" y1="0.244"
          x2="3613.481" y2="1816.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3651.481" y1="1778.481"
          x2="1873.239" y2="0.239" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3584.981" y1="1844.981"
          x2="1740.248" y2="0.248" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3660.981" y1="1768.981"
          x2="1892.238" y2="0.238" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3594.481" y1="1835.481"
          x2="1759.247" y2="0.247" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3603.981" y1="1825.981"
          x2="1778.245" y2="0.245" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1341.273" y1="0.273"
          x2="3385.481" y2="2044.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3394.981" y1="2034.981"
          x2="1360.272" y2="0.272" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3404.481" y1="2025.481"
          x2="1379.271" y2="0.271" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3413.981" y1="2015.981"
          x2="1398.27" y2="0.27" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1284.277" y1="0.277"
          x2="3356.981" y2="2072.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3366.481" y1="2063.481"
          x2="1303.275" y2="0.275" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3423.481" y1="2006.481"
          x2="1417.268" y2="0.268" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1322.274" y1="0.274"
          x2="3375.981" y2="2053.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3451.981" y1="1977.981"
          x2="1474.265" y2="0.265" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1455.266" y1="0.266"
          x2="3442.481" y2="1987.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3480.481" y1="1949.481"
          x2="1531.261" y2="0.261" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1512.262" y1="0.262"
          x2="3470.981" y2="1958.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1265.278" y1="0.278"
          x2="3347.481" y2="2082.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1493.263" y1="0.263"
          x2="3461.481" y2="1968.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1436.267" y1="0.267"
          x2="3432.981" y2="1996.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1550.26" y1="0.26" x2="3489.981"
          y2="1939.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3888.981" y1="1540.981"
          x2="2348.209" y2="0.209" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2329.21" y1="0.21" x2="3879.481"
          y2="1550.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2310.211" y1="0.211"
          x2="3869.981" y2="1559.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2291.213" y1="0.213"
          x2="3860.481" y2="1569.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3898.481" y1="1531.481"
          x2="2367.208" y2="0.208" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3831.981" y1="1597.981"
          x2="2234.216" y2="0.216" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2215.218" y1="0.218"
          x2="3822.481" y2="1607.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2272.214" y1="0.214"
          x2="3850.981" y2="1578.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3907.981" y1="1521.981"
          x2="2386.207" y2="0.207" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2253.215" y1="0.215"
          x2="3841.481" y2="1588.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3955.481" y1="1474.481"
          x2="2481.201" y2="0.201" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2462.202" y1="0.202"
          x2="3945.981" y2="1483.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3917.481" y1="1512.481"
          x2="2405.206" y2="0.206" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3974.481" y1="1455.481"
          x2="2519.198" y2="0.198" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2500.199" y1="0.199"
          x2="3964.981" y2="1464.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3926.981" y1="1502.981"
          x2="2424.204" y2="0.204" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3936.481" y1="1493.481"
          x2="2443.203" y2="0.203" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3708.481" y1="1721.481"
          x2="1987.232" y2="0.232" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1968.233" y1="0.233"
          x2="3698.981" y2="1730.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3670.481" y1="1759.481"
          x2="1911.237" y2="0.237" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3727.481" y1="1702.481"
          x2="2025.23" y2="0.23" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2006.231" y1="0.231"
          x2="3717.981" y2="1711.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3983.981" y1="1445.981"
          x2="2538.197" y2="0.197" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3736.981" y1="1692.981"
          x2="2044.229" y2="0.229" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3689.481" y1="1740.481"
          x2="1949.234" y2="0.234" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1930.236" y1="0.236"
          x2="3679.981" y2="1749.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3746.481" y1="1683.481"
          x2="2063.227" y2="0.227" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3803.481" y1="1626.481"
          x2="2177.22" y2="0.22" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2158.221" y1="0.221"
          x2="3793.981" y2="1635.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3812.981" y1="1616.981"
          x2="2196.219" y2="0.219" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2139.222" y1="0.222"
          x2="3784.481" y2="1645.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3765.481" y1="1664.481"
          x2="2101.225" y2="0.225" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2082.226" y1="0.226"
          x2="3755.981" y2="1673.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3774.981" y1="1654.981"
          x2="2120.224" y2="0.224" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="391.333" y1="0.333" x2="2910.481"
          y2="2519.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2919.981" y1="2509.981"
          x2="410.332" y2="0.332" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="372.335" y1="0.334" x2="2900.981"
          y2="2528.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2929.481" y1="2500.481"
          x2="429.331" y2="0.331" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2938.981" y1="2490.981"
          x2="448.33" y2="0.33" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="315.338" y1="0.338" x2="2872.481"
          y2="2557.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2881.981" y1="2547.981"
          x2="334.337" y2="0.337" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="353.336" y1="0.336" x2="2891.481"
          y2="2538.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2948.481" y1="2481.481"
          x2="467.328" y2="0.329" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="562.323" y1="0.323" x2="2995.981"
          y2="2433.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3005.481" y1="2424.481"
          x2="581.321" y2="0.321" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="543.324" y1="0.324" x2="2986.481"
          y2="2443.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="296.339" y1="0.339" x2="2862.981"
          y2="2566.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3014.981" y1="2414.981"
          x2="600.32" y2="0.32" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="524.325" y1="0.325" x2="2976.981"
          y2="2452.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="486.327" y1="0.327" x2="2957.981"
          y2="2471.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2967.481" y1="2462.481"
          x2="505.326" y2="0.326" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="106.351" y1="0.352" x2="2767.981"
          y2="2661.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2777.481" y1="2652.481"
          x2="125.35" y2="0.35" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="87.353" y1="0.353" x2="2758.481"
          y2="2671.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="277.341" y1="0.341" x2="2853.481"
          y2="2576.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2786.981" y1="2642.981"
          x2="144.349" y2="0.349" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3024.481" y1="2405.481"
          x2="619.319" y2="0.319" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="49.355" y1="0.355" x2="2739.481"
          y2="2690.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2748.981" y1="2680.981"
          x2="68.354" y2="0.354" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2720.481" y1="2709.481"
          x2="11.357" y2="0.357" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="3" x2="2710.981"
          y2="2718.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="22" x2="2701.481"
          y2="2728.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="41" x2="2691.983"
          y2="2737.983" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="60" x2="2682.483"
          y2="2747.483" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="79" x2="2672.981"
          y2="2756.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="-5" y1="98" x2="2663.481"
          y2="2766.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2729.981" y1="2699.981"
          x2="30.356" y2="0.356" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="220.344" y1="0.344" x2="2824.981"
          y2="2604.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2834.481" y1="2595.481"
          x2="239.343" y2="0.343" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2796.481" y1="2633.481"
          x2="163.348" y2="0.348" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1246.279" y1="0.279"
          x2="3337.981" y2="2091.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2843.981" y1="2585.981"
          x2="258.342" y2="0.342" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2805.981" y1="2623.981"
          x2="182.347" y2="0.347" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2815.481" y1="2614.481"
          x2="201.345" y2="0.345" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1056.291" y1="0.291"
          x2="3242.981" y2="2186.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3252.481" y1="2177.481"
          x2="1075.29" y2="0.29" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1018.294" y1="0.293"
          x2="3223.981" y2="2205.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3233.481" y1="2196.481"
          x2="1037.292" y2="0.293" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3261.981" y1="2167.981"
          x2="1094.289" y2="0.289" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="999.295" y1="0.295" x2="3214.481"
          y2="2215.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="961.297" y1="0.297" x2="3195.481"
          y2="2234.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3204.981" y1="2224.981"
          x2="980.296" y2="0.296" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="942.298" y1="0.298" x2="3185.981"
          y2="2243.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3271.481" y1="2158.481"
          x2="1113.288" y2="0.288" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1208.281" y1="0.282"
          x2="3318.981" y2="2110.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3328.481" y1="2101.481"
          x2="1227.28" y2="0.28" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3280.981" y1="2148.981"
          x2="1132.286" y2="0.286" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1189.283" y1="0.283"
          x2="3309.481" y2="2120.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="1170.284" y1="0.284"
          x2="3299.981" y2="2129.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3290.481" y1="2139.481"
          x2="1151.285" y2="0.285" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="885.302" y1="0.302" x2="3157.481"
          y2="2272.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3166.981" y1="2262.981"
          x2="904.301" y2="0.301" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="771.309" y1="0.309" x2="3100.481"
          y2="2329.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3109.981" y1="2319.981"
          x2="790.308" y2="0.308" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="714.313" y1="0.313" x2="3071.981"
          y2="2357.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3081.481" y1="2348.481"
          x2="733.312" y2="0.312" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="695.314" y1="0.314" x2="3062.481"
          y2="2367.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="752.31" y1="0.311" x2="3090.981"
          y2="2338.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="923.3" y1="0.3" x2="3176.481"
          y2="2253.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="638.318" y1="0.318" x2="3033.981"
          y2="2395.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3043.481" y1="2386.481"
          x2="657.316" y2="0.316" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3052.981" y1="2376.981"
          x2="676.315" y2="0.315" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3119.481" y1="2310.481"
          x2="809.307" y2="0.307" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="866.303" y1="0.303" x2="3147.981"
          y2="2281.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3128.981" y1="2300.981"
          x2="828.306" y2="0.306" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3138.481" y1="2291.481"
          x2="847.304" y2="0.304" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4515.98" y1="913.981"
          x2="3602.13" y2="0.13" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3583.131" y1="0.131" x2="4506.48"
          y2="923.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4952.98" y1="476.981"
          x2="4476.074" y2="0.074" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4457.075" y1="0.075" x2="4943.48"
          y2="486.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4857.98" y1="571.981"
          x2="4286.086" y2="0.086" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4267.087" y1="0.087" x2="4848.48"
          y2="581.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4838.98" y1="590.981"
          x2="4248.088" y2="0.089" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4229.09" y1="0.09" x2="4829.48"
          y2="600.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4867.48" y1="562.481"
          x2="4305.085" y2="0.085" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4810.48" y1="619.481"
          x2="4191.092" y2="0.092" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4172.093" y1="0.093" x2="4800.98"
          y2="628.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4210.091" y1="0.091" x2="4819.98"
          y2="609.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4876.98" y1="552.981"
          x2="4324.084" y2="0.084" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4153.095" y1="0.095" x2="4791.48"
          y2="638.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4933.98" y1="495.981"
          x2="4438.077" y2="0.076" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4419.078" y1="0.078" x2="4924.48"
          y2="505.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4886.48" y1="543.481"
          x2="4343.083" y2="0.083" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4400.079" y1="0.079" x2="4914.98"
          y2="514.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4895.98" y1="533.981"
          x2="4362.081" y2="0.081" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4381.08" y1="0.08" x2="4905.48"
          y2="524.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4715.48" y1="714.481"
          x2="4001.104" y2="0.104" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3982.105" y1="0.105" x2="4705.98"
          y2="723.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4686.98" y1="742.981"
          x2="3944.108" y2="0.108" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3925.109" y1="0.109" x2="4677.48"
          y2="752.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3963.107" y1="0.107" x2="4696.48"
          y2="733.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4134.096" y1="0.096" x2="4781.98"
          y2="647.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4648.98" y1="780.981"
          x2="3868.113" y2="0.113" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3849.114" y1="0.114" x2="4639.48"
          y2="790.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4658.48" y1="771.481"
          x2="3887.111" y2="0.111" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4667.98" y1="761.981"
          x2="3906.11" y2="0.11" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4772.48" y1="657.481"
          x2="4115.097" y2="0.097" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4096.098" y1="0.098" x2="4762.98"
          y2="666.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4077.099" y1="0.099" x2="4753.48"
          y2="676.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4724.98" y1="704.981"
          x2="4020.103" y2="0.103" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4058.101" y1="0.101" x2="4743.98"
          y2="685.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4734.48" y1="695.481"
          x2="4039.102" y2="0.102" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="5009.98" y1="419.981"
          x2="4590.067" y2="0.067" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4571.068" y1="0.068" x2="5000.48"
          y2="429.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="5199.98" y1="229.981"
          x2="4970.043" y2="0.043" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4951.044" y1="0.044" x2="5190.48"
          y2="239.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="5180.98" y1="248.981"
          x2="4932.045" y2="0.045" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4913.046" y1="0.046" x2="5171.48"
          y2="258.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4894.047" y1="0.048" x2="5161.98"
          y2="267.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="5123.98" y1="305.981"
          x2="4818.052" y2="0.052" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4799.054" y1="0.054" x2="5114.48"
          y2="315.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4875.049" y1="0.049" x2="5152.48"
          y2="277.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4856.05" y1="0.05" x2="5142.98"
          y2="286.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="5133.48" y1="296.481"
          x2="4837.051" y2="0.051" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="5247.48" y1="182.481"
          x2="5065.037" y2="0.037" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="5046.038" y1="0.038" x2="5237.98"
          y2="191.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="5084.036" y1="0.036" x2="5256.98"
          y2="172.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="5265" y1="162.001" x2="5103.034"
          y2="0.034" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="5265" y1="143.001" x2="5122.033"
          y2="0.033" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="5265" y1="124.001" x2="5141.032"
          y2="0.032" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="5265" y1="105.001" x2="5160.031"
          y2="0.031" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="5027.039" y1="0.039" x2="5228.48"
          y2="201.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="5218.98" y1="210.981"
          x2="5008.041" y2="0.04" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4989.042" y1="0.042" x2="5209.48"
          y2="220.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="5104.98" y1="324.981"
          x2="4780.055" y2="0.055" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4761.056" y1="0.056" x2="5095.48"
          y2="334.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4552.069" y1="0.069" x2="4990.98"
          y2="438.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3830.115" y1="0.115" x2="4629.98"
          y2="799.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="5019.48" y1="410.481"
          x2="4609.065" y2="0.066" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="5028.98" y1="400.981"
          x2="4628.064" y2="0.064" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4981.48" y1="448.481"
          x2="4533.07" y2="0.071" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4514.072" y1="0.072" x2="4971.98"
          y2="457.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4495.073" y1="0.073" x2="4962.48"
          y2="467.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="5038.48" y1="391.481"
          x2="4647.063" y2="0.063" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="5057.48" y1="372.481"
          x2="4685.061" y2="0.061" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4666.062" y1="0.062" x2="5047.98"
          y2="381.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="5085.98" y1="343.981"
          x2="4742.057" y2="0.057" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4723.059" y1="0.058" x2="5076.48"
          y2="353.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4704.06" y1="0.06" x2="5066.98"
          y2="362.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4268.98" y1="1160.981"
          x2="3108.161" y2="0.161" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3089.162" y1="0.162" x2="4259.48"
          y2="1170.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3811.116" y1="0.116" x2="4620.48"
          y2="809.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4202.48" y1="1227.481"
          x2="2975.169" y2="0.169" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2956.17" y1="0.17" x2="4192.98"
          y2="1236.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4211.98" y1="1217.981"
          x2="2994.168" y2="0.168" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4221.48" y1="1208.481"
          x2="3013.167" y2="0.167" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4164.48" y1="1265.481"
          x2="2899.174" y2="0.174" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2880.175" y1="0.175" x2="4154.98"
          y2="1274.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4230.98" y1="1198.981"
          x2="3032.166" y2="0.166" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4183.48" y1="1246.481"
          x2="2937.172" y2="0.172" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2918.173" y1="0.173" x2="4173.98"
          y2="1255.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4278.48" y1="1151.481"
          x2="3127.16" y2="0.16" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4287.98" y1="1141.981"
          x2="3146.158" y2="0.158" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4297.48" y1="1132.481"
          x2="3165.157" y2="0.157" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2861.177" y1="0.177" x2="4145.48"
          y2="1284.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4249.98" y1="1179.981"
          x2="3070.163" y2="0.163" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3051.165" y1="0.165" x2="4240.48"
          y2="1189.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3993.481" y1="1436.481"
          x2="2557.196" y2="0.196" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4088.481" y1="1341.481"
          x2="2747.184" y2="0.184" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2728.185" y1="0.185"
          x2="4078.981" y2="1350.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4050.481" y1="1379.481"
          x2="2671.189" y2="0.189" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2652.19" y1="0.19" x2="4040.981"
          y2="1388.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2633.191" y1="0.191"
          x2="4031.481" y2="1398.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4059.981" y1="1369.981"
          x2="2690.188" y2="0.188" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2614.192" y1="0.192"
          x2="4021.981" y2="1407.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2842.178" y1="0.178" x2="4135.98"
          y2="1293.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4002.981" y1="1426.981"
          x2="2576.195" y2="0.195" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4069.481" y1="1360.481"
          x2="2709.186" y2="0.186" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2595.193" y1="0.193"
          x2="4012.481" y2="1417.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4126.48" y1="1303.481"
          x2="2823.179" y2="0.179" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2804.18" y1="0.18" x2="4116.98"
          y2="1312.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2785.181" y1="0.181" x2="4107.48"
          y2="1322.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="2766.183" y1="0.183" x2="4097.98"
          y2="1331.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4306.98" y1="1122.981"
          x2="3184.156" y2="0.156" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3564.132" y1="0.132" x2="4496.98"
          y2="932.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4534.98" y1="894.981"
          x2="3640.127" y2="0.127" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3621.128" y1="0.128" x2="4525.48"
          y2="904.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4544.48" y1="885.481"
          x2="3659.126" y2="0.126" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4468.48" y1="961.481"
          x2="3507.135" y2="0.136" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3488.137" y1="0.137" x2="4458.98"
          y2="970.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4553.98" y1="875.981"
          x2="3678.125" y2="0.125" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4477.98" y1="951.981"
          x2="3526.134" y2="0.134" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4487.48" y1="942.481"
          x2="3545.133" y2="0.133" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4610.98" y1="818.981"
          x2="3792.117" y2="0.117" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3773.119" y1="0.119" x2="4601.48"
          y2="828.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3754.12" y1="0.12" x2="4591.98"
          y2="837.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4572.98" y1="856.981"
          x2="3716.122" y2="0.122" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3697.124" y1="0.124" x2="4563.48"
          y2="866.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3735.121" y1="0.121" x2="4582.48"
          y2="847.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4335.48" y1="1094.481"
          x2="3241.152" y2="0.152" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3222.154" y1="0.154" x2="4325.98"
          y2="1103.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4382.98" y1="1046.981"
          x2="3336.146" y2="0.147" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3317.148" y1="0.148" x2="4373.48"
          y2="1056.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4354.48" y1="1075.481"
          x2="3279.15" y2="0.15" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3260.151" y1="0.151" x2="4344.98"
          y2="1084.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3298.149" y1="0.149" x2="4363.98"
          y2="1065.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3203.155" y1="0.155" x2="4316.48"
          y2="1113.481" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4392.48" y1="1037.481"
          x2="3355.145" y2="0.145" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4430.48" y1="999.481"
          x2="3431.14" y2="0.14" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3412.142" y1="0.142" x2="4420.98"
          y2="1008.981" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4439.98" y1="989.981"
          x2="3450.139" y2="0.139" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4449.48" y1="980.481"
          x2="3469.138" y2="0.138" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="4411.48" y1="1018.481"
          x2="3393.143" y2="0.143" />
        <line fill="none" stroke="#BEC328" stroke-width="6" stroke-miterlimit="10" x1="3374.144" y1="0.144" x2="4401.98"
          y2="1027.981" />

      </g>
    </g>
    <g class="js-logo-circles" id="cirlce">
      <g>
        <circle class="st1" cx="2682.153" cy="2724.84" r="6" />
        <circle class="st1" cx="2682.153" cy="2724.84" r="20.04" />
        <circle class="st1" cx="2682.153" cy="2724.84" r="34.068" />
        <circle class="st1" cx="2682.153" cy="2724.84" r="48.1" />
        <circle class="st1" cx="2682.153" cy="2724.84" r="62.2" />
        <circle class="st1" cx="2682.153" cy="2724.84" r="76.185" />
        <circle class="st1" cx="2682.153" cy="2724.84" r="90.25" />
        <circle class="st1" cx="2682.153" cy="2724.84" r="104.3" />
        <circle class="st1" cx="2682.153" cy="2724.84" r="118.35" />
        <circle class="st1" cx="2682.153" cy="2724.84" r="132.4" />
        <circle class="st1" cx="2682.153" cy="2724.84" r="146.43" />
        <circle class="st1" cx="2682.153" cy="2724.84" r="160.5" />
      </g>
    </g>
  </g>
</svg>