<?xml version="1.0" encoding="utf-8"?>
<svg class="js-hero-svg svg-hidden"  id="hero-svg" data-poligon-color="#BEC328" version="1.1"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	y="0px" viewBox="0 0 1920 1080" enable-background="new 0 0 1920 1080" xml:space="preserve">
	<defs class="js-defs" >
		<mask id="hero-main-mask" >
		</mask>
	</defs>
	<g class="js-hero-diagonal"> 
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="30" y1="-10" x2="1130" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="110" y1="-10" x2="1210" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="190" y1="-10" x2="1290" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="270" y1="-10" x2="1370" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="350" y1="-10" x2="1450" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="430" y1="-10" x2="1530" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="510" y1="-10" x2="1610" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="590" y1="-10" x2="1690" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="670" y1="-10" x2="1770" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="750" y1="-10" x2="1850" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="830" y1="-10" x2="1930" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="910" y1="-10" x2="1930" y2="1010" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="990" y1="-10" x2="1930" y2="930" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="1070" y1="-10" x2="1930" y2="850" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="1150" y1="-10" x2="1930" y2="770" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="1230" y1="-10" x2="1930" y2="690" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="1310" y1="-10" x2="1930" y2="610" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="1390" y1="-10" x2="1930" y2="530" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="1470" y1="-10" x2="1930" y2="450" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="1550" y1="-10" x2="1930" y2="370" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="1630" y1="-10" x2="1930" y2="290" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="1710" y1="-10" x2="1930" y2="210" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="1790" y1="-10" x2="1930" y2="130" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="1870" y1="-10" x2="1930" y2="50" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="-10" y1="30" x2="1050" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="-10" y1="110" x2="970" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="-10" y1="190" x2="890" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="-10" y1="270" x2="810" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="-10" y1="350" x2="730" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="-10" y1="430" x2="650" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="-10" y1="510" x2="570" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="-10" y1="590" x2="490" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="-10" y1="670" x2="410" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="-10" y1="750" x2="330" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="-10" y1="830" x2="250" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="-10" y1="910" x2="170" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="-10" y1="990" x2="90" y2="1090" />
		<line fill="none" stroke="#BEC328" stroke-miterlimit="10" x1="0" y1="1090" x2="-10" y2="1080" />
	</g>
</svg>