
.m-container
  margin: 0 auto
  max-width: 1548px // 1420 + 64 * 2 
  padding: 0 64px
  +lg
    padding: 0 32px
  +md
    padding: 0 24px
  +sm
    padding: 0 11px
.row
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  min-width: 100%
  +sm
    flex-wrap: wrap
  .col
    flex-grow: 0


  @for $i from 0 through $cols_pc
    .col-#{$i}
      width: 100%/$cols_pc*$i

    .col-push-#{$i}
      margin-left: 100%/$cols_pc*$i

    .col-lg-#{$i}
      +lg
        width: 100%/$cols_pc*$i
    .col-lg-push-#{$i}
      +lg
        margin-left: 100%/$cols_pc*$i

    .col-md-#{$i}
      +md
        width: 100%/$cols_pc*$i
    .col-md-push-#{$i}
      +md
        margin-left: 100%/$cols_pc*$i

  @for $i from 0 through $cols_pc_23
    .col-23-#{$i}
      width: 100%/$cols_pc_23*$i

    .col-23-push-#{$i}
      margin-left: 100%/$cols_pc_23*$i

    .col-23-lg-#{$i}
      +lg
        width: 100%/$cols_pc_23*$i
    .col-23-lg-push-#{$i}
      +lg
        margin-left: 100%/$cols_pc_23*$i

    .col-23-md-#{$i}
      +md
        width: 100%/$cols_pc_23*$i
    .col-23-md-push-#{$i}
      +md
        margin-left: 100%/$cols_pc_23*$i

  @for $i from 0 through $cols_pc_22
    .col-22-#{$i}
      width: 100%/$cols_pc_22*$i

    .col-22-push-#{$i}
      margin-left: 100%/$cols_pc_22*$i

    .col-22-lg-#{$i}
      +lg
        width: 100%/$cols_pc_22*$i
    .col-22-lg-push-#{$i}
      +lg
        margin-left: 100%/$cols_pc_22*$i

    .col-22-md-#{$i}
      +md
        width: 100%/$cols_pc_22*$i
    .col-22-md-push-#{$i}
      +md
        margin-left: 100%/$cols_pc_22*$i

  @for $i from 0 through $cols_pc_20
    .col-20-#{$i}
      width: 100%/$cols_pc_20*$i

    .col-20-push-#{$i}
      margin-left: 100%/$cols_pc_20*$i

    .col-20-lg-#{$i}
      +lg
        width: 100%/$cols_pc_20*$i
    .col-20-lg-push-#{$i}
      +lg
        margin-left: 100%/$cols_pc_20*$i

    .col-20-md-#{$i}
      +md
        width: 100%/$cols_pc_20*$i
    .col-20-md-push-#{$i}
      +md
        margin-left: 100%/$cols_pc_20*$i

  @for $i from 0 through $cols_mob
    .col-sm-#{$i}
      +sm
        width: 100%/$cols_mob*$i
    .col-sm-push-#{$i}
      +sm
        margin-left: 100%/$cols_mob*$i

  .col-0
    // +lgmin
    padding: 0

  .col-lg-0
    +lg
      padding: 0

  .col-md-0
    +md
      padding: 0

  .col-sm-0
    +sm
      padding: 0
