$spacersCount:  80
@for $i from 0 through $spacersCount
  .pt-#{$i}
    padding-top: 8px * $i
  .pt-lg-#{$i}
    +lg
      padding-top: 8px * $i
  .pt-md-#{$i}
    +md
      padding-top: 8px * $i
  .pt-sm-#{$i}
    +sm
      padding-top: 8px * $i

@for $i from 0 through $spacersCount
  .pr-#{$i}
    padding-right: 8px * $i
  .pr-lg-#{$i}
    +lg
      padding-right: 8px * $i
  .pr-md-#{$i}
    +md
      padding-right: 8px * $i
  .pr-sm-#{$i}
    +sm
      padding-right: 8px * $i


@for $i from 0 through $spacersCount
  .pb-#{$i}
    padding-bottom: 8px * $i
  .pb-lg-#{$i}
    +lg
      padding-bottom: 8px * $i
  .pb-md-#{$i}
    +md
      padding-bottom: 8px * $i
  .pb-sm-#{$i}
    +sm
      padding-bottom: 8px * $i

@for $i from 0 through $spacersCount
  .pl-#{$i}
    padding-left: 8px * $i
  .pl-lg-#{$i}
    +lg
      padding-left: 8px * $i
  .pl-md-#{$i}
    +md
      padding-left: 8px * $i
  .pl-sm-#{$i}
    +sm
      padding-left: 8px * $i

@for $i from 0 through $spacersCount
  .mt-#{$i}
    margin-top: 8px * $i
  .mt-lg-#{$i}
    +lg
      margin-top: 8px * $i
  .mt-md-#{$i}
    +md
      margin-top: 8px * $i
  .mt-sm-#{$i}
    +sm
      margin-top: 8px * $i


@for $i from 0 through $spacersCount
  .mr-#{$i}
    margin-right: 8px * $i
  .mr-lg-#{$i}
    +lg
      margin-right: 8px * $i
  .mr-md-#{$i}
    +md
      margin-right: 8px * $i
  .mr-sm-#{$i}
    +sm
      margin-right: 8px * $i


@for $i from 0 through $spacersCount
  .mb-#{$i}
    margin-bottom: 8px * $i
  .mb-lg-#{$i}
    +lg
      margin-bottom: 8px * $i
  .mb-md-#{$i}
    +md
      margin-bottom: 8px * $i
  .mb-sm-#{$i}
    +sm
      margin-bottom: 8px * $i

@for $i from 0 through $spacersCount
  .ml-#{$i}
    margin-left: 8px * $i
  .ml-lg-#{$i}
    +lg
      margin-left: 8px * $i
  .ml-md-#{$i}
    +md
      margin-left: 8px * $i
  .ml-sm-#{$i}
    +sm
      margin-left: 8px * $i
