+font('Calibri-reg', 'Calibri-new', 'Calibri')
+font('Calibri-bold', 'Calibri-Bold-new', 'Calibri Bold')
+font('Calibri-italic', 'Calibri-Italic-new', 'Calibri Italic')
+font('Calibri-bold-italic', 'Calibri-BoldItalic-new', 'Calibri Bold Italic')

=reg
  font-family:  Calibri-reg,Arial,sans-serif
=it
  font-family:  Calibri-italic,Arial,sans-serif
=bold
  font-family:  Calibri-bold,Arial,sans-serif
=boldi
  font-family: Calibri-bold-italic,Arial,sans-serif

