@import helpers
@import base/index
@import lib/index
@import components/index
@import containers/index

body
  line-height: 1.3
  font-size: 16px
  +reg
  color: $blue
  &.is-bg-blue
    background: $blue
  &.is-bg-gray
    background: $sgray
  &.is-overflowed
    height: 100%
    overflow: hidden
    position: fixed
    width: 100%

.out
  position: relative
  overflow: hidden
.is-header-padding
  padding-top: 176px
  +lg
    padding-top: 154px
  +sm
    padding-top: 104px
.is-lines-margin
  margin-top: calc(176px + 72px + 19.79vw) // image height in px/container height * 100%
  +lg
    margin-top: calc(154px + 72px + 20.35vw)
  +md
    margin-top: calc(154px + 72px + 28.55vw)
  +sm
    margin-top: calc(104px + 48px + 49.85vw)

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: normal

.is-white
  color: $white
.is-blue-b
  color: $bblue
.is-blue
  color: $blue
.is-blue-c
  color: $cblue
.is-yellow
  color: $yellow
.is-gray-s
  color: $sgray
.is-gray
  color: $gray
.is-red
  color: $red
a
  color: currentColor
  text-decoration: none

button
  background-color: transparent

.hide
  display: none
.hide-lg
  +lg
    display: none
.hide-md
  +md
    display: none
.hide-sm
  +sm
    display: none
.hide-mob
  +mob
    display: none

.show
    display: inline-block
    vertical-align: top
.show-lg
  display: none
  +lg
    display: inline-block
    vertical-align: top
.show-md
  display: none
  +md
    display: inline-block
    vertical-align: top
.show-sm
  display: none
  +sm
    display: inline-block
    vertical-align: top
.show-mob
  display: none
  +mob
    display: block

.section
  position: relative
  &__wrap
    position: relative
    z-index: 3
.svg-hidden
  position: absolute
  left: 0
  top: 0
  opacity: 0
  visibility: hidden
  width: 1920px
  height: 1080px

.global-lines
  display: block
  position: fixed
  top: 0
  left: 0
  z-index: 0
  user-select: none
  pointer-events: none
  font-size: 0
  overflow: visible
  width: 5300px
  height: 5300px
  background-repeat: no-repeat
  background-position: 50% 50%
  background-size: 100% 100%

.block
  position: relative
  &__bg
    position: absolute
    overflow: hidden
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: 1
    font-size: 0
    pointer-events: none
    user-select: none
    &-lines-wrap, &-circles-wrap
      height: 100%
      font-size: 0
      .m-container, .row, .col
        height: 100%
      .col
        position: relative
    &-lines-wrap
      img
        position: absolute
        left: 0
        top: 0
        width: 1920px
        height: 1080px
    &-lines
      position: absolute
      right: 0
      top: 0
      background: $white
      height: 100%
      width: 5000px
    &-circles-wrap
    &-circles
      position: absolute
      right:
      pointer-events: none
      user-select: none
    &.is-z-2
      z-index: 2
  &__content
    position: relative
    z-index: 1
  &__line
    position: relative
    width: 100vw
    height: 100%
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: 5300px 5300px
  &_events
  &_latest-updates
    position: relative
    z-index: 1
  &_latest
    position: relative
    z-index: 1

  &.is-overflow
    overflow: hidden
  &.is-bg-bblue
    background: $bblue
.fixed-bg-block
  position: absolute
  z-index: -1
  left: 0
  top: 0
  width: 100%
  height: 100%
  background: $white
  opacity: 0
  pointer-events: none
  &.is-visible
    opacity: 1
  &.is-gray
    background: $sgray
  &.is-bg-bblue
    background: $bblue


// temp
.placeholder-section
  height: 100vh
  border-bottom: 2px solid red
