.about-hero
  $this: &
  position: relative
  z-index: 1
  background: $blue
  &__sticky-container
    pointer-events: none
    width: 100%
    height: 140vh
    font-size: 0
    padding-top: 25vh
    opacity: 0
    transition: opacity 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000)
    +rhmin($bigScreenHeight)
      height: 110vh
  &__sticky-elem
    position: relative
    height: 50vh
    min-height: 240px
    width: 100%
    padding-top: 0
  &__logo-wrap
    position: absolute
    left: 50%
    top: 50%
    z-index: 0
    transform: translate(-50%, -51.4%)
    font-size: 0
    +rhmin($bigScreenHeight)
      transform: translate(-50%, -51.5%)
    svg
      width: 5300px
      height: 5300px
      +lg
        width: 4500px
        height: 5400px
      +sm
        width: 2800px
        height: 2800px
  &__clip-img, &__clip-bg
    width: 5300px
    height: 5300px
    display: none
  &__clip-bg
    position: absolute
    left: 0
    top: 0
    z-index: -1
  &__static-logo
    display: none
    text-align: center
    img
      display: inline-block
      vertical-align: top
      width: 190px
      height: 344px
      +lg
        width: 159px
        height: 288px
      +sm
        width: 97px
        height: 186px
  &.is-visible
    #{$this}__sticky-container
      opacity: 1
  &.is-static-view
    padding-bottom: 0
    #{$this}__sticky-container
      height: auto
      padding-top: 0
    #{$this}__sticky-elem
      display: none
    #{$this}__static-logo
      display: block
.about-logo-bg
  opacity: 0
      
+is-native-sticky
  overflow-x: hidden
  .out
    overflow: visible
  .about-hero
    &__sticky-container
      overflow: visible
      padding-top: 0
    &__sticky-elem
      position: sticky
      top: 25vh
      +gpu
  &.is-firefox
    .about-hero
      &__logo-wrap
        svg
          position: absolute
          left: 0
          top: 0
          opacity: 0
          z-index: -1
      &__clip-img
        display: block
        -webkit-clip-path: url(#logoMaskClip)
        clip-path: url(#logoMaskClip)
      &__clip-bg
        display: block
      