@import lib/plyr
@import components/video-block
@import containers/img-gallery
@import containers/partner-hero
@import containers/partner-box
@import containers/partner-block
@import containers/text-img-block

.article
  &__content
    position: relative
    z-index: 1
    background: $sgray
    & > *
      &:last-child
        margin-bottom: 0
.article-head
  & + .article-block
    h2
      &:first-child
        margin-top: 32px
        +lg
          margin-top: 24px
        +sm
          margin-top: 16px
.text-img-block
  & + .article-block
    h2
      &:first-child
        margin-top: 48px
        +sm
          margin-top: 0px
.article-img, .video-block, .article-btn-block
  & + .article-block
    h2
      &:first-child
        margin-top: 0px
        +sm
          margin-top: 0px
.img-gallery-wrap
  & + .article-block
    h2
      &:first-child
        margin-top: 0px
        +sm
          margin-top: 8px
.article-links
  & + .article-block
    h2
      &:first-child
        margin-top: 24px
        +sm
          margin-top: 0px
.article-block
  & + .article-block
    h2
      &:first-child
        margin-top: 24px
        +lg
          margin-top: 40px
        +md
          margin-top: 32px
        +sm
          margin-top: 16px
.article-info
  & + .article-block
    h2
      &:first-child
        margin-top: 40px
        +sm
          margin-top: 0px
.article-quote-block
  & + .article-block
    h2
      &:first-child
        margin-top: 24px
        +lg
          margin-top: 32px
        +sm
          margin-top: 0px
.article-head, .text-img-block, .article-img, .video-block, .article-btn-block, .img-gallery-wrap, .article-links, .article-block, .article-info, .article-quote-block
  & + .article-block
    h3
      &:first-child
        margin-top: 0
.article-block
  h2
    margin-bottom: 48px
    margin-top: 96px
    font-size: 32px
    line-height: 1
    +bold
    +sm
      margin-top: 56px
      margin-bottom: 32px
    &:last-child
      margin-bottom: 0
  h3
    margin-top: 48px
    margin-bottom: 24px
    font-size: 24px
    line-height: 1.33
    +bold
    +sm
      margin-top: 32px
    &:last-child
      margin-bottom: 0
  a
    color: $bblue
    +hover
      text-decoration: underline
  p
    &:not(:last-child)
      margin-bottom: 16px
  strong 
    font-weight: normal
    +bold
  em
    font-style: normal
    +it
  strong  em, em strong
    +boldi
  ul
    margin-top: 48px
    margin-bottom: 56px
    +md
      margin-bottom: 48px
    li
      &:before
        content: ''
        position: absolute
        left: 0
        top: 9px
        width: 6px
        height: 6px
        border-radius: 50%
        background: $blue
  ol
    +counterLetter
    li
      &::before
        position: absolute
        left: 0
        top: 0
        +bold
    &:last-of-type
      margin-bottom: 96px
  ul, ol
    &:last-child
      margin-bottom: 0
    li
      position: relative
      padding-left: 18px
      &:not(:last-of-type)
        margin-bottom: 16px
.article-img
  font-size: 0
  img
    display: block
    width: 100%
    height: auto

.article-links
  font-size: 0
  .download-link
    $this: &
    +lg
        font-size: 20px
        line-height: 1.2
    +sm
      font-size: 16px
      line-height: 1    