.contact
  &__bg
    position: absolute
    z-index: 0
    left: 50%
    top: -500px
    transform: translateX(-50%)
  &__content
    position: relative
    z-index: 1
  &__top
    position: relative
    &::before
      content: ''
      position: absolute
      z-index: 0
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: $sgray 
      +md
        width: 120%
        left: -10%
    .row
      position: relative
      z-index: 1
  &__btns-group
    display: flex
    align-items: center
    flex-wrap: wrap
    button, a
      margin-bottom: 24px
      &:not(:last-of-type)
        margin-right: 32px
        +lg
          margin-right: 24px
  &__main
    &-content
      position: relative
      overflow: hidden
      &::before
        content: ''
        position: absolute
        z-index: 0
        left: 0
        top: 0
        height: 100%
        width: 62.5%
        background: $sgray
        +md
          display: none
      &-inner
        +md
          width: 90%
          margin: 0 auto
        +sm
          width: 100%
      .row
        position: relative
        z-index: 1
    &-row
      align-items: flex-start
      &::before
        +md
          content: ''
          position: absolute
          z-index: -1
          left: 0
          top: 0
          height: calc(100% - 170px)
          width: 100%
          background: $sgray
  &__mob-wrapper
    +sm
      width: 83.334%
      margin: 0 auto
  &__blocks-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    +sm
      display: block
    .contact-block
      width: 45.4%
      +lg
        width: 46.2%
      +md
        width: 44.7%
      +sm
        width: 100%
  &__form
    background: $white
    border-radius: 24px
    box-shadow: $shadow
    position: relative
    &::before
      content: ''
      z-index: -1
      position: absolute
      left: 0
      top: -170px
      width: 100%
      height: 200px
      background: $sgray
  &__text
    p
      &:not(:last-of-type)
        margin-bottom: 24px
  &__sticky
    &-wrap
      position: relative
    &-block
      position: relative
  &__form-col
    +md
      display: none
  &__static-form
    display: none
    border-radius: 24px
    background-color: $white
    box-shadow: $shadow
    +md
      display: block
    &-btns
      +sm
        display: flex
        flex-wrap: wrap
        .form__btns-wrap
          order: 1
          width: 100%
        .form__check-wrap
          order: 0
          width: 100%
.contact-block
  &__img
    position: relative
    height: 0
    padding-bottom: 49%
    img
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      object-fit: cover
  &__title
    line-height: 1
    +sm
      font-size: 16px
  &__text
    font-size: 16px
    line-height: 1
    color: $blue
.contact-link
  display: inline-flex
  align-items: center
  font-size: 20px
  line-height:  1.2   
  color: $blue
  i
    font-size: 0
    margin-right: 12px
  svg
    font-size: 24px
    fill: $blue