.events
  overflow: hidden
  &__bg
    position: absolute
    +coverdiv
    z-index: 3
    &-block
      position: relative
      height: 100%
      &::before
        content: ''
        position: absolute
        right: 0
        top: 0
        height: 100%
        width: 5000px
        z-index: -1
        background: $sgray
    .m-container, .row, .col
      height: 100%
  &__content
    position: relative
    z-index: 5
  &__slider
    margin: 0 -24px
    .swiper-pagination 
      position: static
      display: none
      +sm
        display: block
    .swiper-slide
    .swiper-pagination-bullet
      background: $blue
      &.swiper-pagination-bullet-active
        background: $bblue
  &__circles
    position: absolute
    left: 50%
    top: 100%
    z-index: 4
    font-size: 0
    transform: translate(-8%, -50%)
    pointer-events: none
.event-block
  background: $white
  box-shadow: $shadow
  border-radius: 24px
  margin-left: 24px
  margin-right: 24px
  &__text-side
    +sm
      order: 1
  &__date-side
    +sm
      order: 0
  &__location-side
  &__btns-side
    font-size: 0
    text-align: center
    // +lgmin
    //   text-align: right
    .btn
      &_blue-b
        &:not(:first-child)
          margin-left: 24px
          +md
            margin-left: 32px
          +sm
            margin-left: 24px
    
  &__text
    min-height: 96px
    +sm
      min-height: 1px
  &__text-btn
    +r(1400)
      display: none
    +sm
      display: inline-block
  &__icon-btn
    display: none
    +r(1400)
      display: inline-block
    +sm
      display: none
  &__text-btn, &__icon-btn
    +r(1024)
      margin-bottom: 24px
      margin-left: 30px
      margin-right: 30px
    +sm
      margin: 0
    & + .btn_blue-b
      &:not(:first-child)
        +r(1024)
          margin-left: 0
        +md
          margin-left: 0