.footer
  $this: &
  position: relative
  background: $blue
  &__content-wrap
    position: relative
    z-index: 1
    overflow: hidden
  &__top
    position: relative
    z-index: 1
    &-inner
      position: relative
    &-img
      +coverdiv
      z-index: -1
      &::after
        content: ''
        top: 0
        left: 100%
        position: absolute
        z-index: -1
        height: 100%
        width: 5000px
        background: $blue
      +md
        width: calc(100% + 50px)
        left: 50%
        transform: translateX(-50%)
      +sm
        width: calc(100% + 24px)
      img
        width: 100%
        height: 100%
        object-fit: cover
  &__middle
    position: relative
    z-index: 1
    &-inner
      position: relative
    #{$this}__fill-bg-block
      background: $bblue
      border: 10px solid $bblue
  &__bottom
    position: relative
    z-index: 1
    &-inner
      position: relative
    #{$this}__fill-bg-block
      background: $white
      border-radius: 0 0 0 24px
      +sm
        border-radius: 0
  &__fill-bg-block
    position: absolute
    border: 10px solid $white
    left: 0
    top: 0
    height: 100%
    width: 5000px
    z-index: -1
    +sm
      left: 50%
      transform: translateX(-50%)
  &__socials
    .socials
      flex-shrink: 0
      margin-right: 0

  &__bottom-text
    display: flex
    align-items: center
    justify-content: space-between
    +sm
      display: block
  &__menu
    display: flex
    justify-content: flex-end
    +sm
      display: block
  &__circles
    &-wrapper
      position: absolute
      +coverdiv
      overflow: hidden
      pointer-events: none
      z-index: 0
    &-inner
      position: relative
      img
        position: absolute
        left: 0
        top: 0
        transform: translate(-30%, -20%)




