.goals
  overflow: hidden
  background: $blue
  &__row
    position: relative
    z-index: 1
    &::before
      content: ''
      position: absolute
      right: 0
      top: 0
      height: 100%
      width: 5000px
      background: $blue
      z-index: 0
  &__col
    position: relative
    z-index: 1
.goals-slider
  &__inner
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    +sm
      flex-wrap: nowrap
  &__slide
    width: 6*100%/22
    +md
      width: 7*100%/24
    +sm
      width: 100%
  &__pagination
    position: static
    display: none
    text-align: center
    +sm
      display: block
      margin-bottom: 72px
    .swiper-pagination-bullet
      background: $bblue
      opacity: 1
      &.swiper-pagination-bullet-active
        background: $yellow
.goal-block
  &__pic
    width: 85%
    margin-left: auto
    margin-right: auto
    svg
      width: 100%
      display: block

