.header
  $this: &
  position: relative
  top: 0
  left: 0
  width: 100%
  color: $blue
  &__wrap
    position: relative
  &__inner
    position: relative
    display: flex
    justify-content: space-between
    padding-top: 80px
    padding-left: 116px
    font-size: 0
    height: 176px
    +lg
      height: 154px
      padding-top: 72px
      padding-left: 78px
    +md
      padding-left: 90px
    +sm
      height: 104px
      padding-top: 42px
      padding-left: 50px
  &__logo-text
    display: block
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000)
    +is-touch
      transition: transform $easing
    span
      display: block
      font-size: 33px
      color: inherit
      +bold
      line-height: 0.9
      transition: color $easing
      +lg
        font-size: 28px
      +sm
        font-size: 17px
        line-height: 1
  &__logo-img
    z-index: 1
    position: absolute
    left: 22px
    top: 32px
    display: inline-flex
    align-items: center
    padding-right: 21px
    transition: opacity $easing
    transition-delay: 0.25s
    opacity: 0
    +lg
      left: 0
      padding-right: 16px
    +md
      left: 12px
    +sm
      left: 0
      top: 15px
      padding-right: 10px
    i
      display: block
      font-size: 0
      line-height: 1
    img
      height: 132px
      width: 73px
      +lg
        height: 114px
        width: 63px
      +md
        height: 112px
        width: 62px
      +sm
        height: 72px
        width: 40px
  &__mob-drop
    display: none
    overflow-y: auto
    background: $blue
    +sm
      position: fixed
      z-index: 101
      width: var(--vw)
      height: var(--vh)
      top: 0
      left: 0
    &-inner
      position: relative
      min-height: 100%
      width: 100%
      padding: 93px 11px 12px
      text-align: center
    #{$this}__nav-wrap
      display: block
      width: 100%
      a
        color: $white
    #{$this}__home-logo-link
      top: 0
      svg
        fill: $white!important
    &.is-active
      display: block
      +smmin
        display: none
  &__home-logo-link
    position: relative
    top: -2px
    display: inline-block
    margin-right: 43px
    +md
      margin-right: 30px
    +sm
      margin-right: 0
      margin-bottom: 37px
    svg
      width: 24px
      height: 24px
      fill: $white
      transition: color $easing
  &__nav-wrap
    display: flex
    align-items: flex-start
    +sm
      display: none
  &__nav-main-list
    display: flex
    +sm
      display: block
      text-align: center
    & > li
      &.current-menu-item
        #{$this}__nav-main-link
          &::after
            transform: translateX(0)
      &:not(:last-of-type)
        margin-right: 44px
        +lg
          margin-right: 32px
        +md
          margin-right: 20px
        +sm
          margin-right: 0
          margin-bottom: 43px
  &__nav-main-link-wrapper
    position: relative
    &:before
      display: none
      content: ''
      position: absolute
      left: 50%
      transform: translate(-50%, 0)
      width: 100%
      min-width: 110px
      bottom: -100px
      height: 101px

      +is-touch
        display: none!important
      +sm
        display: none!important
    &.is-active
      &:before
        display: block
      #{$this}__nav-main-link
        &::after
          transform: translateX(0)
      #{$this}__drop-menu
        opacity: 1
        pointer-events: all
      #{$this}__drop-menu-inner
        +sm
          opacity: 1
  &__nav-main-link-inner
    padding: 20px 0 30px
  &__nav-main-link
    position: relative
    display: flex
    font-size: 24px
    line-height: 1
    overflow: hidden
    +bold
    color: inherit
    transition: color $easing
    +sm
      padding-bottom: 3px
    &::after
      content: ''
      position: absolute
      left: 0
      width: 100%
      height: 2px
      background: $white
      bottom: 0
      transform: translateX(-102%)
      transition: transform $easing, background $easing
      +sm
        height: 3px
        bottom: 1px
    +lg
      font-size: 20px
      line-height: 1.2
    +md
      font-size: 18px
    +sm
      color: $white
      font-size: 24px
      line-height: 1.2
      display: inline-block
      vertical-align: top
    +hover
      &::after
        transform: translateX(0)
    &.is-active
      &::after
        transform: translateX(0)
  &__drop-menu
    position: absolute
    left: 50%
    transform: translate(-50% ,0)
    background: $white
    padding: 26px 32px 32px 32px
    border-radius:  0px 0px 24px 24px;
    box-shadow: 0px 8px 16px rgba(0, 55, 80, 0.2);
    transition: opacity $easing, top $easing-x
    top: 72px
    opacity: 0
    pointer-events: none
    .is-top-position &
      top: 96px
    +lg
      top: 64px
      .is-top-position &
        top: 74px
        +is-touch
          top: 82px

    +sm
      height: 0
      position: relative
      top: 0!important
      left: 0
      transform: none
      background: transparent
      box-shadow: none
      opacity: 1
      padding: 0

    li
      display: flex
      justify-content: center
      &:not(:last-of-type)
        margin-bottom: 16px
    a
      position: relative
      overflow: hidden
      display: flex
      color: $blue
      font-size: 18px
      line-height: 1.22
      white-space: nowrap
      transition: color $easing
      &::after
        content: ''
        position: absolute
        left: 0
        width: 100%
        height: 1px
        background: $blue
        bottom: 0
        transform: translateX(-102%)
        transition: transform $easing, background $easing

      +hover
        &::after
          transform: translateX(0)
  &__drop-menu-inner
    +sm
      width: 100%
      padding: 22px 0 24px
      position: absolute
      left: 0
      top: 0
      transition: opacity $easingextra
      opacity: 0


  &_sticky
    position: fixed
    top: 0
    left: 0
    width: 100%
    color: $blue
    transition: transform $easing, opacity $easing
    transform: translateY(-110%)
    z-index: 102
    opacity: 0
    &::before
      content: ''
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      height: 400px
      background: $blue
      transition: opacity $easing
      z-index: -1
    #{$this}__inner
      height: 88px
      padding-top: 16px
      +lg
        padding-top: 16px
        height: 80px
      +md
        padding-top: 16px
      +sm
        height: 48px
        padding-top: 8px
    #{$this}__logo-img
      top: -32px
      opacity: 0
      pointer-events: none
      +sm
        top: -10px
    #{$this}__logo-text
      +sm
        transform: translateX(-50px)
    &.is-fixed
      position: fixed
  &:not(.header_sticky)
    opacity: 0
    visibility: hidden
    pointer-events: none
    #{$this}__logo-text, #{$this}__nav-wrap
      opacity: 0
      pointer-events: none
      visibility: hidden
.header-wrapper
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 176px
  z-index: 100
  +lg
    height: 154px
  +sm
    height: 104px
  &.is-blue-on-top
    background: $blue
  &.is-gray-on-top
    background: $sgray
  &.is-no-transition
    .header
      transition: none
  &.is-top-position
    .header
      opacity: 1
      &:before
        opacity: 0
      &__logo-img
        opacity: 1
        pointer-events: auto
      &__logo-text
        +sm
          transform: translateX(0px)
      &_sticky
        transform: translateY(64px)
        +lg
          transform: translateY(56px)
        +sm
          transform: translateY(34px)
    .header-burger
      +sm
        transform: translateY(-10px)
    &.is-blue
      .header
        &__home-logo-link svg
          fill: $blue
        &__nav-wrap
          a
            &::after
              background: $blue
              +sm
                background: $white
        &_sticky
          color: $blue

      .header-burger
        &::before, span
          background-color: $blue
  &.is-show-reverse
    .header
      transform: translateY(0)
      opacity: 1
  &.is-white
    .header_sticky
      color: $white
    .header-burger
      &::before, span
        background-color: $white
    &__inner
      color: $white
  &.is-blue
    color: $blue
    .header
      &_sticky
        color: $white
    .header-burger
      &::before, span
        background-color: $white
.is-menu-opened
  .header_sticky
    &::before
      opacity: 0
      pointer-events: none
      transition: none
    .header__wrap
      pointer-events: none
      opacity: 0
  .header-wrapper.is-top-position
    .header-burger
      &::before, span
        background-color: $white
.header-drop
  display: none
.header-burger
  position: absolute
  right: 11px
  top: 16px
  display: none
  z-index: 102
  width: 22px
  height: 8px
  transition: transform $easing
  transform: translateY(0px)
  +sm
    display: block
  &::before, span
    content: ''
    position: absolute
    display: block
    width: 100%
    height: 2px
    background-color: $blue
    transition: transform $easing, background-color $easing, width $easing
  &::before
    top: 0
    left: 0
    transform-origin: 0 0
  &::after
    content: ''
    position: absolute
    left: -6px
    bottom: -6px
    right: -6px
    top: -6px
  span
    right: 0
    bottom: 0
    transform-origin: 0% 0%
  &.is-active
    &::before, span
      background: $white
      width: 23px
    &::before
      transform: rotate(44deg)
    span
      transform: translate(0px,10px) rotate(-44deg)
    &:after
      bottom: -15px
