.hero
  position: relative
  height: 100vh
  max-height: 1200px
  background: $blue
  overflow: hidden
  padding-bottom: 176px
  +lg
    padding-bottom: 154px
  +sm
    padding-bottom: 0
  @media only screen and (max-height: "800px") and (min-width: "1025px")
    padding-bottom: 0


  +is-touch
    height: var(--vh)
    max-height: none
    +mob
      height: auto
      min-height: var(--vh)
      @media only screen and (orientation: landscape)
        +md
          padding-bottom: 200px
        +sm
          padding-bottom: 120px
  &__container
    @media only screen and (max-height: "800px") and (min-width: "1025px")
      padding-top: 0px
  .hero__container
    +mob
      @media only screen and (orientation: landscape)
        padding-top: 0
    .col
      +mob
        @media only screen and (orientation: landscape)
          width: 85%
  &__wrap
    position: relative
    z-index: 2
    height: 100%
    display: flex
    align-items: center
    @media only screen and (max-height: "800px") and (min-width: "1025px")
      align-items: flex-start
    +mob
      height: auto
      align-items: flex-start
  &__content
    display: none
    &-wrap
      @media only screen and (max-height: "800px") and (min-width: "1025px")
        &.col
          width: 65%
        .title
          font-size: 40px
  &__bg-video
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 100%
    z-index: 0
    img
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      object-fit: cover
      z-index: 1
    video
      position: relative
      z-index: 0
      height: 100%
      width: 100%
      object-fit: cover
      +is-ms
        object-fit: none
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 150vw
        height: 150vh
  &__canvas-wrap
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: 1
  &__bg-shapes
    pointer-events: none
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: 1
    opacity: 0
    font-size: 0
    &.is-visible
      opacity: 1
    .svg
      position: absolute
      top: 530px
      left: -537px
      width: 5300px
      height: 5300px
      transform: translate(-50%, -50%)
      +rmin(1921)
        top: 630px
      +lg
        left: -600px
      +md
        left: -700px
      +md
        top: 738px
      +is-touch
        @media only screen and (orientation: portrait)
          top: 738px
        &.svg
          +mob
            top: 100px
            left: -340px
            @media only screen and (orientation: landscape)
              left: -50px
              top: 60px
    .shapes
      top: 152px
      left: calc(50% + 480px)
      width: 70%
      height: 100%
      overflow: hidden
      transform: translateZ(0px)
      +lg
        top: 136px
        left: calc(50% + 288px)
        +is-touch
          left: calc(50% + 274px)
      +md
        left: calc(50% + 256px)
        +is-touch
          left: calc(50% + 230px)
    div.shapes
      +mob
        left: 0
        width: 100%
        top: calc(var(--vh) * 0.6)
        +is-touch
          left: 0
    .circles
      position: absolute
    .lines
      position: fixed
      -webkit-clip-path: url(#rect-mask-lines)
      clip-path: url(#rect-mask-lines)
      +is-ie
        position: absolute
    .lines--fat
      -webkit-clip-path: url(#circle-mask-lines)
      clip-path: url(#circle-mask-lines)
    path.lines--fat
      +mob
        -webkit-clip-path: url(#circle-mask-lines-mob)
        clip-path: url(#circle-mask-lines-mob)
    .circles--fat
      -webkit-clip-path: url(#circle-mask)
      clip-path: url(#circle-mask)
    g.circles--fat
      +mob
        -webkit-clip-path: url(#circle-mask-mob)
        clip-path: url(#circle-mask-mob)

