.img-gallery
  &__slide
    font-size: 0
  &__img
    position: relative
    height: 0
    padding-bottom: 56.25%
    &:before
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 86px
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%)
      opacity: .4
      z-index: 2
    img
      display: block
      position: absolute
      z-index: 1
      left: 0
      top: 0
      width: 100%
      height: 100%
      object-fit: cover
  &__text
    width: 71.3%
    +lg
      width: 87.3%
    +md
      width: 95%
    +sm
      width: 100%
  &__pagination
    &.swiper-pagination-bullets
      width: auto
      position: absolute
      bottom: auto
      top: 70%
      left: 50%
      transform: translateX(-50%)
      z-index: 3
  .swiper-pagination-bullet
    background: $sgray
    opacity: 1
  .swiper-pagination-bullet-active
    background: $bblue
