
.block
  position: absolute
  left: 0
  top: 0
  width: 100%
  &_latest
    min-height: 656px
    +lg
      min-height: 636px
    +md
      min-height: 464px
.latest-top
  position: relative
  left: 0
  top: 0
  width: 100%
  z-index: 99
  min-height: 180px
  +mob
    min-height: 1px
  &__inner
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    +mob
      position: static
  &--topics
    background: $sgray

.latest-nav
  $that: &
  position: absolute
  left: 0
  top: 0
  width: 100%
  z-index: 99
  overflow: hidden
  user-select: none
  transition: background $easing , transform $easing
  transform: translateY(0px)
  +mob
    position: static
  &.is-no-transform-transition
    transition: background $easing
  &__inner
    position: relative
    padding-left: 16px
  div.latest-nav__inner
    +mob
      padding-left: 0
  &__btn-icon
    position: absolute
    z-index: 1
    left: 0
    bottom: 40px
    display: flex
    align-items: center
    justify-content: center
    width: 48px
    height: 48px
    transform: rotate(0deg)
    border-radius: 50%
    font-size: 0
    background: $blue
    cursor: pointer
    user-select: none
    transition: background $easing , transform $easing
    +gpu
    +mob
      display: none
    svg
      width: 18px
      height: 24px
      fill: $bblue
      transition: fill  $easing
  &__content
    position: relative
    padding: 40px 8px
    z-index: 0
    overflow: hidden
    +mob
      padding: 0
      @media only screen and (orientation: landscape)
        padding-top: 24px
      +sm
        @media only screen and (orientation: landscape)
          padding-top: 0
    &-inner
      position: relative
      transition: transform $easing, opacity $easing
      opacity: 0
      transform: translateX(-101%)
      +mob
        padding-left: 0px
  &__text-count
    margin-bottom: 24px
    transition: color $easing
    +mob
      margin-bottom: 16px
  &__filter-btns
    position: relative
    font-size: 0
    .btn
      +mob
        margin-bottom: 16px
      +hover
        span
          transform: none
          +gpu
          top: 0
          left: 0
      &:not(:last-of-type)
        margin-right: 24px
        +tablet
          margin-right: 16px
      span
        position: relative
        z-index: 0
        padding: 0px 40px
        transition: opacity $easing, transform $easing, background $easing, color $easing
      svg
        position: absolute
        z-index: 1
        top: 50%
        right: 40px
        transform: translate(100%, -50%)
        font-size: 16px
        fill: $bblue
        opacity: 0
        transition: opacity $easing
      i
        font-style: normal
        transition: transform $easing
      &.is-active
        span
          background: $blue
          color: $bblue
        i
          transform: translateX(-16px)
        svg
          opacity: 1
  // &--topics
  //   #{$that}__text-content
  //     margin-left: 8.33333%
  &.is-active
    #{$that}__btn-icon
      transform: rotate(90deg)
    #{$that}__content
      &-inner
        opacity: 1
        transform: translateX(calc(0% + 40px))
        +mob
          transform: none
        +is-ie
          transform: translateX(40px)
  &.is-fixed
    &.is-active
      background: $bluel
.latest-main
  position: relative
  z-index: 2
  min-height: 30vw
  overflow: hidden
  &__content
    position: relative
    z-index: 1
    .row
      .col
        +mob
          @media only screen and (orientation: landscape)
            width: 100%
            margin-left: 0
  &__circles-wrapper
    position: relative
    z-index: 0
  &__circles
    position: absolute
    left: 50%
    top: 100%
    z-index: 4
    font-size: 0
    transform: translate(-8%, -50%)
.grid-block
  position: relative
  font-size: 0
  margin: 0 -20px
  +lg
    margin: 0 -10px
  +md
    margin: 0 -30px
  +sm
    max-width: 380px
  &--topics
    margin: 0!important
    +sm
      max-width: 100%
div.grid-block
  +mob
    margin: 0 auto
.grid-item, .grid-sizer
  width: 25%
  +lg
    width: 33.333%
  +md
    width: 50%
  +sm
    width: 100%
.grid-item
  padding: 0 20px 40px
  +lg
    padding: 0 10px 24px
  +md
    padding: 0 30px 32px
div.grid-item
  +mob
    padding: 0 0 24px
    @media only screen and (orientation: landscape)
      padding: 0 30px 32px
