.latest-card
  $this: &
  position: relative
  display: flex
  align-items: flex-end
  height: 100%
  min-height: 680px
  border-radius: 24px
  margin: 0 12px 0
  box-shadow: $shadow
  +md
    min-height: 642px
  +sm
    min-height: 592px
  +hover
    #{$this}__content
      &::before
        transform: scaleX(1.05) scaleY(1.028)
  &:not(.latest-card_video)
    +hover
      .btn
        &:before
            opacity: 1
        span
            transform: translateY($hoverY)
            -ms-transform: translateY(0px)
  &__img
    position: absolute
    top: 0
    left: 0
    z-index: 0
    height: 414px
    width: 100%
    img
      width: 100%
      height: 100%
      object-fit: cover
      border-radius: 24px 24px 0 0
  &__content
    position: relative
    z-index: 1
    &::before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: $white
      z-index: -1
      border-radius: 24px
      transition: transform $easing
      transform-origin: 50% 0
      +gpu
  &__inner
    position: relative
    z-index: 1
  &__title
    min-height: 96px
    +sm
      min-height: 1px
  &__text
    margin-bottom: 24px
    min-height: 144px
  &__btns
    order: 2
    font-size: 0
  &_video
    flex-direction: column
    justify-content: stretch
    min-height: 1px
    +sm
      height: 100%
    +hover
      #{$this}__img
        transform: scale(1.02)
    #{$this}__content
      width: 100%
      height: 680px
      box-sizing: border-box
      display: flex
      flex-direction: column
      justify-content: space-between
      +gpu
      +md
        height: 642px
      +sm
        height: 592px
      &::before
        display: none
    #{$this}__img
      height: 100%
      transform-origin: 50% 0
      transition: transform $easing
      +gpu
      img
        border-radius: 24px
    #{$this}__inner
      display: flex
      flex-wrap: wrap
    #{$this}__text
      width: 100%
      order: 1
      margin-bottom: 0
      min-height: 1px
    #{$this}__title
      width: 100%
      order: 2
      min-height: 1px
    #{$this}__btn
      order: 3
  &_grid
    margin: 0
    #{$this}__text, #{$this}__title
      min-height: 1px
    &:not(.latest-card_video)
      height: auto
      min-height: 1px
      padding-top: 170px
      +lg
        padding-top: 152px
      +md
        min-height: 1px
        padding-top: 174px
      +sm
        min-height: 1px
      #{$this}__img
        height: 190px
        +lg
          height: 165px
        +md
          height: 200px
    &.latest-card_text
      padding-top: 0
      +lg
        padding-top: 0
      +md
        padding-top: 0
      
    &.latest-card_video
      height: auto
      +md
        min-height: 1px
      #{$this}__content
        height: 488px
        +md
          height: 450px
      #{$this}__btn
        margin-left: 8px
        +lg
          margin-left: 0
      #{$this}__text
        margin-bottom:  8px