.latest-updates
  &__slider-wrap
    margin: 0 -36px 0
    .swiper-slide
      padding-bottom: 32px
      +sm
        text-align: center
      .latest-card
        +sm
          display: inline-flex
          text-align: left
          max-width: 380px
    .swiper-container
      padding: 0 24px 24px
      +sm
        padding: 0 24px
    .swiper-pagination
      display: none
      position: static
      width: 100%
      +lg
        display: block
      &.is-hide-on-tablet
        +lg
          display: none
        +md
          display: none
        +sm
          display: block

.latest-updates-section
  &__bg
    position: absolute
    +coverdiv
    z-index: 1
    &-block
      position: relative
      height: 100%
      &::before
        content: ''
        position: absolute
        right: 0
        top: 0
        height: 100%
        width: 5000px
        z-index: -1
        background: $bblue
    .m-container, .row, .col
      height: 100%
  &__circles
    position: absolute
    left: 50%
    top: 100%
    z-index: 3
    font-size: 0
    transform: translate(-8%, -50%)
    pointer-events: none
    &-wrapper
  &__lines
    position: absolute
    top: 0
    left: 0
    background-attachment: fixed
    z-index: 2
    background-position: left 0px;
    // background-position: center center
  .block__content
    z-index: 4
