.modal
  $this: &
  display: none
  position: fixed
  z-index: 1000
  top: 0
  left: 0
  width: 100%
  height: var(--vh-modal)
  background: $white
  +is-ms
    height: 100vh
  &__overlay
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
  &__close
    position: absolute
    right: 2px
    top: 13px
    z-index: 102
    width: 22px
    height: 22px
    transition: transform $easing
    font-size: 0
    cursor: pointer
    &::before, &:after
      content: ''
      position: absolute
      display: block
      width: 100%
      height: 2px
      background-color: $blue
    &::before
      top: 0
      left: 0
      transform-origin: 0 0
      transform: rotate(44deg)
    &:after
      right: 0
      bottom: 0
      transform-origin: 0% 0%
      transform: translateY(-5px) rotate(-44deg) 
  &__content
    position: relative
    padding-left: 10px
    padding-right: 10px
    +mob
      height: 100%
    &-inner
      position: relative
      overflow-y: auto
      height: 100%
    +mob
      max-width: 100%
  &__bg
    position: absolute
    z-index: -1
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: hidden
    img
      width: 5300px
      height: 5300px
  &.is-active
    #{$this}__slider-wrap
      position: relative
      min-height: 100%
      padding: 32px 0px 112px
    display: block
  &_slider
    .swiper-container
      min-height: calc(var(--vh-modal) - 144px)
    .swiper-pagination
      position: absolute
      display: block
      bottom: 72px
      left: 50%
      transform: translate(-50%, 0%)
      width: 100%
      text-align: center
    .swiper-pagination-bullet
      margin: 0 4px
      opacity: 1
    .swiper-pagination-bullet-active
      background: $bblue
  &_video
    background: $sgray
    #{$this}__overlay
      display: block
    #{$this}__close
      top: 25px
      right: 25px
      width: 32px
      height: 32px
      +mob
        right: 0
        +sm
          top: 16px
          right: 0px
          width: 26px
          height: 26px
      &:before, &::after
        display: none
      svg
        width: 32px
        height: 32px
        fill: $white
        +is-touch
          fill: $blue
        +sm
          width: 26px
          height: 26px
    #{$this}__content
      padding: 0
      width: 100%
    #{$this}__video-block
      +is-touch
        padding-top: 68px
        +mob
          min-height: 100%
          display: flex
          align-items: center
          padding-top: 0
          @media only screen and (orientation: landscape)
            padding-top: 68px
            padding-bottom: 10px
            +sm
              padding-top: 48px
    #{$this}__video-wrapper
      position: relative
      z-index: 0
      width: 100%
      overflow: hidden
      border-radius: 24px
      +is-ms
        font-size: 0
        height: auto
        video
          left: 0
          top: 0
          width: 100%
          height: 100%
          outline: none
    .m-container
      position: relative
      z-index: 1
      width: 100%
      +is-no-touch
        +rh(750)
          max-width: 1200px
    .m-container, .row, .col
      height: 100%
    .row
      background: $sgray
    .col
      display: flex
      align-items: center
