.partner-box
  width: 100%
  position: relative
  z-index: 2
  margin-top: -40px
  +sm
    margin-top: 0
  &__circles-wrap
    position: absolute
    left: 0
    top: 40px
    width: 100%
    height: calc(100% - 40px)
    overflow: hidden
    +sm
      display: none
  &__circles
    position: absolute
    left: 50%
    top: 0
    transform: translate(-50%, -30%)
    +lg
      transform: translate(-50%, -20%)
  &__container
    position: relative
  &__content
    position: relative
    z-index: 2
    &::before
      content: ''
      position: absolute
      left: 0
      top: 0
      z-index: -1
      width: 5000px
      height: 100%
      background: $sgray
      border-top-left-radius: 24px
      +sm
        left: 50%
        transform: translateX(-50%)
        border-radius: 0
    & > *
      &:last-child
        margin-bottom: 0
    img
      width: 100%
      display: block
.partner-text-block
  p
    &:not(:last-of-type)
      margin-bottom: 16px