.partner-hero
  position: relative
  z-index: 1
  overflow: hidden
  &__bg
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    font-size: 0
    &::before
      content: ''
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      height: 200px
      background: linear-gradient(to top, rgba($blue, 1), rgba($blue, 0))
      +sm
        display: none
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__container
    position: relative
    z-index: 1
  &__img
    width: 100%
    display: block

