.partners
  overflow: hidden
  background: $blue
  &__row
    position: relative
    z-index: 1
    &::before
      content: ''
      position: absolute
      left: 0
      top: 0
      height: 100%
      width: 5000px
      background: $blue
      z-index: 0
  &__col
    position: relative
    z-index: 1
.partners-list
  display: flex
  flex-wrap: wrap
  &__item
    width: 4*100%/24
    margin-left: 1*100%/24
    margin-right: 1*100%/24
    +lg
      width: percentage(200/955)
      margin-right: percentage(51.67/955)
      margin-left: 0
      &:nth-child(4n)
        margin-left: 0
        margin-right: 0
    +md
      width: 6*100%/24
      margin-left: 1*100%/24
      margin-right: 1*100%/24
      &:nth-child(4n)
        margin-left: 1*100%/24
        margin-right: 1*100%/24
    +sm
      width: 50%
      margin-left: 0
      margin-right: 0
      &:nth-child(4n)
        margin-left: 0
        margin-right: 0
      &:nth-child(even)
        padding-left: 15px
      &:nth-child(odd)
        padding-right: 15px
      
