.partner-block
  $this: &
  display: block
  text-align: center
  &__pic
    // position: relative
    +aspect-ratio(236/121)
  &__img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: block
    object-fit: contain
    +is-ms
      object-fit: none
      height: auto
  +hover
    .hover-elem
      &__view
        transform: translateY($hoverY)
        -ms-transform: translateY(0px)
      &__copy
        opacity: 1
