.partner-slider-block
  position: relative
  z-index: 2
  &__row
    position: relative
    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      height: 100%
      width: 5000px
      background: $blue
      z-index: 1
      +sm
        left: 50%
        transform: translateX(-50%)
  &__col
    position: relative
    +sm
      display: none
  &__button
    display: block
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: 1
    svg
      display: block
      width: 20px
      height: 36px
      fill: none
      stroke: $white
    &_prev
      left: 0
    &_next
      right: 0
.partner-slider
  &__pagination.swiper-pagination-bullets
    text-align: center
  .swiper-pagination-bullet
    background: $sgray
    opacity: 1
  .swiper-pagination-bullet-active
    background: $bblue

