.principles
  $this: &
  overflow: hidden
  &__top
    position: relative
    z-index: 1
    background: $yellow
  &__bottom
    &-row
      position: relative
      align-items: flex-start
      &::before,  &::after
        content: ''
        position: absolute
        +mob
          display: none
      &::before
        right: 0
        top: 0
        height: 100%
        width: 5000px
        background: $yellow
        z-index: 0
      &::after
        left: 100%
        width: 5000px
        bottom: 0
        height: 100%
        z-index: 0
        background: $white
      .col
        &.principles__bottom-left
          +mob
            width: 100%
    &-left
      position: relative
      z-index: 1
    &-right
      position: relative
      z-index: 2
      padding-left: 8.25%
      padding-right: 4.2%
      +lg
        padding-right: 16px
      +md
        padding-right: 8px
      +mob
        display: none
      &::before, &::after
        content: ''
        position: absolute
        background: $white
      &::before
        left: 0
        top: 0
        width: calc(100% + 1px)
        height: 100%
        border-radius: 24px 0 0 24px
        overflow: hidden
        z-index: 1
    &-line
      height: 80px
      background: $yellow
      +mob
        display: none
  &__nav-wrap
    position: relative
    left: 0
    top: 0
    width: 100%
    +is-ie
      +gpu
    +mob
      padding-top: 0
      padding-bottom: 0
      max-width: 600px
      margin-left: auto
      margin-right: auto
    &::before
      content: ''
      position: absolute
      right: -30px
      bottom: 0
      height: calc(100% + 88px)
      width: 5000px
      background: $yellow
      +mob
        right: 50%
        width: 1000px
        height: 100%
        transform: translate(50%)
    ul.principles__nav
      +mob
          padding-left: 0
          padding-right: 0
  &__nav
    position: relative
    z-index: 1
    padding-left: 6.3%
    padding-right: 11.1%
    +lg
      padding-left: 0
      padding-right: 14.2%
    +md
      padding-right: 17.1%
    +mob
      display: none
      flex-wrap: wrap
      justify-content: center
      margin: 0 -14px
      padding-bottom: 48px
      font-size: 0
    li
      &:not(:last-of-type)
        margin-bottom: 16px
        +mob
          margin-bottom: 24px
      &:last-of-type
        +mob
          margin-bottom: 24px
      +mob
        margin-left: 14px
        margin-right: 14px
    a
      position: relative
      display: inline-block
      vertical-align: top
      font-size: 20px
      line-height: 1.2
      color: $blue
      +lg
        font-size: 16px
        line-height: 1
      +mob
        width: 124px
        height: 128px
        padding: 16px 8px 8px
        background: $white
        border-radius: 24px
        text-align: center
        font-size: 14px
        line-height: 1.142
        box-shadow: $shadow
        +bold
      .pc-number
        position: absolute
        left: -4px
        top: 0
        transform: translateX(-100%)
        +md
          display: none
      .mob-number
        display: none
        +mob
          display: block
          margin-bottom: 8px
          font-size: 32px
          line-height: 1
          color: $bblue
      &.is-active
        text-decoration: underline
    &--mob
      display: none
      +mob
        display: flex
.principle-block
  position: relative
  z-index: 2
  &__title
    position: relative
    span
      position: absolute
      left: -8px
      top: 0
      transform: translateX(-100%)
      +md
        display: none
  &__text
    p
      &:not(:last-of-type)
        margin-bottom: 16px
    strong
      font-weight: normal
      +bold
.principles-slider
  z-index: 1
  max-width: 100%
.principles-slider-block
  &__number
    font-size: 32px
    line-height: 1
    color: $bblue
    text-align: center
    +bold
  &__title
    font-size: 20px
    line-height: 1.2
    +bold
    color: $blue
    text-align: center
  &__text
    font-size: 16px
    line-height: 1.5
    strong
      font-style: normal
      +bold
    p
      &:not(:last-of-type)
        margin-bottom: 18px
