.resources
  position: relative
  &__top
    position: relative
    z-index: 1
    background: $sgray

  &__main
    position: relative
    z-index: 2
    &::before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 202px
      background: $sgray
      z-index: 0
      +md
        height: 150px
      +sm
        height: calc(32px + 143px)
    &-inner
      .resource
        &:not(:last-of-type)
          margin-bottom: 44px
  &__circles-wrapper
    position: absolute
    overflow: hidden
    left: 0
    bottom: 0
    width: 100%
    height: calc(100% - 143px)
    pointer-events: none
    z-index: -1
    .row, .col, .m-container
      height: 100%
    .col
      position: relative
  &__circles
    position: absolute
    left: 50%
    bottom: 0
    transform: translate(14%, 61%)
    +lg
      transform: translate(-11%, 68%)

.resource
  $this: &
  display: block
  // box-shadow: 0 10px 20px rgba($blue, 0.1)
  border-radius: 24px
  font-size: 0
  filter: drop-shadow(0px 8px 16px rgba(0, 55, 80, 0.2))
  +sm
    // box-shadow: none
    filter: drop-shadow(0px 8px 16px rgba(0, 55, 80, 0.2))
  &__text-col
    position: relative
    z-index: 2
    +sm
      // box-shadow: 0 10px 20px rgba($blue, 0.3)
    //   order: 1
  &__text-col-inner
    position: relative
    z-index: 1
    display: block
    border-radius: 24px
    padding-right: calc(100% / 18)
    padding-left: calc(100% / 18)
    +gpu
    +lg
      padding-right: calc(100% / 16)
      padding-left: calc(100% / 16)
    +md
      padding-right: calc(100% / 15)
      padding-left: calc(100% / 15)
    +sm
      padding-left: calc(100% / 12)
      padding-right: calc(100% / 12)
    &:before
      content: ''
      position: absolute
      display: block
      z-index: -1
      left: 0
      top: 0
      right: -25px
      height: 100%
      border-radius: 24px
      background: $white
      transition: transform $easing
      transform-origin: 0% 50%
      overflow: hidden
      +gpu
      +sm
        right: 0
        height: calc(100% + 12px)
  &__btn-col
    position: relative
    z-index: 1
    background: $bblue
    border-radius: 0 25px 25px 0
    padding-left: 25px
    +sm
      height: 64px
      border-radius: 0 0 25px 25px
      padding: 8px 0 0
      margin: 0 10px
      // box-shadow: 0 10px 20px rgba($blue, 0.3)
    &-inner
      height: 100%
      display: flex
      align-items: center
      justify-content: center
  +hover
    #{$this}__text-col-inner
      &:before
        // height: calc(100% + 20px)
        transform: scaleY(1.13)
    .resource-btn
      &__text
        &:before
          transform: scaleX(1)
        span
          transform: translate(0, -2px)
      .line
        transform: translate(101%, 0px)
.resource-btn
  display: inline-flex
  font-size: 0
  &__icon
    position: relative
    top: 4px
    display: inline-flex
    align-items: flex-end
    width: 16px
    height: 20px
    margin-right: 10px
    line-height: 1
    overflow: hidden
    +sm
      top: 1px
    // padding
    svg
      width: 16px
      height: 20px
      fill: $blue
      .line
        transition: transform $easing
  &__text
    position: relative
    display: block
    color: $white
    font-size: 25px
    line-height: 1
    +bold
    +sm
      font-size: 20px
    &::before
      content: ''
      position: absolute
      left: 0
      bottom: 1px
      height: 2px
      width: 100%
      background: $white
      transition: transform $easing
      transform: scaleX(0)
      transform-origin: 0 0
    span
      display: block
      position: relative
      transition: transform $easing

