.text-img-wrap
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  +sm
    display: block
  .text-img-item
    width: 45.4%
    +lg
      width: 46.2%
    +md
      width: 44.7%
    +sm
      width: 100%
      &:not(:last-of-type)
        margin-bottom: 56px
.text-img-item
  &__img
    position: relative
    height: 0
    padding-bottom: 49%
    img
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      object-fit: cover
  &__text
    font-size: 16px
    line-height: 1
    color: $blue