.topics
  position: relative
  &__top
    position: relative
    z-index: 1
    background: $sgray

  &__main
    position: relative
    z-index: 2
    &::before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      // height: calc(100% + 143px)
      height: calc(96px + 143px)
      background: $sgray
      z-index: -1
      +md
        height: calc(48px + 143px)
      +sm
        height: calc(32px + 143px)
  &__circles-wrapper
    position: absolute
    overflow: hidden
    left: 0
    bottom: 0
    width: 100%
    height: calc(100% - 143px)
    pointer-events: none
    z-index: -1
    .row, .col, .m-container
      height: 100%
    .col
      position: relative
  &__circles
    position: absolute
    left: 50%
    bottom: 0
    transform: translate(14%, 61%)
    +lg
      transform: translate(-11%, 68%)
  .grid-item, .grid-sizer
    width: 100%
    padding: 0
  .grid-item
    padding-bottom: 96px
    +lg
      padding-bottom: 72px
    +sm
      padding-bottom: 64px

.topic
  $this: &
  box-shadow: $shadow
  border-radius: 24px
  font-size: 0
  &__text-col
    position: relative
    z-index: 2
    +sm
      order: 1
  &__img-col
    position: relative
    z-index: 1
    +sm
      order: 0
      height: 170px
  &__link
    position: relative
    z-index: 1
    display: block
    border-radius: 24px
    padding-right: calc(100% / 13)
    padding-left: calc(100% / 13)
    +gpu
    +lg
      padding-right: calc(100% / 16)
      padding-left: calc(100% / 16)
    +md
      padding-right: calc(100% / 15)
      padding-left: calc(100% / 15)
    +sm
      padding-left: calc(100% / 12)
      padding-right: calc(100% / 12)
    &:before
      content: ''
      position: absolute
      display: block
      z-index: -1
      left: 0
      top: 0
      width: 100%
      height: 100%
      border-radius: 24px
      background: $white
      transition: transform $easing
      transform-origin: 0% 50%
      overflow: hidden
      +gpu
  &__main-text
    min-height: 72px
    +sm
      min-height: 1px
  &__img
    position: relative
    font-size: 0
    height: 100%
    +sm
      height: calc(100% + 30px)
    &-inner
      position: absolute
      top: 0
      right: 0
      width: calc(100% + 30px)
      height: 100%
      overflow: hidden
      border-radius: 0 24px 24px 0
      +sm
        width: 100%
        border-radius: 24px 24px 0 0
      img
        width: 100%
        height: 100%
        object-fit: cover
  .row
    align-items: stretch
  &.is-disabled
    cursor: default
    pointer-events: none
  &:not(.is-disabled)
    #{$this}__link
      .btn
        appearance: none
        outline: none
        span
          position: relative

      +hover
        &:before
          transform: scaleX(1.02) scaleY(1.05) translate3d(0,0,0)
        .btn
          &:before
              opacity: 1
          span
            transform: translateY($hoverY)
            -ms-transform: translate3d(0,0,0)
