.wall
  position: relative
  z-index: 4
  background: $yellow
  overflow: hidden
  &__bg
    position: absolute
    left: 0
    top: 0
    width: 100%
    z-index: 0
    font-size: 0
    .col
      position: relative
    &-circles
      position: absolute
      left: 50%
      top: 0
      transform: translate(-8%, -50%)
  &__content
    position: relative
    z-index: 3
    &-inner
      margin: 0 -20px
      font-size: 0
      +lg
        margin: 0 -12px
      +sm
        margin: 0
  &__socials
    display: flex
    justify-content: center
    margin-right: 0
  .flockler-wall-item
    margin: 0 20px 40px
    box-shadow: $shadow
    border-radius: 24px
    +lg
      margin: 0 12px 24px
    +sm
      margin: 0 0 24px
    &__media
      order: 0 !important
      & + .flockler-wall-item__body + .flockler-wall-item__footer, & + .flockler-wall-item__body + .flockler-wall-item__showmore  + .flockler-wall-item__footer
        margin-top: -24px !important
        padding-top: 24px !important
        &::before
          background: #fff !important
          border-top-left-radius: 24px !important
          border-top-right-radius: 24px !important
          height: 24px !important
          position: absolute !important
          z-index: 2 !important
          content: '' !important
          left: 0px !important
          right: 0px !important
          margin-top: -24px !important
          +is-ms
            margin-top: -23px !important

      &--youtube
        height: auto!important
        width: 100%!important
        padding-top: 0!important
        border-top-left-radius: 24px !important
        border-top-right-radius: 24px !important
        font-size: 0!important
        iframe
          overflow: hidden!important
          border-top-left-radius: 24px !important
          border-top-right-radius: 24px !important
        .flockler-wall-item__media__img
          position: static!important
        & + .flockler-wall-item__body + .flockler-wall-item__footer, & + .flockler-wall-item__body + .flockler-wall-item__showmore  + .flockler-wall-item__footer
          margin-top: 0!important
          &::after
            background: #000 !important
            height: 24px !important
            position: absolute !important
            z-index: 1 !important
            content: '' !important
            left: 0px !important
            right: 0px !important
            margin-top: -24px !important
            +is-ie
              margin-top: -24px !important
    &__footer
      display: flex !important
      order: 1 !important
      padding: 24px 24px 0  !important
      border-radius: 24px 24px 0 0  !important
      background: $white
    &__share
      display: none !important
    &__content
      position: relative
      border: none !important
      border-radius: 24px !important
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.025), 0 5px 15px rgba(0, 0, 0, 0.05) !important
      display: flex !important
      flex-wrap: wrap !important
      overflow: hidden !important
      padding-bottom: 60px !important
      margin: 0!important
    &__profile
      padding: 0 !important
      &__avatar
        width: auto !important
        margin-right: 16px
        img
          width: 48px !important
          height: 48px !important
      &__body
        font-size: 16px !important
        line-height: 1 !important
        color: $blue !important
        +bold
      &__detail
        color: $bblue !important
        position: absolute !important
        left: 24px !important
        bottom: 32px !important
        font-size: 14px !important
        line-height: 1.14 !important
        +reg
        i
          display: none !important
    &__body
      order: 2 !important
      padding: 32px 24px 0 !important
      font-size: 16px !important
      line-height: 1.5 !important
      color: $blue !important
      +reg
      +lg
        padding: 24px 24px 0 !important
      a
        color: $bblue !important
        text-decoration: none !important
        +hover
          text-decoration: underline !important
    &__showmore
      order: 3 !important
      padding: 8px 24px 0
      font-size: 0
  .flockler-posts
    &--large, &--medium, &--pad, &--narrow, &--small
      .flockler-wall-item
        width: calc(25% - 40px)
        max-width: 100%
        +lg
          width: calc(33.333% - 24px)
        +sm
          width: 100%
    &:not(.flockler-grid-items)
      &.flockler-posts--small
        max-width: 100%
      a.flockler-btn-load-more
        display: flex
        align-items: center
        justify-content: center
        height: 48px
        width: 166px !important
        background: #023850 !important
        border-radius: 24px !important
        color: #fff !important
        font-size: 16px
    button
      &.flockler-wall-item__showmore__button
        padding: 0 !important
        color: $blue !important
        font-size: 16px !important
        line-height: 1 !important
        +reg
