---
title: about
modules: ['about-page']
scripts: ['about-page']
bodyMode: 'is-bg-blue is-about-page'
globalLines: true
headerMode: 'is-white'
customHeaderLogo: 'img/logo-bg.svg'
fixedBgBlock: true
fixedBgBlockMode: 'is-visible'
principlesContent: [
{
mode: 'mb-9 mb-lg-8',
title: 'Ownership for cyber and IT security',
text: 'Anchor the responsibility for cybersecurity at the highest governmental and business levels by designating
specific ministries and CISOs. Establish clear measures and targets as well as the right mindset throughout
organizations – “It is everyone’s task”.'
},
{
mode: 'mb-9 mb-lg-8',
title: 'Responsibility throughout the digital supply chain',
text: '<p>Companies – and if necessary – governments must establish risk-based rules that ensure adequate protection
  across all IoT layers with clearly defined and mandatory requirements. Ensure confidentiality, authenticity,
  integrity, and availability by setting baseline standards, such as</p>
<p><strong>Identity and access management:</strong> Connected devices must have secure identities and safeguarding
  measures that only allow authorized users and devices to use them.</p>
<p><strong>Encryption:</strong> Connected devices must ensure confidentiality for data storage and transmission
  purposes, wherever appropriate.</p>
<p> Continuous protection: Companies must offer updates, upgrades, and patches throughout a reasonable lifecycle for
  their products, systems, and services via a secure update mechanism.</p> '
},
{
mode: 'mb-9 mb-lg-8',
title: 'Security by default',
text: 'Adopt the highest appropriate level of security and data protection and ensure that it is preconfigured into the
design of products, functionalities, processes, technologies, operations, architectures, and business models.'
},
{
mode: 'mb-9 mb-lg-8',
title: 'User-centricity',
text: 'Serve as a trusted partner throughout a reasonable lifecycle, providing products, systems, and services as well
as guidance based on the customer’s cybersecurity needs, impacts, and risks.'
},
{
mode: 'mb-9 mb-lg-8',
title: 'Ownership for cyber and IT security',
text: 'Anchor the responsibility for cybersecurity at the highest governmental and business levels by designating
specific ministries and CISOs. Establish clear measures and targets as well as the right mindset throughout
organizations – “It is everyone’s task”.'
},
{
mode: 'mb-9 mb-lg-8',
title: 'Responsibility throughout the digital supply chain',
text: '<p>Companies – and if necessary – governments must establish risk-based rules that ensure adequate protection
  across all IoT layers with clearly defined and mandatory requirements. Ensure confidentiality, authenticity,
  integrity, and availability by setting baseline standards, such as</p>
<p><strong>Identity and access management:</strong> Connected devices must have secure identities and safeguarding
  measures that only allow authorized users and devices to use them.</p>
<p><strong>Encryption:</strong> Connected devices must ensure confidentiality for data storage and transmission
  purposes, wherever appropriate.</p>
<p> Continuous protection: Companies must offer updates, upgrades, and patches throughout a reasonable lifecycle for
  their products, systems, and services via a secure update mechanism.</p> '
},
{
mode: 'mb-9 mb-lg-8',
title: 'Security by default',
text: 'Adopt the highest appropriate level of security and data protection and ensure that it is preconfigured into the
design of products, functionalities, processes, technologies, operations, architectures, and business models.'
},
{
mode: 'mb-9 mb-lg-8',
title: 'User-centricity',
text: 'Serve as a trusted partner throughout a reasonable lifecycle, providing products, systems, and services as well
as guidance based on the customer’s cybersecurity needs, impacts, and risks.'
},
{
mode: 'mb-9 mb-lg-8',
title: 'Security by default',
text: 'Adopt the highest appropriate level of security and data protection and ensure that it is preconfigured into the
design of products, functionalities, processes, technologies, operations, architectures, and business models.'
},
{
mode: '',
title: 'User-centricity',
text: 'Serve as a trusted partner throughout a reasonable lifecycle, providing products, systems, and services as well
as guidance based on the customer’s cybersecurity needs, impacts, and risks.'
}

]
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include './sections/_header.html' %}
{% include './sections/_about-hero.html' %}
<div class="about-page-wrapper" id="about-page-text">
    <div class="about-page-text pb-25 pb-lg-20 pb-sm-9">
        <div class="m-container">
          <div class="row">
            <div class="col col-16 col-md-20 col-sm-12 col-push-4 col-md-push-2 col-sm-push-0">
              <div class="text text_24-sm is-white about-hero__text js-about-hero-text">
                The digital world is changing everything. Today, billions of devices are connected through the Internet of
                Things. While this creates great opportunities, it also harbors great risks. To make the digital world more
                secure, we have joined forces with the Charter of Trust. It is the beginning of a unique initiative by
                leading global companies – with a cooperation that is showing the first signs of success and has ambitious
                goals for the future.
              </div>
            </div>
          </div>
        </div>
      </div>
  {% include './sections/_goals.html' %}
  {% include './sections/_principles.html' %}
  {% include './sections/_partners.html' %}
  {% include './sections/_associated-partners.html' %}
</div>
</div>
{% include './sections/_footer.html' %}
{% include './modals/_principles.html' %}
{% endblock %}
