---
title: Buttons
---
{% extends "layouts/_layout.html" %}

{% block content %}

<style>
  .container {
    padding: 15px 0;
  }
  .alert{
    color: red
  }
  .is-bg-blue{
    background: #003750;
  }
  .is-bg-blue strong{
    color: #fff;
  }
  .ui-block{
    margin: 50px;
    display: inline-block;
    vertical-align: top;
  }
  .ui-block .btn{
      margin-top: 20px;
  }
  .ui-head{
    font-size: 60px;
    margin-bottom: 40px;
  }

</style>
{% set Buttons = [
  { 
    class: '',
    text: 'Subscribe'
  },
  { 
    class: 'btn_yellow',
    text: 'Subscribe',
    aTag: true
  },
  { 
    class: 'btn_blue-b',
    text: 'Subscribe'
  },
  { 
    class: 'btn_disable',
    text: 'Subscribe'
  },
  { 
    class: 'btn_border',
    text: 'More about our newsletter'
  }
] %}
<div class="container">
  <div class="m-container">
    <h1 class="ui-head">Buttons</h1>
      {% for item in Buttons %}
      <div class="ui-block">
        <p><strong>html class: btn  {{ item.class }}</strong></p>
        {% if item.alert %}
          <p class="alert"><small>{{ item.alert }}</small></p>
        {% endif %}
        {% if item.class=='btn_border' %}
        <button class="hover-elem btn {{item.class}}">
          <span class="hover-elem__view">{{item.text}}</span>
          <span class="hover-elem__copy">{{item.text}}</span>
        </button>
        {% else %}
        <button class="btn {{item.class}}" ><span>{{item.text}}</span></button>
        {% endif %}
        
          
    </div>
        
      {% endfor %}
  </div>
</div>




{% endblock %}
