---
title: Colors
---
{% extends "layouts/_layout.html" %}

{% block content %}

<style>
  .container {
    padding: 15px 0;
  }
  .alert{
    color: red
  }
  .is-bg-blue{
    background: #003750;
  }
  .is-bg-blue strong{
    color: #fff;
  }
  .ui-block{
    margin: 20px;
    display: inline-block;
  }
  .ui-head{
    font-size: 60px;
    margin-bottom: 40px;
  }
  .viewbox{
    width: 200px;
    height: 200px;
    border: 1px solid black;
  }
</style>
{% set Colors = [
  {
    class: 'is-yellow',
    uiColorName: 'Chartreuse Yellow',
    color: '#bec328'
  },
  {
    class: 'is-blue-b',
    uiColorName: 'Bright Blue',
    color: '#00bed7'
  },
  {
    class: 'is-blue-c',
    uiColorName: 'Clever Blue',
    color: '#99afb9'
  },
  {
    class: 'is-blue',
    uiColorName: 'Navy Blue',
    color: '#003750'
  },
  {
    class: 'is-white',
    uiColorName: 'Pure White',
    color: '#fff'
  },
  {
    class: 'is-gray-s',
    uiColorName: 'Soft Grey',
    color: '#f4f4f4'
  },
  {
    class: 'is-gray',
    uiColorName: 'Lazy Grey',
    color: '#e2e2e2'
  },
  {
    class: 'is-red',
    uiColorName: 'Fatal Red',
    color: '#da3025'
  }
] %}
<div class="container">
  <div class="m-container">
    <h1 class="ui-head">Colors</h1>
      {% for item in Colors %}
      <div class="ui-block">
          <div class="viewbox" style="background: {{item.color}};"></div>
          <p><strong>UI color name: {{ item.uiColorName }}</strong></p>
          <p><strong>html class for set color: {{ item.class }}</strong></p>
      </div>
      {% endfor %}
  </div>
</div>




{% endblock %}
