---
title: homepage
modules: ['home-page']
scripts: ['home-page']
bodyMode: 'is-bg-blue'
headerMode: 'is-white'
globalLines: true
fixedBgBlock: true
fixedBgBlockMode: 'is-visible is-gray'
flockler: true
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include './sections/_header.html' %}
<div class="hero-wrapper js-hero-wrapper">
  {% include './sections/_hero.html' %}

</div>
<div class="home-main-wrapper">

  <div class="block is-overflow ">
    <div class="block__content">
      {% include './sections/_latest-updates.html' %}
      <div class="banner-wrapper">
        {% include './sections/_banner-newsletter.html' %}
      </div>
      {% include './sections/_wall.html' %}
    </div>
  </div>

</div>
{% include './sections/_footer.html' %}
{% include './modals/_video-modal.html' %}
{% endblock %}
