---
title: Components
---
{% extends "layouts/_layout.html" %}

{% block content %}

<style>
  body{
    background: #fff;
  }
  h2 {
    margin-bottom: 20px;
  }

  ul {
    list-style-type: disc;
  }

  a {
    text-transform: capitalize;
  }
</style>

<div
  style="
    padding: 50px;
  "
>
  <h2>UI</h2>

  {% set elements = [
    'colors',
    'typography',
    'buttons'

  ] %}

  <div style="margin-bottom: 50px; ">
    <ul>
      {% for item in elements %}
      <li><a href="./{{ item }}.html">{{ item }}</a></li>
      {% endfor %}
    </ul>
  </div>



  <h2>Pages</h2>

  {% set components = [
    'home-page',
    'about-page',
    'latest-page',
    'contact-page',
    'partner-page',
    'topics-page',
    'resources-page',
    'latest-article-page',
    'article-components',
    'test-canvas'


  ] %}

  <div style="margin-bottom: 50px;">
    <ul>
      {% for item in components %}
      <li><a href="./{{ item }}.html">{{ item }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <!-- <h2>Scrolling</h2> -->

  <!-- <div>
    <ul>

      <li><a href="./link-simple-scroll-to.html">simple scroll to</a></li>

    </ul>
  </div>   -->
</div>

{% endblock %}
