---
title: partner
modules: ['partner-page']
scripts: ['partner-page']
bodyMode: 'is-bg-blue is-partner-page'
headerMode: 'is-white'
globalLines: true

articleHead: {
  title: 'Trust requires security',
  text: 'The digitization of society is continuing at a rapid pace – and there are no limits to this trend. However, people will only embrace and support digitization if they can be sure that their data is secure and protected – this is a matter of trust. Thus international solutions and cross-industry initiatives, like the Charter of Trust, are needed.'
}

articleBtnBlock: {
  text: 'Data protection & Data security @Telekom.com',
  btnText: 'Further information'
}
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include './sections/_header.html' %}
<div class="partner-hero is-header-padding" >
  <div class="partner-hero__bg">
    <img src="img/partner-hero.jpg" alt="alt" data-object-fit="cover" />
  </div>
  <div class="partner-hero__container">
    <div class="m-container">
      <div class="row">
        <div class="col col-10 col-push-7 col-md-14 col-sm-12 col-md-push-5 col-sm-push-0">
          <div class="partner-hero__logo mb-10 mb-md-9 mb-sm-5">
            <img src="img/telekom-lg.png" alt="" class="partner-hero__img"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include './sections/_partner-box.html' %}
{% include './sections/_partner-slider.html' %}

{% include './sections/_footer.html' %}
{% endblock %}
