---
title: homepage
modules: ['home-page']
scripts: ['test-home-canvas']
bodyMode: 'is-bg-blue'
headerMode: 'is-white'

---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include './sections/_header.html' %}
<div class="hero-wrapper js-hero-wrapper">
  <section class="section ">
		<div class="hero is-header-padding js-hero">
			<div class="hero__bg-video js-hero-video-wrapper">
				<video class="js-hero-video" autoplay muted playsinline loop data-poster-src="img/hero/poster.jpg">
					<source src="img/hero/hero.mp4" type="video/mp4" />
				</video>
			</div>
			<div class="hero__canvas-wrap js-hero-canvas-wrapper">
			</div>
		
		<div class="hero__wrap">
			<div class="hero__container m-container pt-11 pt-lg-10 pt-md-15 pt-sm-6 pb-5">
				<div class="row">
					<div class="hero__content-wrap col col-13 col-lg-12 col-md-16 col-sm-10 col-push-2 col-md-push-3 col-sm-push-1">
						<div class="hero__content">
							<h1 class="title title_xl is-white mb-2 mb-lg-1 mb-md-2 mb-sm-1">„We can’t expect people to actively
								support the digital transformation if we cannot trust in the security of data and networked systems.“
							</h1>
							<div class="text text_quote-name is-white mb-7 mb-lg-5 mb-md-8 mb-sm-6">a quote from a Trusted Partner
							</div>
							<a href="#" class="btn btn_yellow"><span>More about the partner</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		</div>
	</section>

</div>
<div class="placeholder-section" style="background: turquoise; height: 100vh"></div>
{% include './sections/_footer.html' %}
{% endblock %}