---
title: Typography
---
{% extends "layouts/_layout.html" %}

{% block content %}

<style>
  .container {
    padding: 15px 0;
  }
  .alert{
    color: red
  }
  .is-bg-blue{
    background: #003750;
  }
  .is-bg-blue strong{
    color: #fff;
  }
  .ui-block{
    margin-bottom: 20px;
  }
  .ui-head{
    font-size: 60px;
    margin-bottom: 40px;
  }
</style>
{% set titles = [
  {
    class: 'title_xxl'
  },
  {
    class: 'title_xl is-blue-b'
  },
  {
    class: 'title_xl-reg is-blue-b'
  },
  {
    class: 'title_xm-reg is-blue-b'
  },
  {
    class: 'title_xm is-blue-b'
  },
  {
    class: 'title_lg is-blue-c'
  },
  {
    class: 'title_md is-yellow'
  },
  {
    class: 'title_sm'
  },
  {
    class: 'title_xs'
  }
] %}
<div class="container">
  <div class="m-container">
    <h1 class="ui-head">Headlines</h1>
      {% for item in titles %}
      <div class="ui-block">
          <!-- <p><strong>UI title: {{ item.name }}</strong></p> -->
          <p><strong>html class: title  {{ item.class }}</strong></p>
          {% if item.alert %}
            <p class="alert"><small>{{ item.alert }}</small></p>
          {% endif %}
          <h1 class="title {{ item.class }}" href="#">Charter of Trust</h1>
      </div>
      {% endfor %}
  </div>
</div>

<div class="container is-bg-blue" >
  <div class="m-container">
      <p><strong>html class: title  title_xs  is-white</strong></p>
    <h1 class="title title_xs  is-white" >h1 Charter of Trust</h1>
  </div>
</div>
{% set texts = [
  {
    name: 'Quote name',
    class: 'text_quote-name',
    alert: 'mob: font size is wrong in UI, need to check'
  },
  {
    name: 'Copy',
    class: 'text_20-sm',
    alert: 'paragraph 16px ?'
  },
  {
    name: 'Copy Small',
    class: 'text_16_default'
  },
  {
    name: 'Copy Large',
    class: 'text_24-sm'
  },
  {
    name: 'Advices',
    class: 'text_12'
  },
  {
    name: 'new - footer bottom line',
    class: 'text_14'
  },
  {
    name: 'Video Card Descrpition',
    class: 'text_16',
    alert: 'bold ?'
  },
  {
    name: 'Event Date',
    class: 'text_48'
  },
  {
    name: 'Event Month',
    class: 'text_24'
  },
  {
    name: 'Event Location',
    class: 'text_24-md'
  },
  {
    name: 'Footnote',
    class: 'text_footnote'
  },
  {
    name: 'Quote',
    class: 'text_quote'
  },
  {
    name: 'STA SoMe',
    class: 'text_20'
  }
] %}

<div class="container " >
  <div class="m-container">
    <h1 class="ui-head"> Text</h1>
      {% for item in texts %}
      <div class="ui-block">
          <p><strong>UI title: {{ item.name }}</strong></p>
          <p><strong>html class: text  {{ item.class }}</strong></p>
          {% if item.alert %}
            <p class="alert"><small>{{ item.alert }}</small></p>
          {% endif %}
          <div class="text {{ item.class }}">Lorem ipsum dolor sit amet. </div>
      </div>
      {% endfor %}
  </div>
</div>


{% set links = [
  {
    name: 'Twitter Name',
    class: 'link_16'
  },
  {
    name: 'Twitter Info & Legal Lines',
    class: 'link_14'
  },
  {
    name: 'Download Text Link',
    class: 'link_24'
  },
  {
    name: 'Download Text Link',
    class: 'link_24 is-active'
  }
] %}


<div class="container " >
  <div class="m-container">
      <h1 class="ui-head">links</h1>
      {% for item in links %}
      <div class="ui-block">
          <p><strong>UI title: {{ item.name }}</strong></p>
          <p><strong>html class: link  {{ item.class }}</strong></p>
          {% if item.alert %}
            <p class="alert"><small>{{ item.alert }}</small></p>
          {% endif %}
          <a class="link {{ item.class }}" href="#">link text</a>
      </div>
      {% endfor %}
  </div>
</div>




{% endblock %}
