@function em($size, $context: 16)
  @return ($size/$context) * 1em

@function img-url($image)
  @return url('../img/#{$image}')

=image($image)
  background-image: img-url($image)

=trans($what: all, $dur: 0.2s, $easing: ease)
  transition: $what $dur $easing

=smooth-scroll
  -webkit-overflow-scrolling: touch

=smooth-font
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

=gpu
  transform: translate3d(0,0,0)


=xxl
  +r(1920) 
    @content

=xl
  +r($xl) //1419
    @content

=xlmin
  +rmin($xlmin)
    @content

=lg
  +r($lg) //1239
    @content

=lgmin
  +rmin($lg)
    @content

=md
  +r($md) //959
    @content

=mdmin
  +rmin($md)
    @content

=sm
  +r($sm) //719
    @content

=smmin
  +rmin($sm) //719
    @content

=transition
  transition: transform $easing 0.3s

// =reg
//   font-family: 'LinetoReplicaMono-reg', 'sans-serif'
//   font-weight: 400

// // =light
// //   font-family: 'LinetoReplica-light', 'sans-serif'
// //   font-weight: 200

// // =italic
// //   font-family: 'LinetoReplica-italic', 'sans-serif'
// //   font-weight: 400

// =bold
//   font-family: 'LinetoReplica-bold', 'sans-serif'
//   font-weight: 400

// =reg-std
//   font-family: 'ReplicaStd', 'sans-serif'
//   font-weight: 400
