.hero-wrapper
  position: relative
  z-index: 3
.home-main-wrapper
  position: relative
  z-index: 4
.banner-wrapper
  position: relative
  .banner-nl-wrapper
    width: 100%
    position: absolute
    z-index: 6
    bottom: 100%
    left: 50%
    opacity: 0
    transition: transform 0.5s $ease, opacity 0.5s $ease
    // transform-style: preserve-3d
    +gpu
    transform: translate(-50%, 102%)
    min-height: 255px
    +is-edge
      transform-style: flat
    &.is-show
      opacity: 1
      transform: translate(-50%, 66%)
      +lg
        transform: translate(-50%, 70%)
      +md
        transform: translate(-50%, 54%)
      +sm
        transform: translate(-50%, 87%)
