<div class="section">
  <div class="about-hero js-about-hero ">
    <div class="about-hero__sticky-container  js-about-hero-sticky-container">
      <div class="about-hero__sticky-elem js-about-hero-sticky-elem">
        <div class="about-hero__logo-wrap js-about-logo-wrap">
          {% include '../svg/_about-logo.html' %}
          <picture>
            <source srcset="img/bg-src/about-hero-logo2x.png"
              media="only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2)" />
            <img class="about-hero__clip-img" src="img/bg-src/about-hero-logo.png" alt="alt" />
          </picture>
          <picture>
            <source srcset="img/bg-src/about-hero-bg2x.png"
              media="only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2)" />
            <img class="about-hero__clip-bg js-about-hero-clip-bg" src="img/bg-src/about-hero-bg.png" alt="alt" />
          </picture>
        </div>
      </div>
      <div class="about-hero__static-logo is-header-padding">
        <div class="pt-15 pt-lg-11 pt-sm-6 pb-15 pb-lg-11 pb-sm-6">
          <img src="img/logo.svg" alt="logo" />
        </div>
      </div>
    </div>
  </div>
</div>