<div class="section">
  <div class="article is-header-padding">
    <div class="m-container">
      <div class="article__content pt-6 pt-lg-9 pt-sm-15 pb-20 pb-lg-12">
        <div class="article-date">
          <div class="row mb-7 mb-sm-12">
            <div class="col col-14 col-lg-16 col-md-20 col-sm-12 col-push-5 col-lg-push-4 col-md-push-2 col-sm-push-0">
              <div class="text text_24-sm ">Principle 6: Education</div>
            </div>
          </div>
        </div>
        {% include '../containers/_article-head.html' %}
        <div class="article-block mb-9 mb-lg-7 mb-md-8 mb-sm-5">
          <div class="row">
            <div class="col col-14 col-lg-16 col-md-20 col-sm-12 col-push-5 col-lg-push-4 col-md-push-2 col-sm-push-0">
              <div class="text text_20-sm">
                <h2>Why are youparticularly vulnerable?</h2>
                <p>In this era of global integration, cybercrime is an ever-growing challenge that no one can overlook.
                  The facts and figures on this page illustrate this vividly. Small and medium-sized enterprises in
                  particular, which by their very nature lack the human resources and often the expertise they need to
                  protect themselves, are particularly vulnerable. But it doesn’t have to be that way: With a few
                  specific measures, you can not only protect your company but actually tap into new business
                  opportunities.</p>
              </div>
            </div>
          </div>
        </div>
        {% include '../containers/_text-img-block.html' %}

        <div class="article-block mb-9 mb-lg-7 mb-md-8 mb-sm-5">
          <div class="row">
            <div class="col col-14 col-lg-16 col-md-20 col-sm-12 col-push-5 col-lg-push-4 col-md-push-2 col-sm-push-0">
              <div class="text text_20-sm">
                <h2>What is the role of humans?</h2>
                <p>The good news: The human factor is still the best security. If you properly raise awareness among
                  your employees and train them, you’ve taken an important step toward better cybersecurity in your
                  company. After all, conscious and critical behavior in the digital world creates security and trust –
                  and that pays off. On the other hand, human beings also remain the primary gateway for cybercriminals.
                  Carelessness can endanger your company, as the numbers on this page clearly show. So raise awareness:
                  This will be your first major step toward better cybersecurity in your company.</p>
                <h2>How can you, as a small or medium- sized enterprise, particularly benefit from this?</h2>
                <p>As digital integration grows more widespread, cyber- security is becoming a genuine guarantor of
                  success. That’s because cybersecurity is not merely the response to a threat: If consistently
                  promoted, it offers a real opportunity to enhance your own competitiveness.</p>
                <p>Cybersecurity, when implemented systematically, creates many positive effects – especially for small
                  and medium-sized enterprises: It ensures better reliability in your supply chains, it protects your
                  ongoing operations, and it strengthens your trustworthiness with your customers by allowing you to
                  handle their sensitive data responsibly. This security enhances the quality of the products and
                  services you provide, making your portfolio more attractive and strengthening your competitive
                  position on the markets.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="article-img mt-7 mt-sm-4 mb-12 mb-sm-7">
          <div class="row">
            <div class="col col-14 col-lg-16 col-md-20 col-sm-12 col-push-5 col-lg-push-4 col-md-push-2 col-sm-push-0">
              <img  src="img/contact-image.jpg" alt="" />
            </div>
          </div>
        </div>
       
        <div class="article-block mb-9 mb-lg-7 mb-md-8 mb-sm-5">
          <div class="row">
            <div class="col col-14 col-lg-16 col-md-20 col-sm-12 col-push-5 col-lg-push-4 col-md-push-2 col-sm-push-0">
              <div class="text text_20-sm">
                <h2>You can improve your cybersecurity in three steps</h2>
                <p>Cybersecurity is a complex challenge that requires a targeted organizational, technical, and
                  personnel-driven response. To use a sports analogy: It’s not a sprint, it’s a marathon. But even the
                  longest journey begins with the first step.</p>
                <p>That is why we have divided the brochure into three individual steps – which we call phases. Join us
                  on this journey. You’ll quickly see that each individual step brings you closer to your goal.</p>

                {% for item in listsBlocks %}
                <h3>{{item.title}}</h3>
                <ol>
                  {% for item_inner in item.list %}
                  <li>{{item_inner.text}}</li>
                  {% endfor %}
                </ol>
                {% endfor %}
                <p>Eager for more content? You can download the extended version of this topic in our download section.
                  Or visit the links for more specific information.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="article-links mb-9 mb-sm-7">
          <div class="row">
            <div
              class="col col-6 col-lg-7 col-md-9 col-push-5 col-sm-12 col-md-push-2 col-lg-push-4 col-sm-push-0 mb-sm-3">
              <div class="text text_20-sm mb-2">Download</div>
              <div class="mb-2 mb-sm-3">
                <a class=" download-link download-link_simple link link_20 " download="" href="#">
                  <span class="download-link__wrapper">
                    <i>{{mixins.icon('download')}}</i>
                    <span class="download-link__inner">
                      <span>PDF Version</span>
                    </span>
                  </span>
                </a>
              </div>
              <div>
                <a class=" download-link download-link_simple link link_20" download="" href="#">
                  <span class="download-link__wrapper">
                    <i>{{mixins.icon('download')}}</i>
                    <span class="download-link__inner">
                      <span>Video Interview Video Interview Video Interview Video Interview</span>
                    </span>
                  </span>
                </a>
              </div>
            </div>
            <div class="col col-6 col-lg-7 col-md-9 col-sm-12 col-push-1 col-sm-push-0">
              <div class="text text_20-sm mb-2">Links</div>
              <div>
                <a class=" download-link download-link_simple download-link_pseudo link link_20" href="#">
                  <span class="download-link__wrapper">
                    <i>{{mixins.icon('download-right')}}</i>
                    <span class="download-link__inner">
                      <span>securityweek.at securityweek.at securityweek.at securityweek.at securityweek.at</span>
                    </span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>