<div class="banner-nl-wrapper is-active is-show js-banner-nl-wrapper">
    <div class="m-container">
        <div class="row">
            <div class="col col-22 col-push-1 col-lg-24 col-lg-push-0 col-md-22 col-md-push-1 col-sm-12 col-sm-push-0">
                <div class="banner-nl pt-4 pb-6 pb-lg-5 pt-sm-3 pb-sm-3">
                    <div class="form">
                        <form action="">
                            <div class="row">
                                <div
                                    class="col col-22-21 col-22-push-1 col-lg-col-lg-push-1 col-22-md-21 col-22-md-push-1 col-sm-10 col-sm-push-1 mb-2">
                                    <h4 class="title title_md ">Don’t miss any update</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div
                                    class="col col-22-9 col-22-push-1 col-lg-8 col-lg-push-1 col-22-md-20 col-22-md-push-1 col-sm-10 col-sm-push-1">
                                    <div class="text text_20-sm mb-3 mb-md-4 mb-sm-3">Sign up for our newsletter to
                                        receive
                                        current information and reports about cybersecurity.</div>
                                    <a class="hover-elem btn btn_border hide-md" href="#">
                                        <span class="hover-elem__view">More about our newsletter</span>
                                        <span class="hover-elem__copy">More about our newsletter</span>
                                    </a>
                                </div>
                                <div
                                    class="col col-22-5 col-22-push-1 col-lg-6 col-lg-push-1 col-22-md-8 col-22-md-push-1 col-sm-10 col-sm-push-1 mb-sm-3">
                                    <div class="form__field form__field_action mb-3 js-input-state-animation">
                                        <input class="js-input-state-animation-input" type="text" value="" />
                                        <span class="js-input-state-animation-view">Your Name and surname *</span>
                                    </div>
                                    <div class="form__field form__field_action js-input-state-animation">
                                        <input class="js-input-state-animation-input" type="text" value="" />
                                        <span class="js-input-state-animation-view">Your E-Mail *</span>
                                    </div>
                                </div>
                                <div
                                    class="col col-22-5 col-22-push-1 col-lg-6 col-lg-push-1 col-22-md-11 col-22-md-push-1 col-sm-10 col-sm-push-1 pr-4 pr-lg-0 form__wrap">
                                    <div class="form__btns-wrap mb-3 mb-sm-0">
                                        <div class="hide show-md">
                                            <a class="hover-elem btn btn_border mr-3 mr-sm-0 mb-sm-3" href="#">
                                                <span class="hover-elem__view">More about our newsletter</span>
                                                <span class="hover-elem__copy">More about our newsletter</span>
                                            </a>
                                        </div>
                                        <button class="btn btn_blue-b" type="submit"><span>Subscribe</span></button>
                                    </div>
                                    <div class="form__check-wrap mb-sm-4">
                                        <div class="form__check">
                                            <input id="check_1" type="checkbox" />
                                            <label for="check_1">
                                                <i></i>
                                                <span class="text text_12">By registering, I agree that Charter of Trust
                                                    will use the data entered to send me the newsletter.</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
