{% set blocks = [
  {
    img: 'img/contact-image.jpg',
    title: 'Highlight of last newsletter',
    text: 'Welcome on board! Mitsubishi Heavy Industries joins the Charter of Trust. Lorem Ipsum dolor sit amet consecutor alboraia terra ist'
  },
  {
    img: 'img/contact-image.jpg',
    title: 'Interviews',
    text: 'The most relevant people in the world talking about cybersecurity.'
  },
  {
    img: 'img/contact-image.jpg',
    title: 'Events',
    text: 'Welcome on board! Mitsubishi Heavy Industries joins the Charter of Trust. Lorem Ipsum dolor sit amet consecutor alboraia terra ist'
  },
  {
    img: 'img/contact-image.jpg',
    title: 'Papers and reports ',
    text: 'The most current and accurate information on cybersecurity. '
  },
  {
    img: 'img/contact-image.jpg',
    title: 'Legislation and frameworks',
    text: 'Welcome on board! Mitsubishi Heavy Industries joins the Charter of Trust. Lorem Ipsum dolor sit amet consecutor alboraia terra ist'
  },
  {
    img: 'img/contact-image.jpg',
    title: 'And much more',
    text: 'The most current and accurate information on cybersecurity. '
  }
] %}
<div class="section">
  <div class="contact">
    <div class="contact__bg">
      <img src="img/bg-src/circles.svg" alt="circles" />
    </div>
    <div class="contact__content ">
      <div class="m-container ">
        <div class="contact__top is-header-padding pb-12 pb-lg-8 pb-sm-7">
          <div class="row pt-6 pt-lg-10 pt-sm-7">
            <div class="col col-14 col-lg-16 col-md-20 col-sm-12 col-push-2 col-lg-push-1 col-md-push-2 col-sm-push-0">
              <h1 class="title title_xxl mb-4 mb-sm-3 is-blue-b">Contact</h1>
              <div class="text text_24-sm mb-7">Cybersecurity only works with joined forces. We are looking forward
                hearing from you with any questions, concerns or feedback about the Charter of Trust.</div>
              <div class="text text_20-sm mb-3">You can reach us via the secretary's office:</div>
              <div class="contact__btns-group mb-4">
                <a class="hover-elem btn btn_mail btn_border" href="mailto:contact@charteroftrust.com">
                  <span class="hover-elem__view"> <i>{{mixins.icon('mail')}}</i> contact@charteroftrust.com</span>
                  <span class="hover-elem__copy"> <i>{{mixins.icon('mail')}}</i> contact@charteroftrust.com</span>
                </a>
                <a class="hover-elem btn btn_phone btn_border" href="tel:+493059009070">
                  <span class="hover-elem__view"> <i>{{mixins.icon('phone')}}</i>+49 30 59 00 90
                    70</span>
                  <span class="hover-elem__copy"> <i>{{mixins.icon('phone')}}</i>+49 30 59 00 90
                    70</span>
                </a>
              </div>
              <div class="text text_20 mb-3">News in your pocket. Follow us here.</div>
              <div class="socials">
                <a class="hover-elem btn btn_round" href="#">
                  <span class="hover-elem__view">{{mixins.icon('twitter')}}</span>
                  <span class="hover-elem__copy">{{mixins.icon('twitter')}}</span>
                </a>
                <a class="hover-elem btn btn_round" href="#">
                  <span class="hover-elem__view">{{mixins.icon('linkedin')}}</span>
                  <span class="hover-elem__copy">{{mixins.icon('linkedin')}}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-container">
        <div class="contact__main-content pb-20 pb-lg-13">
          <div class="row contact__main-row js-contact-row">
            <div
              class="col col-11 col-lg-13 col-md-20 col-sm-12 col-push-2 col-lg-push-1 col-md-push-2 col-sm-push-0 pt-3 js-contact-content">
              <div class="contact__mob-wrapper">
                <h2 class="title title_md mb-4 mb-sm-3">Don’t miss any update</h2>
                <div class="text text_24-sm mb-3">
                  Sign up for our newsletter to receive current information and reports about cybersecurity.
                </div>
                <div class="contact__main-content-inner">
                  <div class="text text_20-sm mb-5">
                    Cybersecurity begins with knowledge. From the challenges to the solutions. With our newsletter we
                    want
                    to increase, share and spread our knowledge. After registration, you will always and only receive
                    the
                    most important information from us on current topics, discussions and events about cybersecurity.
                  </div>
                  <div class="contact__blocks-wrapper">
                    {% for item in blocks %}
                    <div class="contact-block mb-7">
                      <div class="contact-block__img mb-2 mb-sm-3">
                        <img src="{{item.img}}" alt="alt" data-object-fit="cover" />
                      </div>
                      <div class="text text_16 is-blue-b mb-1 contact-block__title">{{item.title}}</div>
                      <div class="contact-block__text">{{item.text}}</div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="text text_16-default contact__text mb-4">
                    <p>Your email address will never be shared with any 3rd parties and you will receive only the type
                      of
                      content for which you signed up.</p>
                    <p>You can unsubscribe at any time with a click on the link provided in every Charter of Trust email
                      footer.</p>
                  </div>
                  <h2 class="title title_md hide-md">Ready to subscribe! </h2>
                </div>
              </div>
              <div class="form contact__static-form pt-4  pb-5 ">
                <form action="">
                  <div class=" row">
                <div class="col col-20-md-19 col-sm-10 col-20-md-push-1">
                  <h4 class="title title_md  mb-3">Ready to subscribe!</h4>
                </div>
              </div>
              <div class="contact__static-form-wrap">
                <div class="row">
                  <div class="col col-20-md-8 col-sm-10 col-20-md-push-1 col-sm-push-1">
                    <div class="contact__static-form-fields mb-sm-4">
                      <div class="form__field form__field_action mb-3 js-input-state-animation">
                        <input class="js-input-state-animation-input" type="text" value="" />
                        <span class="js-input-state-animation-view">First and Last Name</span>
                      </div>
                      <div class="form__field form__field_action js-input-state-animation">
                        <input class="js-input-state-animation-input" type="text" value="" />
                        <span class="js-input-state-animation-view">Email</span>
                      </div>
                    </div>
                  </div>
                  <div class="col col-20-md-7 col-sm-10 col-20-md-push-1 col-sm-push-1">
                    <div class="contact__static-form-btns">
                      <div class="form__btns-wrap mb-3 mb-sm-0">
                        <button class="btn btn_blue-b" type="submit"><span>Subscribe</span></button>
                      </div>
                      <div class="form__check-wrap mb-sm-4">
                        <div class="form__check">
                          <input id="check_contact_static" type="checkbox" />
                          <label for="check_contact_static">
                            <i></i>
                            <span class="text text_12">By registering, I agree that Charter of Trust will use the
                              data
                              entered to send me the newsletter.</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </form>
            </div>
          </div>
          <div class="col col-6 col-lg-8 col-push-1 contact__form-col">
            <div class="contact__sticky-wrap">
              <div class="contact__sticky-block js-contact-form-wrap">
                <div class="form contact__form pt-3 pr-7 pr-lg-5 pb-3 pl-7 pl-lg-5">
                  <form action="">
                    <div class="form__field form__field_action mb-3  js-input-state-animation">
                      <input class="js-input-state-animation-input" type="text" value="" />
                      <span class="js-input-state-animation-view">First and Last Name</span>
                    </div>
                    <div class="form__field form__field_action mb-5 mb-lg-4 js-input-state-animation">
                      <input class="js-input-state-animation-input" type="text" value="" />
                      <span class="js-input-state-animation-view">Email</span>
                    </div>
                    <div class=" form__wrap">
                      <div class="form__check-wrap mb-3">
                        <div class="form__check">
                          <input id="check_sticky" type="checkbox" />
                          <label for="check_sticky">
                            <i></i>
                            <span class="text text_12">By registering, I agree that Charter of Trust will use the data
                              entered to send me the newsletter.</span>
                          </label>
                        </div>
                      </div>
                      <div class="form__btns-wrap">
                        <button class="btn btn_blue-b" type="submit"><span>Subscribe</span></button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>