{% set events = [
  { 
    mode: 'mb-9 mb-sm-0',
    title: 'Munich Security Conference 2020',
    text: 'The world`s leading forum for debating international security policy',
    date: '14 - 16',
    month: 'February 2020',
    time: 'Fri 8:00 AM',
    location: 'Munich (Germany)',
    location_text: 'Bayerischer Hof, Promenadeplatza 2–6',
    LearnBtn: false,
    dateBtn: true
  },
  { 
    mode: 'mb-9 mb-sm-0',
    title: 'This is an Event with a very long name so it needs to lines Lorem Ipsum Security Conference 2020',
    text: 'The description is also very long. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet aliquet nisl, volutpat pellentesque eros maximus ut. Proin faucibus auctor semper. Ut mollis eros nec aliquam condimentum. Sed ligula purus, placerat quis finibus eget, dapibus sodales augue. Integer dapibus quam eu tortor luctus vehicula. Ut ultricies sagittis risus, vel hendrerit libero commodo sed. Sed dapibus congue neque eget aliquamunteger dapibus quam eu tortor luctus vehicula. Sed dapibus congue neque eget aliquamunteger dapibus quam eu tortor luctus. ',
    date: '14 - 16',
    month: 'February 2020',
    time: 'Fri 8:00 AM',
    location: 'Munich (Germany)',
    location_text: 'Bayerischer Hof, Promenadeplatza 2–6',
    LearnBtn: true,
    dateBtn: true
  },
  { 
    mode: '',
    title: 'This is an Event with a very long name so it needs to lines Lorem Ipsum Security Conference 2020',
    text: 'The description is also very long. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet aliquet nisl, volutpat pellentesque eros maximus ut. Proin faucibus auctor semper. Ut mollis eros nec aliquam condimentum. Sed ligula purus, placerat quis finibus eget, dapibus sodales augue. Integer dapibus quam eu tortor luctus vehicula. Ut ultricies sagittis risus, vel hendrerit libero commodo sed. Sed dapibus congue neque eget aliquamunteger dapibus quam eu tortor luctus vehicula. Sed dapibus congue neque eget aliquamunteger dapibus quam eu tortor luctus. ',
    date: '14 - 16',
    month: 'February 2020',
    time: 'Fri 8:00 AM',
    location: 'Munich (Germany)',
    location_text: 'Bayerischer Hof, Promenadeplatza 2–6',
    LearnBtn: true,
    dateBtn: false
  }
] %}
<section class="section">
  <div class="events js-events-block pt-20 pt-lg-12 pt-sm-9">
    <div class="events__bg">
      <div class="m-container">
        <div class="row">
          <div class="col col-18">
            <div class="events__bg-block"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-container events__content">
      <div class="row mb-13 mb-lg-10 mb-sm-4">
        <div class="col col-24 col-sm-12">
          <h2 class="title title_xxl title_center mb-5 mb-lg-4 mb-sm-2">Next events</h2>
          <div class="title title_lg title_center">Join us for a secure digital world</div>
        </div>
      </div>
      <div class="row mb-12 mb-sm-4">
        <div class="col col-22 col-push-1 col-lg-24 col-lg-push-0">
          <div class="events__slider js-events-slider-container">
            <div class=" pt-2 js-events-slider-wrapper">
              {% for item in events %}
              <div class="pb-sm-4 js-events-slider-slide {% if item.mode %}{{item.mode}}{% endif %}">
                {% include '../containers/_event-block.html' %}
              </div>
              {% endfor %}
            </div>
            <div class="swiper-pagination js-events-slider-pagination"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-8 col-lg-12 col-md-16 col-sm-11 col-push-2 col-lg-push-4 col-md-push-2 col-sm-11">
          <h5 class="title title_xs mb-4 mb-sm-2">
            In case you have missed it. Our last events at a glance.
          </h5>
          <a class="hover-elem btn btn_border js-filter-btn" href="http://localhost:8080/latest-page.html" data-filter-active=".event">
            <span class="hover-elem__view">Last events</span>
            <span class="hover-elem__copy">Last events</span>
          </a>
        </div>
      </div>
    </div>
    <div class="pb-40 pb-lg-25 pb-md-30 pb-sm-15">
      <div class="m-container">
        <div class="row">
          <div class="col col-24 col-sm-12 events__circles-wrapper">
            <div class="events__circles">
              <img src="img/bg-src/circles.svg" alt="circles" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>