<section class="section">
  <div class="footer pb-5">
    <div class="footer__content-wrap">
      <div class="footer__top">
        <div class="m-container">
          <div class="footer__top-inner pt-8 pb-9 pb-sm-12">
            <div class="footer__top-img">
              <img src="img/footer-img.jpg" alt="alt" data-object-fit="cover" />
            </div>
            <div class="row">
              <div class="col col-11 col-lg-9  col-md-12 col-sm-9 col-push-2  col-lg-push-1 col-sm-push-1">
                <h4 class="title title_md is-white mb-7 mb-lg-5">Get to know the members, principles and goals of the
                  Charter of
                  Trust.</h4>
                <a class="btn btn_yellow" href="#"><span>See more</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__middle">
        <div class="m-container">
          <div class="footer__middle-inner pt-7 pt-lg-6 pt-sm-4 pb-9 pb-sm-5">
            <div class="footer__fill-bg-block"></div>
            <div class="row">
              <div class="col col-9 col-lg-11 col-sm-10 col-push-2 col-lg-push-1 col-sm-push-1 mb-2">
                <h4 class="title title_md">At a glance</h4>
              </div>
            </div>
            <div class="row">
              <div class="col col-9 col-lg-11 col-md-12 col-sm-10 col-push-2 col-lg-push-1 col-sm-push-1 mb-sm-4">
                <div class="text text_20-sm">The key aspects in a nutshell. Learn more about the Charter of Trust and
                  the
                  features that make it so special, and get to know the ten basic principles for a safer digital world.
                </div>
              </div>
              <div class="col col-11 col-lg-10 col-md-9 col-sm-10 col-push-1 col-lg-push-2 col-sm-push-1">
                <div class="footer__link mb-3 mb-lg-2 mb-sm-3">
                  <a class="download-link link link_24 is-white" download="" href="#">
                    <span class="download-link__wrapper">
                      <i>{{mixins.icon('download')}}</i>
                      <span class="download-link__inner">
                        <span>Charter of Trust narrative</span>
                      </span>
                    </span>
                  </a>
                </div>
                <div class="footer__link mb-3 mb-lg-2 mb-sm-3">
                  <a class=" download-link link link_24 is-white" download="" href="#">
                    <span class="download-link__wrapper">
                      <i>{{mixins.icon('download')}}</i>
                      <span class="download-link__inner">
                        <span>Charter of Trust presentation</span>
                      </span>
                    </span>
                  </a>
                </div>
                <div class="footer__link">
                  <a class="download-link link link_24 is-white" download="" href="#">
                    <span class="download-link__wrapper">
                      <i>{{mixins.icon('download')}}</i>
                      <span class="download-link__inner">
                        <span>Education Campaign Booklet</span>
                      </span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom mb-5">
        <div class="m-container">
          <div class="footer__bottom-inner pt-7 pt-md-6 pt-sm-4 pb-3 pb-md-4 pb-sm-5">
            <div class="footer__fill-bg-block"></div>
            <div class="form mb-6 mb-md-4 mb-sm-6">
              <form action="">
                <div class="row">
                  <div class="col col-22 col-lg-23 col-sm-10 col-push-2 col-lg-push-1 col-sm-push-1 mb-2">
                    <h4 class="title title_md ">Don’t miss any update</h4>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col col-9 col-lg-8 col-md-22 col-sm-10 col-push-2 col-md-push-1 col-sm-push-1 col-lg-push-1">
                    <div class="text text_20-sm mb-3 mb-md-4 mb-sm-3">Sign up for our newsletter to receive current
                      information and reports about cybersecurity.</div>
                    <a class="hover-elem btn btn_border hide-md" href="#">
                      <span class="hover-elem__view">More about our newsletter</span>
                      <span class="hover-elem__copy">More about our newsletter</span>
                    </a>
                  </div>
                  <div class="col col-5 col-lg-6 col-md-9 col-sm-10 col-push-1 col-sm-push-1 mb-sm-3 ">
                    <div class="form__field form__field_action mb-3 is-error js-input-state-animation">
                      <input class="js-input-state-animation-input" type="text" value="" />
                      <span class="js-input-state-animation-view">First and Last Name</span>
                    </div>
                    <div class="form__field form__field_action is-error js-input-state-animation">
                      <input class="js-input-state-animation-input" type="text" value="" />
                      <span class="js-input-state-animation-view">Email</span>
                    </div>
                  </div>
                  <div class="col col-5 col-lg-6 col-md-11 col-sm-10 col-push-1 col-md-push-2 col-sm-push-1 form__wrap">
                    <div class="form__btns-wrap mb-3 mb-sm-0">
                      <div class="hide show-md">
                        <a class="hover-elem btn btn_border mr-3 mr-sm-0 mb-sm-3" href="#">
                          <span class="hover-elem__view">More about our newsletter</span>
                          <span class="hover-elem__copy">More about our newsletter</span>
                        </a>
                      </div>
                      <button class="btn btn_blue-b" type="submit"><span>Subscribe</span></button>
                    </div>
                    <div class="form__check-wrap mb-sm-4">
                      <div class="form__check is-error">
                        <input id="check_footer" type="checkbox" />
                        <label for="check_footer">
                          <i></i>
                          <span class="text text_12">By registering, I agree that Charter of Trust will use the data
                            entered to send me the newsletter.</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="row ">
              <div class="col col-22 col-lg-23 col-sm-10 col-push-2 col-lg-push-1 col-sm-push-1">
                <div class="text text_20-sm footer__before-social-text mb-2">
                  News in your pocket. Follow us here.
                </div>
                <div class="footer__socials mb-5 mb-lg-4 mb-md-3">
                  <div class="socials">
                    <a class="hover-elem btn btn_round" href="#">
                      <span class="hover-elem__view">{{mixins.icon('twitter')}}</span>
                      <span class="hover-elem__copy">{{mixins.icon('twitter')}}</span>
                    </a>
                    <a class="hover-elem btn btn_round" href="#">
                      <span class="hover-elem__view">{{mixins.icon('linkedin')}}</span>
                      <span class="hover-elem__copy">{{mixins.icon('linkedin')}}</span>
                    </a>
                    <a class="hover-elem btn btn_round" href="#">
                      <span class="hover-elem__view">{{mixins.icon('facebook')}}</span>
                      <span class="hover-elem__copy">{{mixins.icon('facebook')}}</span>
                    </a>
                    <a class="hover-elem btn btn_round" href="#">
                      <span class="hover-elem__view">{{mixins.icon('youtube')}}</span>
                      <span class="hover-elem__copy">{{mixins.icon('youtube')}}</span>
                    </a>
                  </div>
                </div>
                <div class="text text_20 footer__after-social-text">
                  For a secure digital world.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-container">
        <div class="row">
          <div class="col col-24 col-sm-12">
            <div class="footer__bottom-text">
              <p class="text text_14 is-white mb-sm-2">charteroftrust.com Website © 2019</p>
              <ul class="footer__menu">
                <li class="mr-3 mr-sm-0 mb-sm-2"><a class="text text_14 is-white " href="#">Legal Information</a></li>
                <li><a class="text text_14 is-white" href="#">Terms of Use</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__circles-wrapper">
      <div class="m-container">
        <div class="row">
          <div class="col col-24 col-sm-12">
            <div class="footer__circles-inner">
              <img src="img/bg-src/circles.svg" alt="circles" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
