{% set goalSlider = [
  {
    pic: 'img/animated-svgs/lock.json',
    text: 'Protect the data of individuals and companies'
  },
  {
    pic: 'img/animated-svgs/people.json',
    text: 'Prevent damage to people, companies and infrastructures'
  },
  {
    pic: 'img/animated-svgs/cloud.json',
    text: 'Create a reliable foundation on which confidence in a networked, digital world can take root and grow'
  }
] %}

<section class="section">
  <div class="goals">
    <div class="m-container">
      <div class="goals__row row pt-12">
        <div class="goals__col col col-12 col-lg-18 col-md-22 col-sm-12 col-push-6 col-lg-push-3 col-md-push-1 col-sm-push-0">
          <h3 class="title title_lg title_center is-white mb-17 mb-sm-2">That’s why together with strong partners we have signed a “Charter of Trust” – aiming at three important objectives</h3>
        </div>
      </div>
      <div class="goals__row row">
        <div class="goals__col col col-22 col-md-24 col-push-1 col-md-push-0">
          <div class="goals-slider mb-25 mb-lg-20 mb-sm-9 js-goals-slider-container">
            <div class="goals-slider__inner pb-sm-3 js-goals-slider-wrapper">
              {% for i in goalSlider %}
              <div class="goals-slider__slide js-goals-slider-slide">
                <div class="goal-block">
                  <div class="goal-block__pic mb-4 mb-lg-3 js-animated-icon" data-icon="{{ i.pic }}"></div>
                  <div class="goal-block__caption text text_20-sm text_center is-white">{{ i.text | safe }}</div>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="goals-slider__pagination js-goals-slider-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
