<div class="header-wrapper is-top-position js-header-wrapper {% if headerMode %}{{ headerMode }}{% endif %}">
  <div class="header header_static js-header">
    <div class="m-container js-header-container">
      <div class="row">
        <div class="col-24 col-sm-12">
          <div class="header__wrap">
            <div class="header__inner js-header-inner">
              <a class="header__logo-text" href="#">
                <span>Charter <br /> of Trust</span>
              </a>
              <div class="header__nav-wrap js-header-nav-wrap">
                <ul class="js-header-menu">
                  <li><a href="#">About</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Topics</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header header_sticky js-header-sticky">
    <div class="m-container">
      <div class="row">
        <div class="col-24 col-sm-12">
          <div class="header__wrap">
            <a href="home-page.html" class="header__logo-img">
              <i><img width="1" height="1" src="{% if customHeaderLogo %}{{ customHeaderLogo }}{% else %}img/logo.svg{% endif %}" alt="logo" /></i>
            </a>
            <div class="header__inner js-header-inner">
              <a class="header__logo-text" href="home-page.html">
                <span>Charter <br /> of Trust</span>
              </a>
              <div class="header__nav-wrap ">
                <a class="header__home-logo-link" href="home-page.html">
                  <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.0001 19.0002V14.0002H14.0001V19.0002C14.0001 19.5502 14.4501 20.0002 15.0001 20.0002H18.0001C18.5501 20.0002 19.0001 19.5502 19.0001 19.0002V12.0002H20.7001C21.1601 12.0002 21.3801 11.4302 21.0301 11.1302L12.6701 3.60021C12.2901 3.26021 11.7101 3.26021 11.3301 3.60021L2.9701 11.1302C2.6301 11.4302 2.8401 12.0002 3.3001 12.0002H5.0001V19.0002C5.0001 19.5502 5.4501 20.0002 6.0001 20.0002H9.0001C9.5501 20.0002 10.0001 19.5502 10.0001 19.0002Z" />
                  </svg>
                </a>
                <ul class="header__nav-main-list">
                  <li>
                    <div class="header__nav-main-link-wrapper js-header-main-link-wrapper">
                      <a class="header__nav-main-link js-header-main-link" href="about-page.html">About</a>
                      <div class="header__drop-menu js-header-drop-menu">
                        <div class="header__drop-menu-inner js-header-drop-menu-inner">
                          <ul>
                            <li><a class="js-page-next-scroll-link" href="about-page.html#about-page-text">About Charter of Trust</a></li>
                            <li><a class="js-page-next-scroll-link" href="about-page.html#principles">10 Principles</a></li>
                            <li><a class="js-page-next-scroll-link" href="about-page.html#partners">Contributing Partners</a></li>
                            <li><a class="js-page-next-scroll-link" href="about-page.html#partners-associated">Associated Partners</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="current-menu-item">
                    <div class="header__nav-main-link-wrapper js-header-main-link-wrapper">
                      <a class="header__nav-main-link js-header-main-link" href="latest-page.html">News</a>
                      <div class="header__drop-menu js-header-drop-menu">
                        <div class="header__drop-menu-inner js-header-drop-menu-inner">
                          <ul>
                            <li><a class="js-news-filter-link" data-filter-active=".press-release" href="latest-page.html">Press Releases</a></li>
                            <li><a class="js-news-filter-link" data-filter-active=".posts" href="latest-page.html">Blog Posts</a></li>
                            <li><a class="js-news-filter-link" data-filter-active=".upcoming-events" href="latest-page.html">Upcoming Events</a></li>
                            <li><a class="js-news-filter-link" data-filter-active=".past-events" href="latest-page.html">Past Events</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="header__nav-main-link-wrapper js-header-main-link-wrapper">
                      <a class="header__nav-main-link js-header-main-link" href="topics-page.html">Publications</a>
                      <div class="header__drop-menu js-header-drop-menu">
                        <div class="header__drop-menu-inner js-header-drop-menu-inner">
                          <ul>
                            <li><a class="js-topics-filter-link" data-filter-active=".reports" href="topics-page.html">Reports</a></li>
                            <li><a class="js-topics-filter-link" data-filter-active=".webinars" href="topics-page.html">Webinars</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a class="header__nav-main-link" href="#">Resources</a>
                  </li>
                  <li>
                    <a class="header__nav-main-link" href="#">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-burger js-header-burger">
        <span></span>
    </div>
  </div>
  <div class="header__mob-drop js-header-mob-nav">
    <div class="header__mob-drop-inner">
      <div class="header__nav-wrap">
          <a class="header__home-logo-link" href="home-page.html">
            <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.0001 19.0002V14.0002H14.0001V19.0002C14.0001 19.5502 14.4501 20.0002 15.0001 20.0002H18.0001C18.5501 20.0002 19.0001 19.5502 19.0001 19.0002V12.0002H20.7001C21.1601 12.0002 21.3801 11.4302 21.0301 11.1302L12.6701 3.60021C12.2901 3.26021 11.7101 3.26021 11.3301 3.60021L2.9701 11.1302C2.6301 11.4302 2.8401 12.0002 3.3001 12.0002H5.0001V19.0002C5.0001 19.5502 5.4501 20.0002 6.0001 20.0002H9.0001C9.5501 20.0002 10.0001 19.5502 10.0001 19.0002Z" />
            </svg>
          </a>
        <ul class="header__nav-main-list">
          <li>
            <div class="header__nav-main-link-wrapper js-header-main-mob-link-wrapper">
              <a class="header__nav-main-link js-header-main-mob-link" href="about-page.html">About</a>
              <div class="header__drop-menu js-header-mob-drop-menu">
                <div class="header__drop-menu-inner js-header-drop-menu-inner">
                  <ul>
                    <li><a class="js-page-next-scroll-link" href="about-page.html#about-page-text">About Charter of Trust</a></li>
                    <li><a class="js-page-next-scroll-link" href="about-page.html#principles">10 Principles</a></li>
                    <li><a class="js-page-next-scroll-link" href="about-page.html#partners">Contributing Partners</a></li>
                    <li><a class="js-page-next-scroll-link" href="about-page.html#partners-associated">Associated Partners</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="current-menu-item">
            <div class="header__nav-main-link-wrapper js-header-main-mob-link-wrapper">
              <a class="header__nav-main-link js-header-main-mob-link" href="latest-page.html">News</a>
              <div class="header__drop-menu js-header-mob-drop-menu">
                <div class="header__drop-menu-inner js-header-drop-menu-inner">
                  <ul>
                    <li><a class="js-news-filter-link" data-filter-active=".press-release" href="latest-page.html">Press Releases</a></li>
                    <li><a class="js-news-filter-link" data-filter-active=".posts" href="latest-page.html">Blog Posts</a></li>
                    <li><a class="js-news-filter-link" data-filter-active=".upcoming-events" href="latest-page.html">Upcoming Events</a></li>
                    <li><a class="js-news-filter-link" data-filter-active=".past-events" href="latest-page.html">Past Events</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="header__nav-main-link-wrapper js-header-main-mob-link-wrapper">
              <a class="header__nav-main-link js-header-main-mob-link" href="topics-page.html">Publications</a>
              <div class="header__drop-menu js-header-mob-drop-menu">
                <div class="header__drop-menu-inner js-header-drop-menu-inner">
                  <ul>
                    <li><a class="js-topics-filter-link" data-filter-active=".reports" href="topics-page.html">Reports</a></li>
                    <li><a class="js-topics-filter-link" data-filter-active=".webinars" href="topics-page.html">Webinars</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li><a class="header__nav-main-link" href="#">Resources</a></li>
          <li><a class="header__nav-main-link" href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
