<section class="section">
  <div class="hero is-header-padding js-hero">
    <div class="hero__bg-video js-hero-video-wrapper">
      <video class="js-hero-video" autoplay muted playsinline loop data-poster-src="img/hero/poster.jpg">
        <source src="img/hero/hero.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="hero__wrap">
      <div class="hero__container m-container pt-sm-6">
        <div class="row">
          <div class="hero__content-wrap col col-13 col-lg-12 col-md-16 col-sm-10 col-push-2 col-md-push-3 col-sm-push-1">
              <div class="hero__content js-hero-content">
                <h1 class="title title_xl-reg is-white mb-2 mb-lg-1 mb-md-2 mb-sm-1">„1We can’t expect people to actively
                  support the digital transformation if we cannot trust in the security of data and networked systems.“
                </h1>
                <div class="text text_quote-name is-white mb-7 mb-lg-5 mb-md-8 mb-sm-6">a quote from a Trusted Partner
                </div>
                <div class="mt-6 mt-lg-5 mt-md-8 mt-sm-6">
                  <a href="#" class="btn btn_yellow"><span>More about the partner</span></a>
                </div>
              </div>
              <div class="hero__content js-hero-content">
                <h1 class="title title_xm-reg is-white mb-2 mb-lg-1 mb-md-2 mb-sm-1">2We can’t expect people to actively
                  support the digital transformation if we cannot trust in the security of data and networked systems.
                </h1>
                <div class="text text_quote-name is-white mb-7 mb-lg-5 mb-md-8 mb-sm-6">a quote from a Trusted Partner
                </div>
                <div class="mt-6 mt-lg-5 mt-md-8 mt-sm-6">
                  <a href="#" class="btn btn_yellow"><span>More about the partner</span></a>
                </div>
              </div>
              <div class="hero__content js-hero-content">
                <h1 class="title title_xl-reg is-white mb-2 mb-lg-1 mb-md-2 mb-sm-1">„3We can’t expect people to actively
                  support the digital transformation if we cannot trust in the security of data and networked systems.“
                </h1>
                <div class="text text_quote-name is-white mb-7 mb-lg-5 mb-md-8 mb-sm-6">a quote from a Trusted Partner
                </div>
                <div class="mt-6 mt-lg-5 mt-md-8 mt-sm-6">
                  <a href="#" class="btn btn_yellow"><span>More about the partner</span></a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  <div class="hero__bg-shapes is-visible js-hero-bg-shapes">
      <div class="shapes lines">
          <svg xmlns="http://www.w3.org/2000/svg" width="5300" height="5300" class="svg" viewBox="0 0 5300 5300">
            <defs>
              <clipPath id="circle-mask-lines" clipPathUnits="userSpaceOnUse">
                <circle cx="3352" cy="2868.913" r="402" />
              </clipPath>
              <clipPath id="circle-mask-lines-mob" clipPathUnits="userSpaceOnUse">
                  <circle cx="3352" cy="2868.913" r="250" />
                </clipPath>
            </defs>
            <path fill="none" stroke="#bec328" stroke-width="1" stroke-miterlimit="10"
              d="M305 5305L-5 4995M145 5305L-5 5155M65 5305l-70-70M625 5305L-5 4675M545 5305L-5 4755M465 5305L-5 4835M-5 4915l390 390M5305 2625L2675-5M2595-5l2710 2710M5305 2785L2515-5M5305 2865L2435-5M5305 2945L2355-5M2275-5l3030 3030M5305 3105L2195-5M225 5305L-5 5075M-5 3715l1590 1590M1505 5305L-5 3795M1425 5305L-5 3875M-5 3635l1670 1670M-5 3555l1750 1750M1905 5305L-5 3395M-5 3475l1830 1830M-5 4355l950 950M1345 5305L-5 3955M865 5305L-5 4435M785 5305L-5 4515M-5 4595l710 710M1265 5305L-5 4035M-5 4275l1030 1030M1185 5305L-5 4115M-5 4195l1110 1110M4515-5l790 790M5305 865L4435-5M-5 3315l1990 1990M4595-5l710 710M4115-5l1190 1190M5305 945L4355-5M5305 1025L4275-5M4195-5l1110 1110M4675-5l630 630M5305 65l-70-70M5155-5l150 150M5305 385L4915-5M5305 225L5075-5M4995-5l310 310M5305 465L4835-5M4755-5l550 550M5305 1265L4035-5M3235-5l2070 2070M5305 2145L3155-5M5305 2225L3075-5M5305 2465L2835-5M2755-5l2550 2550M3315-5l1990 1990M5305 2305L2995-5M2915-5l2390 2390M3395-5l1910 1910M5305 1345L3955-5M3875-5l1430 1430M5305 1505L3795-5M3475-5l1830 1830M3555-5l1750 1750M5305 1585L3715-5M3635-5l1670 1670M35-5l5270 5270M5305 5105L195-5M115-5l5190 5190M435-5l4870 4870M5305 4625L675-5M5305 4705L595-5M515-5l4790 4790M5305 4945L355-5M275-5l5030 5030M4945 5305L-5 355M4865 5305L-5 435M5265 5305L-5 35M-5 275l5030 5030M5185 5305L-5 115M-5 195l5110 5110M755-5l4550 4550M5305 3665L1635-5M5305 3745L1555-5M1475-5l3830 3830M1715-5l3590 3590M1795-5l3510 3510M5305 3345L1955-5M1875-5l3430 3430M5305 3905L1395-5M4785 5305L-5 515M5305 4385L915-5M835-5l4470 4470M995-5l4310 4310M1075-5l4230 4230M5305 3985L1315-5M5305 4065L1235-5M1155-5l4150 4150M-5 2355l2950 2950M2865 5305L-5 2435M2785 5305L-5 2515M3105 5305L-5 2195M-5 2275l3030 3030M3265 5305L-5 2035M-5 2115l3190 3190M5305 3185L2115-5M2035-5l3270 3270M4705 5305L-5 595M-5 1955l3350 3350M2705 5305L-5 2595M-5 3075l2230 2230M2625 5305L-5 2675M2145 5305L-5 3155M-5 3235l2070 2070M2545 5305L-5 2755M-5 2835l2470 2470M2385 5305L-5 2915M-5 2995l2310 2310M4225 5305L-5 1075M-5 1155l4150 4150M-5 995l4310 4310M-5 1875l3430 3430M4465 5305L-5 835M-5 915l4390 4390M4625 5305L-5 675M-5 755l4550 4550M-5 1635l3670 3670M3585 5305L-5 1715M-5 1795l3510 3510M-5 1555l3750 3750M4065 5305L-5 1235M-5 1315l3990 3990M3905 5305L-5 1395M-5 1475l3830 3830" />
            <path class="lines--fat" fill="none" stroke="#bec328" stroke-width="7" stroke-miterlimit="10"
              d="M305 5305L-5 4995M145 5305L-5 5155M65 5305l-70-70M625 5305L-5 4675M545 5305L-5 4755M465 5305L-5 4835M-5 4915l390 390M5305 2625L2675-5M2595-5l2710 2710M5305 2785L2515-5M5305 2865L2435-5M5305 2945L2355-5M2275-5l3030 3030M5305 3105L2195-5M225 5305L-5 5075M-5 3715l1590 1590M1505 5305L-5 3795M1425 5305L-5 3875M-5 3635l1670 1670M-5 3555l1750 1750M1905 5305L-5 3395M-5 3475l1830 1830M-5 4355l950 950M1345 5305L-5 3955M865 5305L-5 4435M785 5305L-5 4515M-5 4595l710 710M1265 5305L-5 4035M-5 4275l1030 1030M1185 5305L-5 4115M-5 4195l1110 1110M4515-5l790 790M5305 865L4435-5M-5 3315l1990 1990M4595-5l710 710M4115-5l1190 1190M5305 945L4355-5M5305 1025L4275-5M4195-5l1110 1110M4675-5l630 630M5305 65l-70-70M5155-5l150 150M5305 385L4915-5M5305 225L5075-5M4995-5l310 310M5305 465L4835-5M4755-5l550 550M5305 1265L4035-5M3235-5l2070 2070M5305 2145L3155-5M5305 2225L3075-5M5305 2465L2835-5M2755-5l2550 2550M3315-5l1990 1990M5305 2305L2995-5M2915-5l2390 2390M3395-5l1910 1910M5305 1345L3955-5M3875-5l1430 1430M5305 1505L3795-5M3475-5l1830 1830M3555-5l1750 1750M5305 1585L3715-5M3635-5l1670 1670M35-5l5270 5270M5305 5105L195-5M115-5l5190 5190M435-5l4870 4870M5305 4625L675-5M5305 4705L595-5M515-5l4790 4790M5305 4945L355-5M275-5l5030 5030M4945 5305L-5 355M4865 5305L-5 435M5265 5305L-5 35M-5 275l5030 5030M5185 5305L-5 115M-5 195l5110 5110M755-5l4550 4550M5305 3665L1635-5M5305 3745L1555-5M1475-5l3830 3830M1715-5l3590 3590M1795-5l3510 3510M5305 3345L1955-5M1875-5l3430 3430M5305 3905L1395-5M4785 5305L-5 515M5305 4385L915-5M835-5l4470 4470M995-5l4310 4310M1075-5l4230 4230M5305 3985L1315-5M5305 4065L1235-5M1155-5l4150 4150M-5 2355l2950 2950M2865 5305L-5 2435M2785 5305L-5 2515M3105 5305L-5 2195M-5 2275l3030 3030M3265 5305L-5 2035M-5 2115l3190 3190M5305 3185L2115-5M2035-5l3270 3270M4705 5305L-5 595M-5 1955l3350 3350M2705 5305L-5 2595M-5 3075l2230 2230M2625 5305L-5 2675M2145 5305L-5 3155M-5 3235l2070 2070M2545 5305L-5 2755M-5 2835l2470 2470M2385 5305L-5 2915M-5 2995l2310 2310M4225 5305L-5 1075M-5 1155l4150 4150M-5 995l4310 4310M-5 1875l3430 3430M4465 5305L-5 835M-5 915l4390 4390M4625 5305L-5 675M-5 755l4550 4550M-5 1635l3670 3670M3585 5305L-5 1715M-5 1795l3510 3510M-5 1555l3750 3750M4065 5305L-5 1235M-5 1315l3990 3990M3905 5305L-5 1395M-5 1475l3830 3830" />
          </svg>
        </div>
        <div class="shapes circles">
          <svg xmlns="http://www.w3.org/2000/svg" width="5300" height="5300" class="svg">
            <defs>
              <clipPath id="circle-mask" clipPathUnits="userSpaceOnUse">
                <circle cx="3352" cy="2868.913" r="402" id="circle-mask-circle1" />
              </clipPath>
              <clipPath id="circle-mask-mob" clipPathUnits="userSpaceOnUse">
                  <circle cx="3352" cy="2868.913" r="250" id="circle-mask-circle-mob" />
                </clipPath>
            </defs>
            <g fill="none" stroke="#00bed7" stroke-miterlimit="10">
              <path
                d="M3580 3106.11C3548.63 3106.11 3523.19 3131.54 3523.19 3162.91C3523.19 3194.28 3548.63 3219.71 3580 3219.71C3611.38 3219.71 3636.81 3194.28 3636.81 3162.91C3636.81 3131.54 3611.38 3106.11 3580 3106.11Z" />
              <path
                d="M3702.14 3162.91C3702.14 3095.47 3647.46 3040.8 3580 3040.8C3512.54 3040.8 3457.86 3095.47 3457.86 3162.91C3457.86 3230.35 3512.54 3285.03 3580 3285.03C3647.46 3285.02 3702.14 3230.35 3702.14 3162.91Z" />
              <path
                d="M3581.38 3344.87C3681.78 3344.11 3762.55 3262.12 3761.78 3161.74C3761.02 3061.36 3679.01 2980.61 3578.62 2981.37C3478.22 2982.14 3397.45 3064.13 3398.21 3164.51C3398.98 3264.88 3480.98 3345.64 3581.38 3344.87Z" />
              <path
                d="M3581.46 3404.26C3714.8 3403.53 3822.3 3294.86 3821.57 3161.54C3820.83 3028.23 3712.14 2920.75 3578.8 2921.48C3445.46 2922.22 3337.96 3030.88 3338.7 3164.2C3339.43 3297.51 3448.12 3404.99 3581.46 3404.26Z" />
              <path
                d="M3581.49 3463.97C3747.77 3463.17 3881.92 3327.75 3881.13 3161.5C3880.33 2995.25 3744.88 2861.12 3578.6 2861.92C3412.32 2862.72 3278.16 2998.14 3278.96 3164.39C3279.76 3330.64 3415.21 3464.77 3581.49 3463.97Z" />
              <path
                d="M3581.4 3523.55C3780.62 3522.81 3941.53 3360.74 3940.79 3161.56C3940.06 2962.37 3777.95 2801.49 3578.73 2802.23C3379.5 2802.97 3218.6 2965.04 3219.33 3164.23C3220.07 3363.41 3382.17 3524.29 3581.4 3523.55Z" />
              <path
                d="M3580 3583.21C3812.17 3583.21 4000.38 3395.04 4000.38 3162.91C4000.38 2930.79 3812.17 2742.61 3580 2742.61C3347.83 2742.61 3159.62 2930.79 3159.62 3162.91C3159.62 3395.04 3347.83 3583.21 3580 3583.21Z" />
              <path
                d="M3581.4 3642.98C3846.52 3642.15 4060.77 3426.61 4059.95 3161.55C4059.12 2896.49 3843.54 2682.29 3578.43 2683.11C3313.32 2683.93 3099.07 2899.47 3099.89 3164.53C3100.71 3429.59 3316.29 3643.8 3581.4 3642.98Z" />
              <path
                d="M3581.17 3702.59C3879.22 3701.9 4120.29 3459.77 4119.6 3161.78C4118.92 2863.78 3876.74 2622.76 3578.68 2623.45C3280.63 2624.13 3039.56 2866.26 3040.25 3164.26C3040.93 3462.26 3283.11 3703.28 3581.17 3702.59Z" />
              <path
                d="M3581.45 3762.13C3912.45 3761.33 4180.13 3492.41 4179.34 3161.48C4178.54 2830.54 3909.57 2562.91 3578.58 2563.71C3247.58 2564.5 2979.9 2833.42 2980.69 3164.35C2981.49 3495.29 3250.46 3762.92 3581.45 3762.13Z" />
              <path
                d="M3581.75 3821.59C3945.69 3820.71 4240.01 3525.03 4239.14 3161.16C4238.27 2797.29 3942.53 2503.03 3578.59 2503.9C3214.64 2504.77 2920.32 2800.46 2921.19 3164.33C2922.07 3528.2 3217.81 3822.46 3581.75 3821.59Z" />
              <path
                d="M3581.53 3881.48C3978.41 3880.6 4299.44 3558.22 4298.57 3161.41C4297.69 2764.6 3975.25 2443.64 3578.36 2444.51C3181.48 2445.38 2860.45 2767.77 2861.32 3164.57C2862.2 3561.38 3184.64 3882.35 3581.53 3881.48Z" />
              <path
                d="M3580.98 3941.16C4010.81 3940.56 4358.76 3591.69 4358.16 3161.95C4357.56 2732.21 4008.63 2384.32 3578.8 2384.92C3148.98 2385.52 2801.02 2734.38 2801.62 3164.13C2802.23 3593.87 3151.16 3941.76 3580.98 3941.16Z" />
              <path
                d="M3581.29 4000.64C4044.06 3999.95 4418.64 3624.31 4417.95 3161.63C4417.26 2698.95 4041.54 2324.44 3578.77 2325.13C3116 2325.82 2741.42 2701.46 2742.11 3164.14C2742.81 3626.82 3118.52 4001.33 3581.29 4000.64Z" />
              <path
                d="M3581.62 4060.2C4077.34 4059.36 4478.51 3656.9 4477.67 3161.28C4476.82 2665.67 4074.29 2264.57 3578.57 2265.42C3082.86 2266.26 2681.69 2668.72 2682.53 3164.34C2683.37 3659.95 3085.91 4061.05 3581.62 4060.2Z" />
              <path
                d="M3581.29 4119.78C4109.95 4119.15 4537.99 3690.16 4537.36 3161.6C4536.73 2633.05 4107.65 2205.09 3579 2205.72C3050.34 2206.36 2622.3 2635.35 2622.93 3163.9C2623.56 3692.45 3052.64 4120.42 3581.29 4119.78Z" />
              <path
                d="M3581.22 4179.7C4142.82 4178.97 4597.49 3723.2 4596.76 3161.71C4596.03 2600.23 4140.17 2145.64 3578.57 2146.37C3016.98 2147.1 2562.3 2602.87 2563.03 3164.36C2563.76 3725.85 3019.62 4180.43 3581.22 4179.7Z" />
            </g>
            <g class="circles--fat" stroke-miterlimit="10" stroke="#00BED7" fill="none">
              <path
                d="M3580 3106.11C3548.63 3106.11 3523.19 3131.54 3523.19 3162.91C3523.19 3194.28 3548.63 3219.71 3580 3219.71C3611.38 3219.71 3636.81 3194.28 3636.81 3162.91C3636.81 3131.54 3611.38 3106.11 3580 3106.11Z"
                stroke-width="20.7" />
              <path
                d="M3702.14 3162.91C3702.14 3095.47 3647.46 3040.8 3580 3040.8C3512.54 3040.8 3457.86 3095.47 3457.86 3162.91C3457.86 3230.35 3512.54 3285.03 3580 3285.03C3647.46 3285.02 3702.14 3230.35 3702.14 3162.91Z"
                stroke-width="18.285" />
              <path
                d="M3581.38 3344.87C3681.78 3344.11 3762.55 3262.12 3761.78 3161.74C3761.02 3061.36 3679.01 2980.61 3578.62 2981.37C3478.22 2982.14 3397.45 3064.13 3398.21 3164.51C3398.98 3264.88 3480.98 3345.64 3581.38 3344.87Z"
                stroke-width="17.48" />
              <path
                d="M3581.46 3404.26C3714.8 3403.53 3822.3 3294.86 3821.57 3161.54C3820.83 3028.23 3712.14 2920.75 3578.8 2921.48C3445.46 2922.22 3337.96 3030.88 3338.7 3164.2C3339.43 3297.51 3448.12 3404.99 3581.46 3404.26Z"
                stroke-width="16.675" />
              <path
                d="M3581.49 3463.97C3747.77 3463.17 3881.92 3327.75 3881.13 3161.5C3880.33 2995.25 3744.88 2861.12 3578.6 2861.92C3412.32 2862.72 3278.16 2998.14 3278.96 3164.39C3279.76 3330.64 3415.21 3464.77 3581.49 3463.97Z"
                stroke-width="15.87" />
              <path
                d="M3581.4 3523.55C3780.62 3522.81 3941.53 3360.74 3940.79 3161.56C3940.06 2962.37 3777.95 2801.49 3578.73 2802.23C3379.5 2802.97 3218.6 2965.04 3219.33 3164.23C3220.07 3363.41 3382.17 3524.29 3581.4 3523.55Z"
                stroke-width="15.065" />
              <path
                d="M3580 3583.21C3812.17 3583.21 4000.38 3395.04 4000.38 3162.91C4000.38 2930.79 3812.17 2742.61 3580 2742.61C3347.83 2742.61 3159.62 2930.79 3159.62 3162.91C3159.62 3395.04 3347.83 3583.21 3580 3583.21Z"
                stroke-width="14.26" />
              <path
                d="M3581.4 3642.98C3846.52 3642.15 4060.77 3426.61 4059.95 3161.55C4059.12 2896.49 3843.54 2682.29 3578.43 2683.11C3313.32 2683.93 3099.07 2899.47 3099.89 3164.53C3100.71 3429.59 3316.29 3643.8 3581.4 3642.98Z"
                stroke-width="13.455" />
              <path
                d="M3581.17 3702.59C3879.22 3701.9 4120.29 3459.77 4119.6 3161.78C4118.92 2863.78 3876.74 2622.76 3578.68 2623.45C3280.63 2624.13 3039.56 2866.26 3040.25 3164.26C3040.93 3462.26 3283.11 3703.28 3581.17 3702.59Z"
                stroke-width="12.65" />
              <path
                d="M3581.45 3762.13C3912.45 3761.33 4180.13 3492.41 4179.34 3161.48C4178.54 2830.54 3909.57 2562.91 3578.58 2563.71C3247.58 2564.5 2979.9 2833.42 2980.69 3164.35C2981.49 3495.29 3250.46 3762.92 3581.45 3762.13Z"
                stroke-width="11.845" />
              <path
                d="M3581.75 3821.59C3945.69 3820.71 4240.01 3525.03 4239.14 3161.16C4238.27 2797.29 3942.53 2503.03 3578.59 2503.9C3214.64 2504.77 2920.32 2800.46 2921.19 3164.33C2922.07 3528.2 3217.81 3822.46 3581.75 3821.59Z"
                stroke-width="11.04" />
              <path
                d="M3581.53 3881.48C3978.41 3880.6 4299.44 3558.22 4298.57 3161.41C4297.69 2764.6 3975.25 2443.64 3578.36 2444.51C3181.48 2445.38 2860.45 2767.77 2861.32 3164.57C2862.2 3561.38 3184.64 3882.35 3581.53 3881.48Z"
                stroke-width="10.235" />
              <path
                d="M3580.98 3941.16C4010.81 3940.56 4358.76 3591.69 4358.16 3161.95C4357.56 2732.21 4008.63 2384.32 3578.8 2384.92C3148.98 2385.52 2801.02 2734.38 2801.62 3164.13C2802.23 3593.87 3151.16 3941.76 3580.98 3941.16Z"
                stroke-width="9.43" />
              <path
                d="M3581.29 4000.64C4044.06 3999.95 4418.64 3624.31 4417.95 3161.63C4417.26 2698.95 4041.54 2324.44 3578.77 2325.13C3116 2325.82 2741.42 2701.46 2742.11 3164.14C2742.81 3626.82 3118.52 4001.33 3581.29 4000.64Z"
                stroke-width="8.625" />
              <path
                d="M3581.62 4060.2C4077.34 4059.36 4478.51 3656.9 4477.67 3161.28C4476.82 2665.67 4074.29 2264.57 3578.57 2265.42C3082.86 2266.26 2681.69 2668.72 2682.53 3164.34C2683.37 3659.95 3085.91 4061.05 3581.62 4060.2Z"
                stroke-width="7.82" />
              <path
                d="M3581.29 4119.78C4109.95 4119.15 4537.99 3690.16 4537.36 3161.6C4536.73 2633.05 4107.65 2205.09 3579 2205.72C3050.34 2206.36 2622.3 2635.35 2622.93 3163.9C2623.56 3692.45 3052.64 4120.42 3581.29 4119.78Z"
                stroke-width="7.015" />
              <path
                d="M3581.22 4179.7C4142.82 4178.97 4597.49 3723.2 4596.76 3161.71C4596.03 2600.23 4140.17 2145.64 3578.57 2146.37C3016.98 2147.1 2562.3 2602.87 2563.03 3164.36C2563.76 3725.85 3019.62 4180.43 3581.22 4179.7Z"
                stroke-width="6.21" />
              <path
                d="M3582.02 4239.26C4176.56 4238.13 4657.61 3755.34 4656.48 3160.91C4655.35 2566.48 4172.47 2085.52 3577.93 2086.65C2983.39 2087.78 2502.33 2570.58 2503.46 3165C2504.59 3759.43 2987.48 4240.39 3582.02 4239.26Z"
                stroke-width="5.405" />
              <path
                d="M3582.16 4298.74C4209.64 4297.61 4717.4 3788.11 4716.27 3160.75C4715.14 2533.39 4205.55 2025.72 3578.07 2026.85C2950.59 2027.98 2442.82 2537.48 2443.95 3164.84C2445.08 3792.2 2954.67 4299.87 3582.16 4298.74Z"
                stroke-width="4.6" />
            </g>
          </svg>
        </div>
  </div>
  </div>
</section>
