<div class="section">
  <div class="article is-header-padding">
    <div class="m-container">
      <div class="article__content pt-6 pt-lg-9 pt-sm-15 pb-20 pb-lg-12">
        <div class="article-date">
          <div class="row mb-7 mb-sm-12">
            <div class="col col-14 col-lg-16 col-md-20 col-sm-12 col-push-5 col-lg-push-4 col-md-push-2 col-sm-push-0">
              <div class="text text_24-sm ">Event – 19 September 2019</div>
            </div>
          </div>
        </div>
        {% include '../containers/_article-head.html' %}
        {% include '../components/_video-block.html' %}
        <div class="article-block mb-9 mb-lg-7 mb-md-8 mb-sm-5">
          <div class="row">
            <div class="col col-14 col-lg-16 col-md-20 col-sm-12 col-push-5 col-lg-push-4 col-md-push-2 col-sm-push-0">
              <div class="text text_20-sm">
                <p>This is the body of the article. Can contain all kinds of formats such as <strong>Bold</strong>,
                  <em>Italic</em> or <strong><em>bold Italic</em></strong> <em><strong>Italic bold</strong></em>
                  and <a href="#">even links</a>, on hover the link gets a Text-Decoration:Underline. Lorem ipsum dolor
                  sit amet,
                  consectetur adipiscing elit. Mauris ut mollis libero.</p>
                <p>Nulla molestie mauris vitae consequat placerat. Aliquam non ligula quis tortor gravida eleifend.
                  Aenean bibendum ipsum vitae interdum sodales. Phasellus mattis enim mollis quam lobortis, a finibus
                  magna commodo. Ut id volutpat dui. Maecenas laoreet ipsum imperdiet sapien gravida, a faucibus lectus
                  iaculis. Vestibulum sed auctor augue, ac ultrices velit. Proin iaculis hendrerit metus, in egestas
                  lectus fringilla quis. Nullam tristique convallis magna at aliquam. Mauris ac nibh commodo,
                  sollicitudin orci iaculis, iaculis purus. Pellentesque efficitur sapien nec risus tincidunt feugiat.
                  Cras enim ligula, hendrerit ut nulla at, eleifend porttitor lectus. Duis nulla felis, bibendum in ex
                  eu, egestas bibendum lacus. Nullam blandit mauris sed justo dignissim, ac pretium enim congue.</p>
                <ul>
                  <li>This is a List with bullets, it is the same as the copy just with bullets</li>
                  <li>Vestibulum sed auctor augue, ac ultrices velit. Proin iaculis hendrerit metus, in egestas lectus
                    fringilla quis. Nullam tristique convallis magna at aliquam. Mauris ac nibh commodo, sollicitudin
                    orci iacu.</li>
                  <li>Alboraia terreta ist</li>
                </ul>
                <p>Vestibulum sed auctor augue, ac ultrices velit. Proin iaculis hendrerit metus, in egestas lectus
                  fringilla quis. Nullam tristique convallis magna at aliquam. Mauris ac nibh commodo, sollicitudin orci
                  iaculis, iaculis purus. Pellentesque efficitur sapien nec risus tincidunt feugiat. Cras enim ligula,
                  hendrerit ut nulla at, eleifend porttitor lectus. Duis nulla felis, bibendum in ex eu, egestas
                  bibendum lacus. Nullam blandit mauris sed justo dignissim, ac pretium enim congue.</p>
              </div>
            </div>
          </div>
        </div>
        {% include '../containers/_article-img-gallery.html' %}
        <div class="article-block mb-9 mb-lg-7 mb-md-8 mb-sm-5">
          <div class="row">
            <div class="col col-14 col-lg-16 col-md-20 col-sm-12 col-push-5 col-lg-push-4 col-md-push-2 col-sm-push-0">
              <div class="text text_20-sm">
                  <h2>test title</h2>
                <p> Vestibulum sed auctor augue, ac ultrices velit. Proin iaculis hendrerit metus, in egestas lectus
                  fringilla
                  quis. Nullam tristique convallis magna at aliquam. Mauris ac nibh commodo, sollicitudin orci iaculis,
                  iaculis purus. Pellentesque efficitur sapien nec risus tincidunt feugiat. Cras enim ligula, hendrerit
                  ut
                  nulla at, eleifend porttitor lectus. Duis nulla felis, bibendum in ex eu, egestas bibendum lacus.
                  Nullam
                  blandit mauris sed justo dignissim, ac pretium enim congue.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="article-links mb-9 mb-sm-7">
          <div class="row">
            <div
              class="col col-6 col-lg-7 col-md-9 col-push-5 col-sm-12 col-md-push-2 col-lg-push-4 col-sm-push-0 mb-sm-3">
              <div class="text text_20-sm mb-2">Download</div>
              <div class="mb-2 mb-sm-3">
                <a class=" download-link download-link_simple link link_20" download="" href="#">
                  <span class="download-link__wrapper">
                    <i>{{mixins.icon('download')}}</i>
                    <span class="download-link__inner">
                      <span>PDF Version</span>
                    </span>
                  </span>
                </a>
              </div>
              <div>
                <a class=" download-link download-link_simple link link_20" download="" href="#">
                  <span class="download-link__wrapper">
                    <i>{{mixins.icon('download')}}</i>
                    <span class="download-link__inner">
                      <span>Video Interview Video Interview Video Interview Video Interview</span>
                    </span>
                  </span>
                </a>
              </div>
            </div>
            <div class="col col-6 col-lg-7 col-md-9 col-sm-12 col-push-1 col-sm-push-0">
              <div class="text text_20-sm mb-2">Links</div>
              <div>
                <a class=" download-link download-link_simple download-link_pseudo link link_20" href="#">
                  <span class="download-link__wrapper">
                    <i>{{mixins.icon('download-right')}}</i>
                    <span class="download-link__inner">
                      <span>securityweek.at securityweek.at securityweek.at securityweek.at securityweek.at</span>
                    </span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        {% include '../containers/_article-btn-block.html' %}
        {% include '../components/_video-block.html' %}
        <div class="article-block mb-9 mb-lg-7 mb-md-8 mb-sm-5">
          <div class="row">
            <div class="col col-14 col-lg-16 col-md-20 col-sm-12 col-push-5 col-lg-push-4 col-md-push-2 col-sm-push-0">
              <div class="text text_20-sm">
                <p> Vestibulum sed auctor augue, ac ultrices velit. Proin iaculis hendrerit metus, in egestas lectus
                  fringilla
                  quis. Nullam tristique convallis magna at aliquam. Mauris ac nibh commodo, sollicitudin orci iaculis,
                  iaculis purus. Pellentesque efficitur sapien nec risus tincidunt feugiat. Cras enim ligula, hendrerit
                  ut
                  nulla at, eleifend porttitor lectus. Duis nulla felis, bibendum in ex eu, egestas bibendum lacus.
                  Nullam
                  blandit mauris sed justo dignissim, ac pretium enim congue.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>