{% set latestUpdates = [
  {
    mode: '',
    contentPadding: 'pt-3 pr-3 pb-3 pl-3',
    img: 'latest-update.jpg',
    dateMode: 'is-blue',
    date: 'Press Event – September 19, 2019',
    titleMode: 'is-blue',
    title: '3 Lines Headline The Charter of Trust train stops in Graz and creates trust',
    textMode: '',
    text: 'The first Associated Partner Forum of the Charter of Trust recently took place in the Austrian university city. Together with representatives of the European Commission, the Federal Office for Information Security (BSI), Graz University of Technology and the Hasso Plattner Institute (HPI), the CoT members set the'
  },
  {
    mode: 'latest-card_video',
    contentPadding: 'pt-3 pr-3 pb-3 pl-3',
    videosrc: 'img/modal-video.mp4',
    videotype: 'mp4',
    img: 'latest-update.jpg',
    dateMode: 'is-white',
    date: 'Video – July 17, 2019',
    titleMode: 'is-white',
    title: 'The Professionalization on the side of the attackers',
    textMode: 'is-white',
    text: 'Interview with Eva Schulz-Kamm'
  },
  {
    mode: '',
    contentPadding: 'pt-3 pr-3 pb-3 pl-3',
    img: 'latest-update.jpg',
    dateMode: 'is-blue',
    date: 'Press Event – September 19, 2019',
    titleMode: 'is-blue',
    title: '3 Lines Headline The Charter of Trust train ',
    textMode: '',
    text: 'The first Associated Partner Forum of the Charter of Trust recently took place in the Austrian university city.'
  }
] %}
<div class="block block_latest-updates latest-updates-section is-bg-bblue is-overflow js-latest-updates-block">
  <!-- <div class="global-lines latest-updates-section__lines" style="background-image: url('img/bg-src/diagonal.svg');"></div> -->
  <div class="latest-updates-section__bg">
    <div class="m-container">
      <div class="row">
        <div class="col col-18">
          <div class="latest-updates-section__bg-block"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="block__content">
    <section class="section">
      <div class="latest-updates pt-20 pt-lg-12 pt-sm-9">
        <div class="m-container">
          <div class="row mb-5 mb-lg-3 mb-md-1 mb-sm-0">
            <div class="col col-22 col-push-1 col-md-24 col-md-push-0 col-sm-12">
              <h2 class="title title_xxl title_center is-white mb-5 mb-lg-4 mb-sm-3">Latest updates</h2>
              <div class="title title_lg title_center mb-15 mb-lg-12 mb-sm-6">
                Important milestones towards more cybersecurity
              </div>
              <div class="latest-updates__slider-wrap js-latest-updates-wrapper">
                <div class="swiper-container js-latest-updates-slider">
                  <div class="swiper-wrapper">
                    {% for item in latestUpdates %}
                    <div class="swiper-slide js-latest-updates-slide">
                        {% include '../components/_latest-card.html' %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="swiper-pagination js-latest-updates-slider-pagination mb-4"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col col-8 col-lg-12 col-md-16 col-sm-11 col-push-2 col-lg-push-4 col-md-push-2 col-sm-11">
              <h5 class="title title_xs mb-4 mb-sm-2">
                Stay informed, stay secure. <br />
                Explore our latest updates.
              </h5>
              <a class="hover-elem btn btn_border" href="#">
                <span class="hover-elem__view">Learn more</span>
                <span class="hover-elem__copy">Learn more</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="pb-40 pb-lg-25 pb-md-30 pb-sm-15 latest-updates-section__circles-wrapper">
    <div class="m-container">
      <div class="row">
        <div class="col col-24 col-sm-12 ">
          <div class="latest-updates-section__circles">
            <img src="img/bg-src/circles-white.svg" alt="circles" />
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
