{% set partnersList = [
  {
    pic: 'img/partners/aes.png',
    href: '#'
  },
  {
    pic: 'img/partners/airbus.png',
    href: '#'
  },
  {
    pic: 'img/partners/allianz.png',
    href: '#'
  },
  {
    pic: 'img/partners/atos.png',
    href: '#'
  },
  {
    pic: 'img/partners/cisco.png',
    href: '#'
  },
  {
    pic: 'img/partners/daimler.png',
    href: '#'
  },
  {
    pic: 'img/partners/dell.png',
    href: '#'
  },
  {
    pic: 'img/partners/ibm.png',
    href: '#'
  },
  {
    pic: 'img/partners/mitsubishi.png',
    href: '#'
  },
  {
    pic: 'img/partners/msc.png',
    href: '#'
  },
  {
    pic: 'img/partners/nxp.png',
    href: '#'
  },
  {
    pic: 'img/partners/sgs.png',
    href: '#'
  },
  {
    pic: 'img/partners/siemens.png',
    href: '#'
  },
  {
    pic: 'img/partners/telekom.png',
    href: '#'
  },
  {
    pic: 'img/partners/total.png',
    href: '#'
  },
  {
    pic: 'img/partners/tuv.png',
    href: '#'
  },
  {
    pic: 'img/partners/tuv.png',
    href: '#'
  }
] %}

<section class="section">
  <div class="partners pt-15 pt-lg-10 pt-sm-5" id="partners">
    <div class="m-container">
      <div class="partners__row row pt-25 pt-lg-15 pt-md-20 pt-sm-10">
        <div class="partners__col col col-14 col-lg-18 col-md-20 col-sm-12 col-push-5 col-lg-push-4 col-md-push-2 col-sm-push-0">
          <div class="partners__titles mb-4 mb-lg-12 mb-md-4 mb-sm-6">
            <h2 class="title title_xxl title_center is-yellow mb-4">Partners</h2>
            <h3 class="title title_lg title_center is-white">Together we will shape Cybersecurity</h3>
          </div>
          <div class="text text_24-sm text_center is-white mb-8 mb-lg-10 mb-sm-11">In order to keep pace with continuous advances in the market as well as threats from the criminal world, businesses and governments need to coordinate their actions in a targeted manner. We are therefore joining together to protect our democratic and economic values against cyber and hybrid threats. In this charter, the signing partners outline the key principles we consider essential for establishing a new charter of trust between society, politics, business partners, and customers.</div>
        </div>
      </div>
      <div class="partners__row row pb-10 pb-lg-8 pb-md-0 pb-sm-4">
        <div class="partners__col col col-24">
          <div class="partners-list">
            {% for i in partnersList %}
            <div class="partners-list__item mb-15 mb-lg-12 mb-sm-8">
              <a href="{{ i.href }}" class="partner-block partner-block_animated">
                <div class="partner-block__pic mb-4 mb-lg-3 mb-sm-1">
                  <img class="partner-block__img" src="{{ i.pic }}" alt=""/>
                </div>
                <div class="hover-elem btn btn_border is-white">
                  <span class="hover-elem__view">Learn more</span>
                  <span class="hover-elem__copy">Learn more</span>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
