{% set partnersList = [
  {
    pic: 'img/partners/aes.png',
    href: '#'
  },
  {
    pic: 'img/partners/airbus.png',
    href: '#'
  },
  {
    pic: 'img/partners/allianz.png',
    href: '#'
  },
  {
    pic: 'img/partners/atos.png',
    href: '#'
  },
  {
    pic: 'img/partners/cisco.png',
    href: '#'
  },
  {
    pic: 'img/partners/daimler.png',
    href: '#'
  },
  {
    pic: 'img/partners/dell.png',
    href: '#'
  },
  {
    pic: 'img/partners/ibm.png',
    href: '#'
  },
  {
    pic: 'img/partners/mitsubishi.png',
    href: '#'
  },
  {
    pic: 'img/partners/msc.png',
    href: '#'
  },
  {
    pic: 'img/partners/nxp.png',
    href: '#'
  },
  {
    pic: 'img/partners/sgs.png',
    href: '#'
  },
  {
    pic: 'img/partners/siemens.png',
    href: '#'
  },
  {
    pic: 'img/partners/telekom.png',
    href: '#'
  },
  {
    pic: 'img/partners/total.png',
    href: '#'
  },
  {
    pic: 'img/partners/tuv.png',
    href: '#'
  }
] %}


<section class="section">
  <div class="partner-slider-block">
    <div class="m-container">
      <div class="partner-slider-block__row row pt-8 pb-12 pt-lg-7 pb-lg-7 pb-sm-4">
        <div class="partner-slider-block__col col col-1 col-push-3 col-lg-push-2 col-md-push-0">
          <button class="partner-slider-block__button partner-slider-block__button_prev js-partner-slider-button-prev">{{ mixins.icon('arrow-prev') }}</button>
        </div>
        <div class="col col-16 col-lg-18 col-md-22 col-sm-12">
          <div class="partner-slider js-partner-slider">
            <div class="partner-slider__wrapper mb-5 mb-lg-4 js-partner-slider-wrapper">
              {% for i in partnersList %}
              <div class="partner-slider__slide js-partner-slider-slide">
                <a href="{{ i.href }}" class="partner-slider__partner-block partner-block">
                  <div class="partner-block__pic mb-4 mb-lg-3 mb-sm-1">
                    <img class="partner-block__img " src="{{ i.pic }}" alt=""/>
                  </div>
                  <div class="hover-elem partner-block__btn hover-elem btn btn_border is-white">
                      <span class="hover-elem__view">Learn more</span>
                      <span class="hover-elem__copy">Learn more</span>
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
            <div class="partner-slider__pagination js-partner-slider-pagination"></div>
          </div>
        </div>
        <div class="partner-slider-block__col col col-1">
          <button class="partner-slider-block__button partner-slider-block__button_next js-partner-slider-button-next">{{ mixins.icon('arrow-next') }}</button>
        </div>
      </div>
    </div>
  </div>
</section>
