<section class="section">
  <div class="partner-box">
    <div class="partner-box__circles-wrap">
      <div class="partner-box__circles">
        <img src="img/bg-src/circles.svg" alt="circles" />
      </div>
    </div>
    <div class="m-container partner-box__container">
      <div class="partner-box__content pt-14 pt-lg-8 pt-sm-6 pb-20 pb-md-11 pb-sm-9">
        <div class="article-info">
          <div class="row mb-7 mb-sm-12">
            <div class="col col-14 col-lg-16 col-md-20 col-sm-12 col-push-5 col-lg-push-4 col-md-push-2 col-sm-push-0">
              <h4 class="title title_sm">Deutsche Telekom</h4>
              <p class="text text_24-sm">Member of the Charter of Trust</p>
            </div>
          </div>
        </div>
        {% include '../containers/_article-head.html' %}
        {% include '../components/_video-block.html' %}
        <div class="article-quote-block">
          <div class="row mb-9 mb-lg-8">
            <div class="col col-8 col-lg-12 col-md-16 col-sm-12 col-push-7 col-lg-push-6 col-md-push-4 col-sm-push-0">
              <figure class="mb-6">
                <img src="img/partner-person.jpg" alt="" class="mb-2 mb-sm-1" />
                <figcaption class="text text_footnote">Dr. Thomas Kremer, Member of the Board of Management of Deutsche
                  Telekom AG for Data Privacy, Legal Affairs and Compliance</figcaption>
              </figure>
              <div class="text text_quote is-blue-b">“We must earn the trust of the general public when it comes to
                digitization. To do this, we must have mandatory security standards that apply throughout Europe and
                that
                address the entire value chain in order to make the security level of hardware and software transparent
                to
                consumers and companies.“</div>
            </div>
          </div>
        </div>
        <div class="article-block mb-9 mb-lg-7 mb-md-8 mb-sm-5">
          <div class="row ">
            <div class="col col-14 col-lg-16 col-md-20 col-sm-12 col-push-5 col-lg-push-4 col-md-push-2 col-sm-push-0">
              <div class="text text_20-sm">
                <p>The strong connected devices in the Internet of Things is skyrocketing. We are already looking at
                  more than 8 billion; by 2020, the figure is expected to have passed the 50 billion mark. These devices
                  can pose risks to IT structures and critical infrastructures. That is why we need binding security
                  standards for these devices as well. In addition, the security and trustworthiness of IT products
                  should be verified by an independent authority, including labeling that indicates the security
                  standards fulfilled by the inspected products. All vendors and providers who want to market their
                  products and services in Europe should be required to comply with EU laws and directives of relevance
                  to cybersecurity. This is the only way to build public trust in digitization.</p>
                <p>The number of connected devices in the Internet of Things is skyrocketing. We are already looking at
                  more than 8 billion; by 2020, the figure is expected to have passed the 50 billion mark. These devices
                  can pose risks to IT structures and critical infrastructures. That is why we need binding security
                  standards for these devices as well. In addition, the security and trustworthiness of IT products
                  should be verified by an independent authority, including labeling that indicates the security
                  standards fulfilled by the inspected products. All vendors and providers who want to market their
                  products and services in Europe should be required to comply with EU laws and directives of relevance
                  to cybersecurity. This is the only way to build public trust in digitization.</p>
              </div>
            </div>
          </div>
        </div>
        {% include '../containers/_article-img-gallery.html' %}
        {% include '../containers/_article-btn-block.html' %}
        <div class="article-block mb-9 mb-lg-7 mb-md-8 mb-sm-5">
          <div class="row ">
            <div class="col col-14 col-lg-16 col-md-20 col-sm-12 col-push-5 col-lg-push-4 col-md-push-2 col-sm-push-0">
              <div class="text text_20-sm">
                <p>The strong connected devices in the Internet of Things is skyrocketing. We are already looking at
                  more than 8 billion; by 2020, the figure is expected to have passed the 50 billion mark. These devices
                  can pose risks to IT structures and critical infrastructures. That is why we need binding security
                  standards for these devices as well. In addition, the security and trustworthiness of IT products
                  should be verified by an independent authority, including labeling that indicates the security
                  standards fulfilled by the inspected products. All vendors and providers who want to market their
                  products and services in Europe should be required to comply with EU laws and directives of relevance
                  to cybersecurity. This is the only way to build public trust in digitization.</p>
              </div>
            </div>
          </div>
        </div>
        {% include '../components/_video-block.html' %}
      </div>
    </div>
  </div>
</section>