{% set nav = [
  {
    text: 'Ownership for cyber and IT security',
    mode: 'is-active'
  },
  {
    text: 'Responsibility throughout the digital supply chain',
    mode: ''
  },
  {
    text: 'Security by default',
    mode: ''
  },
  {
    text: 'User-centricity',
    mode: ''
  },
  {
    text: 'Innovation and co-creation',
    mode: ''
  },
  {
    text: 'Education',
    mode: ''
  },
  {
    text: 'Certification for critical infrastructure and solutions',
    mode: ''
  },
  {
    text: 'Transparency and response',
    mode: ''
  },
  {
    text: 'Regulatory framework',
    mode: ''
  },
  {
    text: 'Joint initiatives',
    mode: ''
  }
] %}

<section class="section">
  <div class="principles" id="principles">
    <div class="principles__top pt-40 pt-lg-25 pt-md-30 pt-sm-15 pb-20 pb-lg-10 pb-sm-8">
      <div class="m-container">
        <div class="row mb-4 mb-lg-12 mb-md-4 mb-sm-6">
          <div class="col col-24 col-sm-12">
            <h2 class="title title_xxl title_center mb-5 mb-lg-4 mb-sm-2">Our 10 Principles</h2>
            <div class="title title_lg title_center is-white">Cybersecurity concerns all of us</div>
          </div>
        </div>
        <div class="row">
          <div class="col col-14 col-lg-16 col-md-20 col-sm-12 col-push-5 col-lg-push-4 col-md-push-2 col-sm-push-0">
            <div class="text text_24-sm text_center ">Cybersecurity is and has to be more than a seatbelt or an airbag
              here; it's a factor that's crucial to the success of the digital economy. People and organizations need to
              trust that their digital technologies are safe and secure; otherwise they won't embrace the digital
              transformation. That's why we are signing together a Charter of Trust bearing the principles that are
              fundamental to a secure digital world.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="principles__bottom">
      <div class="m-container">
        <div class="row principles__bottom-row js-principles-row">
          <div class="col col-9 col-lg-7 col-md-6 col-lg-push-1 col-md-push-0 principles__bottom-left">
            <div class="principles__nav-wrap pt-11 pb-11 js-principles-nav-wrap">
              <ul class="principles__nav">
                {% for item in nav %}
                <li><a class="js-principle-nav-link {{item.mode}}" href="{{loop.index}}"><span
                      class="pc-number">{{loop.index}}.</span><span
                      class="mob-number">{{loop.index}}</span>{{ item.text }}</a></li>
                {% endfor %}
              </ul>
              <ul class="principles__nav principles__nav--mob">
                {% for item in nav %}
                <li><a class="js-modal-link" href="#" data-target="principles" data-type="slider"
                    data-active-slide="{{loop.index}}"><span class="pc-number">{{loop.index}}.</span><span
                      class="mob-number">{{loop.index}}</span>{{ item.text }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col col-15 col-lg-16 col-md-18 principles__bottom-right js-principles-content">
            <div class="principles__main-inner pt-11 pb-6">
              {% for item in principlesContent %}
              <div class="principle-block {{ item.mode }} js-principle-block " data-index="{{loop.index}}">
                <h4 class="title title_sm principle-block__title mb-3"><span>{{loop.index}}.</span>{{ item.title }}</h4>
                <div class="text text_20-sm principle-block__text">{{ item.text | safe}}</div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="principles__bottom-line"></div>
    </div>
  </div>
</section>
