

{% set filterBtns = [
  {
    mode: '',
    filter: '.reports',
    text: 'Reports'
  },
  {
    mode: '',
    filter: '.webinars',
    text: 'Webinars'
  }
] %}


{% set resources = [
  {
    head: 'Allianz',
    title: 'Risk trends, responses and the outlook for insurance Report',
    pdf: false
  },
  {
    head: 'Allianz',
    title: 'Risk trends, responses and the outlook for insurance Report',
    pdf: false
  }
] %}

<section class="section js-latest-section">
  <div class="resources">
    <div class="resources__top is-header-padding">
      <div class="resources__top-inner pt-7 pt-lg-11 pt-sm-6">
        <div class="m-container">
          <div class="row">
            <div class="col col-14 col-lg-16 col-md-20 col-sm-12 col-push-2 col-lg-push-1 col-md-push-2 col-sm-push-0">
              <h1 class="title title_xxl mb-5 mb-lg-4 mb-sm-3">Resources</h1>
              <h2 class="title title_lg is-yellow">The Charter of Trust Partners have produced a series of useful resources and tool kits.</h2>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="resources__main pt-17 pt-md-10 pt-sm-10 pb-20 pb-lg-12 pb-md-15 pb-sm-12 js-latest-content">
      <div class="m-container">
        <div class="row">
          <div class="col col-22 col-lg-24 col-push-1 col-lg-push-1 col-md-push-2 col-sm-12 col-sm-push-0">
            <div class="resources__main-inner">
              {% for item in resources %}

                <a class="resource"  href="#">
                  <div class="row">
                    <div class="col col-22-18 col-lg-16 col-md-15 col-sm-12 resource__text-col">
                        <div class="resource__text-col-inner  pt-3 pb-4 pb-md-3">
                          <div class="text text_16-default mb-2">{{ item.head }}</div>
                          <h3 class="title title_sm">{{ item.title }}</h3>
                        </div>
                    </div>
                    <div class="col col-22-4 col-lg-8 col-md-9 col-sm-12 resource__btn-col">
                      <div class="resource__btn-col-inner">
                        {% if item.pdf %}
                        <div class="resource-btn">
                          <span class="resource-btn__icon">
                            <svg viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <g >
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5002 0.5H5.50017V10.25H2.43799L8.50017 18.5L14.5623 10.25H11.5002V0.5Z" />
                              <rect  class="line" x="0.5" y="18.5" width="16" height="2" />
                              </g>
                              </svg>

                          </span>
                          <span class="resource-btn__text"><span>PDF</span></span>
                        </div>
                        {% else %}
                        <div class="resource-btn">
                          <span class="resource-btn__icon">
                            <svg viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <g>
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M1.09446 14.2942L5.33558 18.5353L12.2297 11.6412L14.3941 13.8056L15.9427 3.68691L5.82396 5.23547L7.98856 7.40007L1.09446 14.2942Z"/>
                              <rect class="line" x="0.5" y="18.5" width="16" height="2"/>
                              </g>
                            </svg>
                          </span>
                          <span class="resource-btn__text"><span>Web</span></span>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="resources__circles-wrapper">
        <div class="m-container">
          <div class="row">
            <div class="col col-24 col-sm-12 ">
              <div class="resources__circles">
                <img src="img/bg-src/circles.svg" alt="circles" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

