

{% set filterBtns = [
  {
    mode: '',
    filter: '.reports',
    text: 'Reports'
  },
  {
    mode: '',
    filter: '.webinars',
    text: 'Webinars'
  }
] %}


{% set topics = [
  {
    gridMode: 'reports',
    mode: ' ',
    episode: 'Principle 6: Education',
    title: 'Best Practices for Ensuring Cybersecurity in Small and Medium-Sized Enterprises',
    text: 'REPORTS Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia erat et porttitor ullamcorper. Donec tempor tempor ligula, vitae pharetra ligula. Aliquam erat volutpat. Maecenas libero purus, convallis at laoreet et, pellentesque vitae sapien. Pellentesque pretium tortor eros, at feugiat eros semper ut.',
    btnMode: 'btn_blue-b',
    btnText: 'Read more',
    img: 'img/contact-image.jpg'
  },
  {
    gridMode: 'webinars',
    mode: ' ',
    episode: 'Principle 6: Education',
    title: 'Best Practices for Ensuring Cybersecurity in Small and Medium-Sized Enterprises',
    text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
    btnMode: 'btn_blue-b',
    btnText: 'Read more',
    img: 'img/contact-image.jpg'
  },
  {
    gridMode: 'reports',
    mode: ' ',
    episode: 'Principle 6: Education',
    title: 'Best Practices for Ensuring Cybersecurity in Small and Medium-Sized Enterprises',
    text: 'REPORTS Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia erat et porttitor ullamcorper. Donec tempor tempor ligula, vitae pharetra ligula. Aliquam erat volutpat. Maecenas libero purus, convallis at laoreet et, pellentesque vitae sapien. Pellentesque pretium tortor eros, at feugiat eros semper ut.',
    btnMode: 'btn_blue-b',
    btnText: 'Read more',
    img: 'img/contact-image.jpg'
  },
  {
    gridMode: 'webinars',
    mode: ' is-disabled',
    episode: 'Principle 2: Responsibility throughout the digital supply chain ',
    title: 'Transformative changes to the operations and global supply chains',
    text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia erat et porttitor ullamcorper. Donec tempor tempor ligula, vitae pharetra ligula. Aliquam erat volutpat. Maecenas libero purus, convallis at laoreet et, pellentesque vitae sapien. Pellentesque pretium tortor eros, at feugiat eros semper ut.',
    btnMode: 'btn_disable',
    btnText: 'Coming soon',
    img: 'img/contact-image.jpg'
  },
  {
    gridMode: 'reports',
    mode: '',
    episode: 'Principle 6: Education',
    title: 'Best Practices for Ensuring Cybersecurity in Small and Medium-Sized Enterprises',
    text: 'REPORTS Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia erat et porttitor ullamcorper. Donec tempor tempor ligula, vitae pharetra ligula. Aliquam erat volutpat. Maecenas libero purus, convallis at laoreet et, pellentesque vitae sapien. Pellentesque pretium tortor eros, at feugiat eros semper ut.',
    btnMode: 'btn_blue-b',
    btnText: 'Read more',
    img: 'img/contact-image.jpg'
  }
] %}

<section class="section js-latest-section">
  <div class="topics">
    <div class="topics__top pb-3  is-header-padding">
      <div class="topics__top-inner pt-9 pt-lg-11 pt-sm-6">
        <div class="m-container">
          <div class="row">
            <div class="col col-14 col-lg-16 col-md-20 col-sm-12 col-push-1 col-lg-push-1 col-md-push-2 col-sm-push-0">
              <h1 class="title title_xxl mb-5 mb-lg-4 mb-sm-3">Topics</h1>
              <h2 class="title title_lg mb-4 mb-sm-3 is-yellow">Addressing emerging concerns to ensure security </h2>
              <div class="text text_24-sm">We are working on every end to protect, prevent and create a secure digital
                world. And cybersecurity isn't always rocket science. From small, medium-sized to large enterprises
                already a few easy actions are a good start to provide more cybersecurity. A pick of our topics.</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="latest-top latest-top--topics">
      <div class="latest-top__inner js-latest-nav-wrap">
        <div class="latest-nav js-latest-nav is-active">
          <div class="m-container">

              <div class="col col-24 col-sm-12">
                <div class="latest-nav__inner">
                  <div class="latest-nav__btn-icon js-latest-nav-btn">
                    <i>{{mixins.icon('filter-copy')}}</i>
                  </div>
                  <div class="latest-nav__content">
                    <div class="latest-nav__content-inner">
                      <div class="text text_20-sm latest-nav__text-count">
                        Select the labels to filter
                        <span class="hide-mob">
                          | <span class="text text_16-default">Showing <span class="js-filter-active-count">12</span> of
                            <span class="js-filter-total-count">19</span> results</span>
                        </span>
                      </div>
                      <div class="latest-nav__filter-btns">
                        {% for item in filterBtns %}
                        <button class="btn btn_border {% if item.mode %}{{ item.mode }}{% endif %} js-filter-btn"
                          data-filter="{{item.filter}}">
                          <span><i>{{item.text}}</i></span>
                          {{mixins.icon('close')}}
                        </button>
                        {% endfor %}
                      </div>
                      <span class="show-mob">
                        <span class="text text_24-reg">Showing <span class="js-filter-active-count">12</span> of
                        <span class="js-filter-total-count">19</span> results</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="topics__main pt-12 pt-md-6 pt-sm-4 pb-20 pb-lg-12 pb-md-15 pb-sm-12 js-latest-content">
      <div class="m-container">
        <div class="row">
          <div class="col col-22 col-lg-24 col-push-1 col-lg-push-1 col-md-push-2 col-sm-12 col-sm-push-0">
            <div class="topics__main-inner">
              <div class="grid-block grid-block--topics js-isotope-grid">
                <div class="grid-sizer js-grid-sizer"></div>
                {% for item in topics %}
                <div class="grid-item {% if item.gridMode %}{{ item.gridMode }}{% endif %} js-grid-item">
                  <div class="topic {{ item.mode }}">
                    <div class="row">
                      <div class="col col-22-13 col-lg-16 col-md-15 col-sm-12 topic__text-col">
                          <a class="topic__link  pt-3 pb-4 pb-md-3" href="#">
                            <div class="text text_16-default mb-3">{{ item.episode }}</div>
                            <h3 class="title title_sm mb-3 mb-sm-2">{{ item.title }}</h3>
                            <div class="text text_16-default topic__main-text mb-3">{{ item.text }}</div>
                            <div class="topic__btns">
                              <div  class="btn {{ item.btnMode }}"><span>{{ item.btnText }}</span></div>
                            </div>
                          </a>
                      </div>
                      <div class="col col-22-9 col-lg-8 col-md-9 col-sm-12 topic__img-col">
                        <div class="topic__img">
                          <div class="topic__img-inner">
                            <img src="{{ item.img }}" alt="alt" data-object-fit="cover" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="topics__circles-wrapper">
        <div class="m-container">
          <div class="row">
            <div class="col col-24 col-sm-12 ">
              <div class="topics__circles">
                <img src="img/bg-src/circles.svg" alt="circles" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
