<div class="section">
  <div class="wall pb-40 pb-lg-25 pb-md-30 pb-sm-15  ">
    <div class="m-container">
      <div class="row">
        <div class="col col-24 col-sm-12 wall__bg">
          <div class="wall__bg-circles">
            <img src="img/bg-src/circles-white.svg" alt="circles" />
          </div>
        </div>
      </div>
    </div>
    <div class="wall__content">
      <div class="m-container">
        <div class="row pt-40 pt-lg-28 pt-md-30 pt-sm-60 pb-14 pb-lg-12 pb-sm-6">
          <div class="col col-24 col-sm-12">
            <h1 class="title title_xxl title_center is-white mb-5 mb-lg-4 mb-sm-3">#CharterOfTrust</h1>
            <div class="title title_lg title_center">
              Talk about and follow us @
            </div>
            <div class="socials wall__socials mt-4">
              <a class="btn btn_round-wall" href="#">
                {{mixins.icon('twitter')}}
              </a>
              <a class="btn btn_round-wall" href="#">
                {{mixins.icon('linkedin')}}
              </a>
              <a class="btn btn_round-wall" href="#">
                {{mixins.icon('facebook')}}
              </a>
              <a class="btn btn_round-wall" href="#">
                {{mixins.icon('youtube')}}
              </a>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col col-22 col-md-24 col-sm-12 col-push-1 col-md-push-0 col-sm-push-0">
            <div class="wall__content-inner">
              <div id="flockler-embed-16f9df5c5940206cd0c9e90574910e79"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-8 col-lg-12 col-md-16 col-sm-11 col-push-2 col-lg-push-4 col-md-push-2 col-sm-push-1">
            <div class="title title_xs mb-4 mb-sm-2">Eager for more content? </div>
            <a class="btn btn_border btn_twitter hover-elem" href="#">
              <span class="hover-elem__view">
                <i>{{mixins.icon('twitter-simple')}}</i>
                Follow us
              </span>
              <span class="hover-elem__copy">
                <i>{{mixins.icon('twitter-simple')}}</i>
                Follow us
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
