<!-- begin grid -->
<div class="grid js-grid">
  <div class="m-container">
    <div class="row grid__inner">
        {% for item in range(0, 24) %}
        <div class="col col-1 col-sm-1 grid__col"><div>{{loop.index}}</div></div>
        {% endfor %}
    </div>
  </div>
</div>
<!-- end grid -->
