<div class="img-gallery-wrap mb-12 mb-md-12 mb-sm-6">
  <div class="row">
    <div class="col col-14 col-lg-16 col-md-20 col-sm-12 col-push-5 col-lg-push-4 col-md-push-2 col-sm-push-0">
      <div class="img-gallery swiper-container js-img-gallery">
        <div class="img-gallery__wrapper swiper-wrapper">
          <div class="img-gallery__slide swiper-slide js-img-gallery-slide">
            <div class="img-gallery__img mb-2 mb-sm-1 ">
              <img src="img/partner-person.jpg" alt="alt" data-object-fit="cover" />
            </div>
            <div class="img-gallery__text">
              <div class="text text_footnote">Dr. Thomas Kremer, Member of the Board of Management of Deutsche Telekom
                AG for Data Privacy, Legal Affairs and Compliance</div>
            </div>
          </div>
          <div class="img-gallery__slide swiper-slide js-img-gallery-slide">
            <div class="img-gallery__img mb-2 mb-sm-1 ">
              <img src="img/partner-person.jpg" alt="alt" data-object-fit="cover" />
            </div>
            <div class="img-gallery__text">
              <div class="text text_footnote">2Dr. Thomas Kremer, Member of the Board of Management of Deutsche Telekom
                AG for Data Privacy, Legal Affairs and Compliance</div>
            </div>
          </div>
          <div class="img-gallery__slide swiper-slide js-img-gallery-slide">
            <div class="img-gallery__img mb-2 mb-sm-1 ">
              <img src="img/partner-person.jpg" alt="alt" data-object-fit="cover" />
            </div>
            <div class="img-gallery__text">
              <div class="text text_footnote">3Dr. Thomas Kremer, Member of the Board of Management of Deutsche Telekom
                AG for Data Privacy, Legal Affairs and Compliance</div>
            </div>
          </div>
        </div>
        <div class="img-gallery__pagination js-img-gallery-pagination"></div>
      </div>
    </div>
  </div>
</div>