<div class="article-btn-block mb-12 mb-sm-7">
  <div class="row">
    <div class="col col-8 col-lg-11 col-md-16 col-sm-11 col-push-5 col-lg-push-4 col-md-push-2 col-sm-push-1">
      <h4 class="title title_xs is-blue-b mb-4 mb-sm-2">{{articleBtnBlock.text}}</h4>
      <a href="#" class="hover-elem btn btn_border is-blue-b">
        <span class="hover-elem__view">{{articleBtnBlock.btnText}}</span>
        <span class="hover-elem__copy">{{articleBtnBlock.btnText}}</span>
      </a>
    </div>
  </div>
</div>