<div class="article-head">
  <div class="row mb-8 mb-lg-9 mb-sm-5">
    <div class="col col-14 col-lg-16 col-md-20 col-sm-12 col-push-5 col-lg-push-4 col-md-push-2 col-sm-push-0">
      <h3 class="title title_lg is-blue-b mb-4 mb-lg-5 mb-sm-3">{{articleHead.title}}</h3>
      <div class="text text_24-sm">
        <p>{{articleHead.text}}</p>
      </div>
    </div>
  </div>
</div>