<div class="event-block pt-4 pb-6">
  <div class="row mb-3 mb-md-4 mb-sm-3">
    <div class="col col-22-15 col-lg-16 col-sm-10 col-sm-push-1 event-block__text-side pl-4 pl-md-3 pl-sm-0 ">
      <h3 class="title title_sm mb-2 mb-md-3 mb-sm-1">{{item.title}}</h3>
      <div class="text text_16-default event-block__text">{{item.text}}</div>
    </div>
    <div class="col col-22-6 col-lg-5 col-sm-10 col-22-push-1 col-lg-push-2 col-sm-push-1 pr-3 pr-lg-0 mb-sm-5 event-block__date-side">
      <div class="text text_center text_48 is-blue-b  mb-1">{{item.date}}</div>
      <div class="text text_center text_24 mb-1">{{item.month}}</div>
      <div class="text text_center text_16-default">{{item.time}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col col-22-15 col-lg-16 col-sm-10 col-sm-push-1 event-block__location-side pl-4 pl-md-3 pl-sm-0 mb-sm-5">
      <div class="text text_24-md mb-1">{{item.location}}</div>
      <div class="text text_16-default">{{item.location_text}}</div>
    </div>
    <div class="col col-22-6 col-lg-5 col-sm-10 col-22-push-1 col-lg-push-2 col-sm-push-1 event-block__btns-side pr-3 pr-lg-0">
      {% if item.dateBtn %}
      <button class="hover-elem btn btn_border event-block__text-btn ">
        <span class="hover-elem__view">Save the date</span>
        <span class="hover-elem__copy">Save the date</span>
      </button>
      <button class="hover-elem btn btn_round  event-block__icon-btn ">
        <span class="hover-elem__view"><i>{{mixins.icon('calendar-main')}}</i></span>
        <span class="hover-elem__copy"><i>{{mixins.icon('calendar-main')}}</i></span>
      </button>
      {% endif %}
      {% if item.LearnBtn %}
      <a class="btn btn_blue-b" href="#"><span>Learn more</span></a>
      {% endif %}
    </div>
  </div>
</div>