<div class="text-img-block mt-6 mb-7">
  <div class="row">
    <div class="col col-14 col-lg-16 col-md-20 col-sm-12 col-push-5 col-lg-push-4 col-md-push-2 col-sm-push-0">
      <div class="text-img-wrap">
        {% for item in blocks %}
        <div class="text-img-item {{item.mode}}">
          <div class="text-img-item__img mb-2 mb-sm-3">
            <img src="{{item.img}}" alt="alt" data-object-fit="cover" />
          </div>
          <div class="text-img-item__text">{{item.text}}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>