{% if item.mode == 'latest-card_video' %}
<div class="latest-card latest-card_grid {{ item.mode }}">
  {% else %}
  <a class="latest-card latest-card_grid {{ item.mode }}" href="#">
    {% endif %}
    {% if item.img %}
    <div class="latest-card__img">
      <img src="img/{{item.img}}" alt="alt" data-object-fit="cover" />
    </div>
    {% endif %}
    <div class="latest-card__content {{item.contentPadding}}">
      <div class="text text_16-default latest-card__date mb-2  {% if item.dateMode %}{{ item.dateMode }}{% endif %}">
        {{item.date}}</div>
      <div class="latest-card__inner ">
        <h4 class="text text_24 latest-card__title mb-3 {% if item.mode %}{{ item.titleMode }}{% endif %}">
          {{item.title}}</h4>
        <div class="latest-card__text text text_16-default {% if item.textMode %}{{ item.textMode }}{% endif %}">
          {{item.text}}</div>
        <div class="latest-card__btns">
          {% if item.videosrc  %}
          <a class="btn btn_play btn_blue-b latest-card__btn mr-2 js-modal-link" href="#" data-type="video"
            data-target="video-modal" data-video-src="{{item.videosrc}}" data-video-type="{{item.videotype}}">
            <span> <i>{{mixins.icon('play')}}</i></span>
          </a>
          <a class="btn btn_blue-b latest-card__btn" href="#">
            <span>Read more</span>
          </a>
          {% else %}
          <div class="btn btn_blue-b latest-card__btn" href="#">
            <span>Read more</span>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% if item.mode == 'latest-card_video' %}
</div>
{% else %}
</a>
{% endif %}