<div class="video-block mb-12 mb-sm-7">
  <div class="row">
    <div class="col col-14 col-lg-16 col-md-20 col-sm-12 col-push-5 col-lg-push-4 col-md-push-2 col-sm-push-0">
      <div class="video-block__inner">
        <video class="js-player" controls playsinline poster="img/poster-image.jpg">
          <source src="img/hero/hero.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</div>