<div class="modal modal_slider js-modal" data-modal="principles">
    <div class="modal__overlay js-modal-overlay">
      <div class="modal__content js-modal-content">
        <div class="modal__content-inner">
          <div class="modal__close js-modal-close"></div>
          <div class="modal__slider-wrap">
            <div class="principles-slider swiper-container mb-4 js-modal-slider" data-slider-inited="false">
              <div class="swiper-wrapper">
                {% for item in principlesContent %}
                <div class="swiper-slide principles-slider__slide">
                  <div class="principles-slider-block">
                    <div class="principles-slider-block__number mb-3">{{loop.index}}</div>
                    <h4 class="principles-slider-block__title mb-3">{{ item.title }}</h4>
                    <div class="principles-slider-block__text">{{ item.text | safe}}</div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="swiper-pagination js-modal-slider-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>