<div class="modal modal_video js-modal" data-modal="video-modal">
  <div class="modal__overlay js-modal-overlay">
    <div class="modal__bg">
      <img src="img/bg-src/diagonal.svg" alt="bg"/>
    </div>
    <div class="m-container">
      <div class="row">
        <div class="col col-22 col-sm-12 col-push-1 col-sm-push-0">
          <div class="modal__content js-modal-content">
            <div class="modal__content-inner">
              <div class="modal__close js-modal-close">{{mixins.icon('close')}}</div>
              <div class="modal__video-block">
                <div class="modal__video-wrapper js-modal-video-wrap">
                  <video class="js-hero-video" controls playsinline loop>
                    <source src="img/hero/hero.mp4" type="video/mp4" />
                  </video>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>