{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#fff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" media="all" href="css/common.css"/>
    <link rel="stylesheet" media="all" href="css/grid.css"/>
    {% for item in modules %}
    <link rel="stylesheet" media="all" href="css/{{ item }}.css"/>
    {% endfor %}
    <link rel="apple-touch-icon" sizes="180x180" href="img/tech-imgs/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="img/tech-imgs/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="img/tech-imgs/favicon-16x16.png"/>
    <link rel="manifest" href="img/tech-imgs/site.webmanifest"/>
    <link rel="mask-icon" href="img/tech-imgs/safari-pinned-tab.svg" color="#003750"/>
    <meta name="msapplication-TileColor" content="#003750"/>
    <meta name="theme-color" content="#003750"/>
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body {% if bodyMode %}class="{{ bodyMode }}"{% endif %} >
    {% include '../partials/_grid.html' %}

    <!-- BEGIN content -->
    <div class="out {% if outMode %}{{ outMode }}{% endif %} js-out">
      {% block content %}{% endblock %}

      {% if globalLines %}
      <div class="global-lines{% if globalLinesMode %} {{ globalLinesMode }}{% endif %}" style="background-image: url('{% if customBgLines %}{{ customBgLines }}{% else %}img/bg-src/diagonal.svg{% endif %}');"></div>
      {% endif %}

      {% if fixedBgBlock %}
      <div class="fixed-bg-block {% if fixedBgBlockMode %}{{ fixedBgBlockMode }}{% endif %} js-fixed-bg-block"></div>
      {% endif %}
    </div>
    <!-- END content -->




    <!-- BEGIN scripts -->
    <script type="text/javascript" src="lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/grid.js"></script>
    {% for item in scripts %}
    <script type="text/javascript" src="js/{{ item }}.js"></script>
    {% endfor %}

  {% if flockler %}
    <script>
      var _flocklerOverride = _flocklerOverride || {};
      _flocklerOverride['16f9df5c5940206cd0c9e90574910e79'] = {
        tags: ['cybersecurity'],
        count: window.innerWidth < 720 ? 6 : 12
      };
    </script>
    
    <script src="https://flockler.embed.codes/2D8D32" async></script>
  {% endif %}

    <!-- END scripts -->
  </body>
</html>
