.btn
    $this: &
    position: relative
    display: inline-block
    vertical-align: top
    appearance: none
    border: none
    background: transparent
    font-size: 0
    +reg
    &:before
        content: ''
        position: absolute
        width: 100%
        height: 100%
        left: 0
        top: 0
        border-radius: 24px
        background: rgba($blue, 0.3)
        transition: opacity $easing
        opacity: 0
        filter: blur(16px)
        +gpu
        +is-ie
            display: none
    &:not(.hover-elem)
        span
            transition: transform $easing
            +gpu
            transform-origin: 50% 50%
        +hover
            &:before
                opacity: 1
            span
                transform: translateY($hoverY)
                -ms-transform: translateY(0px)
    span
        display: inline-flex
        align-items: center
        background: $blue
        min-height: 48px
        padding: 0px 24px
        font-size: 16px
        line-height: 1
        color: $white
        border-radius: 24px
        +is-ie
            height: 48px
        +md
            font-size: 12px
    &_yellow
        &:before
            background: rgba($yellow, 0.3)
        span
            background: $yellow
    &_blue-b
        &:before
            background: rgba($bblue, 0.3)
        span
            background: $bblue
    &_border
        span
            background: transparent
            border: 1px solid $blue
            color: $blue
            &.hover-elem__copy
                color: rgba($blue, 0)
                svg
                    opacity: 0
        &:before
            display: none
        &.is-white
            span
                color: $white
                border-color: $white
                &.hover-elem__copy
                    color: rgba($blue, 0)
        &.is-blue-b
            span
                color: $bblue
                border-color: $bblue
                &.hover-elem__copy
                    color: rgba($blue, 0)
    &_play
        span
            display: flex
            align-items: center
            justify-content: center
            width: 48px
            height: 48px
            padding: 0
        svg
            font-size: 20px
            fill: $white
    &_mail, &_phone
        i
            margin-right: 12px
    &_phone
        i
            position: relative
            top: 1px
            +gpu
        svg
           font-size: 20px
    &_twitter
        i
            margin-right: 16px
    &_mail, &_twitter, &_phone
      svg
            fill: $blue
    &_round
        svg
            font-size: 48px
            fill: $blue
        span
            font-size: 0
            display: block
            min-height: auto
            padding: 0
            border-radius: 0
            background: none
            &.hover-elem__copy
                border-radius: 50%
                border: 1px solid $blue
                svg
                    opacity: 0
    &_round-wall
      &:before
        display: none
      svg
        font-size: 48px
        fill: $blue
        transition: fill $easing
      +hover
        svg
          fill: white
    &_disable
        pointer-events: none
        user-select: none
        cursor: default
        span
            background: $gray
