.form
  $this: &
  &__wrap
    +sm
      display: flex
      flex-wrap: wrap
  &__check-wrap
      width: 100%
      +sm
        order: 0
  &__btns-wrap
    font-size: 0
    width: 100%
    +sm
      order: 1
    div
      +sm
        display: block
  &__field
    input
      display: flex
      align-items: center
      width: 100% 
      height: 29px
      padding-top: 4px
      padding-bottom: 4px
      border: none
      border-radius: 0
      border-bottom: 1px solid $blue
      +reg
      font-size: 16px
      line-height: 1.5
      color: $blue
      transition: border-color $easing
    &_action
      position: relative
      padding-bottom: 12px
      span
        position: absolute
        top: 50%
        left: 0
        font-size: 12px
        line-height: 1
        transform-origin: 0 50% 
        transform: scale(1.66) translateY(calc(-50% + 1px)) 
        transition: color $easing, transform $easing
        pointer-events: none
        color: $cblue
        +is-ie
          transform: scale(1.66) translateY(-48%) 
      &.is-active
          span
            transform: scale(1) translateY(calc(100% + 4px)) 
            +is-ie
              transform: scale(1) translateY(106%) 
    &.is-error
      input
        border-color: $red
  &__check
    position: relative
    font-size: 0
    input
      display: none
      &:checked + label
        i
          &:before
            opacity: 1
    label
      position: relative
      display: block
      width: 100%
      padding-left: 24px  
      padding-top: 2px
      cursor: pointer
      user-select: none
    i
      position: absolute
      display: block
      left: 0
      top: 0
      width: 16px
      height: 16px
      border: 1px solid $blue
      transition: border-color $easing
      &:before
        content: ''
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        width: 10px
        height: 10px
        background: $bblue
        opacity: 0
        transition: opacity $easing
        +is-ms
          transform: none
          margin-left: -5px
          margin-top: -5px

    &.is-error
        i
          border-color: $red

