.hover-elem
  $this: &
  position: relative
  display: inline-block
  vertical-align: top
  +gpu
  +hover
    #{$this}__view
      transform: translateY($hoverY)
      -ms-transform: translateY(0px)
    #{$this}__copy
      opacity: 1
  &__view
    position: relative
    z-index: 1
    display: inline-block
    vertical-align: top
    transition: transform $easing
  &__copy
    position: absolute
    z-index: 0
    display: inline-block
    vertical-align: top
    left: 0
    top: 0
    opacity: 0
    filter: blur(3px)
    transition: opacity $easing
    +is-ie
      display: none