.link
    color: $blue
    &_16
        font-size: 16px
        line-height: 1
        +bold
    &_14
        font-size: 14px
        line-height: 1.143
    &_20
        font-size: 20px
        line-height: 1.2
        +lg
            font-size: 16px
        &.is-active
    &_24
        font-size: 24px
        line-height: 1.25
        +bold
        +lg
            font-size: 20px
        +md
            font-size: 16px
            line-height: 1.5
    &.is-active
        text-decoration: underline

.download-link
  $this: &
  display: block
  +hover
    #{$this}__inner
      &::after
        transform: translateX(0)
      span
        transform: translateY(0)
    i
      &::after
        transform: translateX(102%)
  i
    position: relative
    top: 0px
    overflow: hidden
    display: block
    line-height: 1
    font-size: 0
    margin-right: 16px
    flex-shrink: 0
    flex-grow: 0
    &::after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 2px
      background: $blue
      transition: transform $easingbig
  svg
    width: 16px
    height: 24px
    fill: $blue
    .icon-line
      opacity: 0
  &__wrapper
    display: flex
    align-items: flex-end
    justify-content: flex-start
  &__inner
    position: relative
    overflow: hidden
    display: block
    flex-shrink: 1
    &::after
      content: ''
      position: absolute
      left: 0
      width: 100%
      height: 2px
      background: $blue
      bottom: 0
      transform: translateX(-102%)
      transition: transform $easingbig
    span
      position: relative
      display: block
      transition: transform $easingbig
      transform: translateY(2px)
  &_simple
      #{$this}__wrapper
        align-items: flex-start
      #{$this}__inner
        overflow: visible
        &::after
          display: none
      i
        +sm
          margin-top: -3px
  &_pseudo
    i
      padding: 5px 2px 2px
      +sm
        padding: 0px 2px
        margin-top: 0
    svg
      width: 18px
      height: 18px
  &.is-white
      #{$this}__inner
        &::after
          background: $white
