.text
  font-size: 16px
  +reg
  &_12
    font-size: 12px
    line-height: 1.33
  &_14
    font-size: 14px
    line-height: 1.143
  &_16-default
    font-size: 16px
    line-height: 1.5
  &_16
    font-size: 16px
    line-height: 1.5
    +bold
    +sm
      font-size: 12px
      line-height: 1.33
  &_20
    font-size: 20px
    line-height: 1.2
    +bold
  &_20-sm
    font-size: 20px
    line-height: 1.2
    +sm
      font-size: 16px
      line-height: 1.5
  &_24-reg
    font-size: 24px
    line-height: 1
  &_24
    font-size: 24px
    line-height: 1
    +bold
  &_24-md
    font-size: 24px
    line-height: 1
    +bold
    +md
      font-size: 20px
      line-height: 1.2
  &_24-sm
    font-size: 24px
    line-height: 1.333
    +sm
      font-size: 20px
      line-height: 1.2
  &_48
    font-size: 48px
    line-height: 1
    +bold
  &_quote
    font-size: 24px
    line-height: 1.333
    +boldi
    &-name
      font-size: 24px
      line-height: 1
      +lg
        font-size: 16px
        line-height: 1.5
        // need to check mob

  &_footnote
    font-size: 16px
    line-height: 1
    +sm
      font-size: 14px
      line-height: 1.143
  &_center
    text-align: center

