.title
  line-height: 1
  &_xxl
    font-size: 64px
    +bold
    +lg
      font-size: 48px
    +sm
      font-size: 32px
  &_xl, &_xl-reg
    +boldi
    font-size: 48px
    line-height: 1.166
    +lg
      font-size: 32px
      line-height: 1.25
    +sm
      font-size: 20px
      line-height: 1.2
  &_xl-reg
    +bold
  &_xm-reg, &_xm
    +bold
    font-size: 42px
    line-height: 1.19
    +lg
      font-size: 32px
      line-height: 1.25
    +sm
      font-size: 20px
      line-height: 1.2
  &_xm
    +boldi
  &_lg
    font-size: 40px
    +lg
      font-size: 32px
    +sm
      font-size: 24px
  &_md
    font-size: 40px
    +bold
    +lg
      font-size: 32px
    +sm
      font-size: 20px
      line-height: 1.2
  &_sm
    font-size: 32px
    +bold
    +md
      font-size: 24px

  &_xs
    font-size: 32px
    +sm
      font-size: 24px
  &_center
    text-align: center


