.video-block
  &__inner
    position: relative
    +is-ie
      height: 0
      padding-bottom: 56.25%
      video
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        object-fit: cover
        outline: none
.plyr
  $this: &
  &__poster
    background-size: cover
  &__tooltip
    background: $bblue
    color: $white
    &:before
      border-top: 4px solid $bblue
  &--full-ui
    input[type=range]
      &::-webkit-slider-thumb
        background: $bblue
      &::-moz-range-thumb
        background: $bblue
      &::-ms-thumb
        background: $bblue
.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover
  box-shadow: none
  background: none
.plyr--video .plyr__controls, .plyr__progress input[type=range], .plyr__volume input[type=range]
  color: $bblue
.plyr__control--overlaid
  background: $bblue
.plyr__controls__item.plyr__volume, .plyr__progress
  outline: none