.icon-arrow-next {
  width: 0.56em;
  height: 1em;
  fill: initial;
}
.icon-arrow-prev {
  width: 0.56em;
  height: 1em;
  fill: initial;
}
.icon-calendar-01 {
  width: 1.16em;
  height: 1em;
  fill: initial;
}
.icon-calendar-main {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-calendar {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close-01 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-download-right {
  width: 1.5em;
  height: 1em;
  fill: initial;
}
.icon-download {
  width: 0.67em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-filter-01 {
  width: 0.77em;
  height: 1em;
  fill: initial;
}
.icon-filter-copy {
  width: 0.77em;
  height: 1em;
  fill: initial;
}
.icon-filter {
  width: 0.77em;
  height: 1em;
  fill: none;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1.53em;
  height: 1em;
  fill: #003750;
}
.icon-phone-01 {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter-simple {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}
